body.colors {
  display: flex;
  overflow-x: hidden;
  .header-left {
    overflow: hidden;
    z-index: 2;
    background-color: #df024d;
    padding-left: 2.963vw;
    position: fixed;
    width: 22.963vw;
    height: 100vh;
    border-right: 0.074vw solid #000;

    > a {
      margin-top: 2.444vw;
      > img {
        margin-top: 2.444vw;
        width: 6.222vw;
        height: 1.636vw;
      }
    }

    .menu {
      margin-top: 5.55vw;
      display: flex;
      flex-direction: column;
      gap: 1.778vw;

      > a {
        > h2 {
          color: #fff;
          font-family: 'SuisseIntl-Regular';
          font-size: 1.556vw;
          font-style: normal;
          line-height: 115%;
        }

        #now {
          color: #ef80a6;
        }
      }
    }

    .round {
      width: 34.519vw;
      height: 34.519vw;
      position: absolute;
      left: -11.852vw;
      top: 30.593vw;
      border-radius: 34.519vw;
      background: radial-gradient(
        58.48% 58.48% at 50% 50%,
        #00fe0d 16.97%,
        #01ee8f 51.59%,
        #03ceac 83.1%
      );

      filter: blur(1.486vw);
    }
  }

  .right-content {
    margin-left: 25.926vw;
    width: 74.074vw;
    .header {
      background: #df024d;
      width: 100%;
      height: 100vh;
      padding-bottom: 3.852vw;
      display: flex;
      position: relative;
      overflow: hidden;

      .header-right {
        margin-left: 8.667vw;
        margin-top: 7.407vw;

        .top-mobile-menu {
          display: none;
        }

        > h1 {
          color: #fff;
          font-family: 'SuisseIntl-Medium';
          font-size: 7.407vw;
          font-style: normal;
          line-height: 115%;
        }

        > h3 {
          margin-top: 0.741vw;
          color: rgba(255, 255, 255, 0.8);
          font-family: 'SuisseIntl-Regular';
          font-size: 1.259vw;
          font-style: normal;
          line-height: 130%;
        }

        .paragraphMenu {
          margin-top: 6vw;
          margin-left: 23.556vw;
          display: inline-flex;
          flex-direction: column;

          > h3 {
            width: 30.148vw;
            color: rgba(255, 255, 255, 0.8);
            font-family: 'SuisseIntl-Regular';
            font-size: 1.259vw;
            font-style: normal;
            line-height: 150%;
          }

          > a {
            width: fit-content;
            > h2 {
              color: #fff;
              font-family: 'SuisseIntl-Medium';
              font-size: 1.556vw;
              font-style: normal;
              line-height: 115%;
              margin-top: 1.111vw;
              transition: color 0.3s ease;
              width: fit-content;

              &:hover {
                color: rgba(255, 255, 255, 0.5);
              }
            }

            #about {
              margin-top: 2.963vw;
            }
          }
        }
      }
    }

    .main-content {
      width: calc(100% - 11.63vw);
      padding: 10.519vw 2.963vw 4.444vw 8.667vw;

      > h1 {
        color: #000;
        font-family: 'SuisseIntl-Medium';
        font-size: 2.593vw;
        font-style: normal;
        line-height: 150%;
      }

      > p {
        margin-top: 1.852vw;
        width: 31.556vw;
        color: #000;
        font-family: 'SuisseIntl-Regular';
        font-size: 1.259vw;
        font-style: normal;
        line-height: 150%;
      }

      #second,
      #third,
      #fourth,
      #fifth,
      #sixth,
      #seventh {
        margin-top: 10.519vw;
      }

      .p1 {
        margin-top: 1.481vw;
        line-height: 130%;
      }

      .p2 {
        width: 31.556vw;
        margin-top: 1.481vw;
      }

      .p3 {
        margin-top: 3.704vw;
      }

      .colors-div {
        margin-top: 2.222vw;
        margin-bottom: 0.741vw;
        width: 62.444vw;
        height: 25.704vw;
        display: grid;
        gap: 0.074vw;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .color-div {
          padding-top: 0.815vw;
          padding-left: 0.815vw;
          display: flex;
          flex-direction: column;
          gap: 4.222vw;

          > h3 {
            color: #000;
            font-family: 'SuisseIntl-Regular';
            font-size: 1.037vw;
            font-style: normal;
            line-height: 130%;
          }

          > h2 {
            color: #000;
            font-family: 'SuisseIntl-Regular';
            font-size: 1.259vw;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
          }
        }

        #color1 {
          grid-area: 1 / 1 / 2 / 2;
          background: #00fe0d;
        }
        #color2 {
          grid-area: 1 / 2 / 2 / 3;
          background: #f900fe;
        }
        #color3 {
          grid-area: 1 / 3 / 2 / 4;
          background: #60e5ff;
        }
        #color4 {
          grid-area: 1 / 4 / 2 / 5;
          background: #fc0;
        }
        #color5 {
          grid-area: 1 / 5 / 2 / 6;
          background: #da02fe;
        }
        #color6 {
          grid-area: 2 / 1 / 3 / 2;
          background: #01ee8f;
        }
        #color7 {
          grid-area: 2 / 2 / 3 / 3;
          background: #f4017e;
        }
        #color8 {
          grid-area: 2 / 3 / 3 / 4;
          background: #42beff;
        }
        #color9 {
          grid-area: 2 / 4 / 3 / 5;
          background: #ffa200;
        }
        #color10 {
          grid-area: 2 / 5 / 3 / 6;
          background: #a616ea;
        }
        #color11 {
          grid-area: 3 / 1 / 4 / 2;
          background: #03ceac;
        }
        #color12 {
          grid-area: 3 / 2 / 4 / 3;
          background: #df024d;
        }
        #color13 {
          grid-area: 3 / 3 / 4 / 4;
          background: #006eff;
        }
        #color14 {
          grid-area: 3 / 4 / 4 / 5;
          background: #ff4b00;
        }
        #color15 {
          grid-area: 3 / 5 / 4 / 6;
          background: #7f28cb;
        }

        #color1-2 {
          grid-area: 1 / 1 / 2 / 2;
          background: #c7ffca;
        }
        #color2-2 {
          grid-area: 1 / 2 / 2 / 3;
          background: #fec7ff;
        }
        #color3-2 {
          grid-area: 1 / 3 / 2 / 4;
          background: #dcf9ff;
        }
        #color4-2 {
          grid-area: 1 / 4 / 2 / 5;
          background: #fff4c7;
        }
        #color5-2 {
          grid-area: 1 / 5 / 2 / 6;
          background: #f7c7ff;
        }
        #color6-2 {
          grid-area: 2 / 1 / 3 / 2;
          background: #c7fbe6;
        }
        #color7-2 {
          grid-area: 2 / 2 / 3 / 3;
          background: #fdc7e3;
        }
        #color8-2 {
          grid-area: 2 / 3 / 3 / 4;
          background: #d5f1ff;
        }
        #color9-2 {
          grid-area: 2 / 4 / 3 / 5;
          background: #ffebc7;
        }
        #color10-2 {
          grid-area: 2 / 5 / 3 / 6;
          background: #ebccfa;
        }
        #color11-2 {
          grid-area: 3 / 1 / 4 / 2;
          background: #c8f4ed;
        }
        #color12-2 {
          grid-area: 3 / 2 / 4 / 3;
          background: #f8c7d8;
        }
        #color13-2 {
          grid-area: 3 / 3 / 4 / 4;
          background: #c7dfff;
        }
        #color14-2 {
          grid-area: 3 / 4 / 4 / 5;
          background: #ffd7c7;
        }
        #color15-2 {
          grid-area: 3 / 5 / 4 / 6;
          background: #e3d0f4;
        }
      }

      > picture {
        display: block;
        > img {
          margin-top: 2.963vw;
          width: 62.444vw;
          height: 30.296vw;
          border-radius: 0.667vw;
        }
      }

      > h3 {
        margin-top: 1.111vw;
        margin-left: 7.926vw;
        width: 46.593vw;
        color: rgba(0, 0, 0, 0.5);
        font-family: 'SuisseIntl-Medium';
        font-size: 1.037vw;
        font-style: normal;
        line-height: 130%;
      }

      .underline {
        width: 842;
        height: 0.074vw;
        border-bottom: 0.074vw #000 solid;
        margin-top: 3.259vw;
      }

      .tags {
        margin-top: 3.704vw;
        display: flex;
        flex-direction: column;
        padding: 1.556vw 1.407vw 1.556vw 1.333vw;
        justify-content: center;
        align-items: center;
        border-radius: 0.667vw;
        border: 0.074vw solid #000;

        .author {
          display: flex;
          width: 56.741vw;
          padding: 1.185vw 1.481vw;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.741vw;
          border-radius: 0.37vw;
          background: #ffe9e0;

          > h2 {
            color: #000;
            font-family: 'SuisseIntl-Semibold';
            font-size: 1.259vw;
            font-style: normal;
            line-height: 130%;
          }

          > p {
            color: rgba(0, 0, 0, 0.7);
            font-family: 'SuisseIntl-Regular';
            font-size: 1.037vw;
            font-style: normal;
            line-height: 130%;
          }
        }

        #author2 {
          background: rgba(3, 206, 172, 0.15);
          margin-top: 1.111vw;
        }

        .little-tags {
          margin-top: 1.111vw;
          display: flex;
          gap: 0.741vw;

          .little-tag {
            display: flex;
            padding: 0.37vw 0.741vw;
            justify-content: center;
            align-items: center;
            gap: 0.741vw;
            border-radius: 0.222vw;

            > img {
              width: 1.556vw;
              height: 1.556vw;
            }

            > h2 {
              color: #000;
              font-family: 'SuisseIntl-Regular';
              font-size: 1.259vw;
              font-style: normal;
              line-height: 130%;
            }
          }

          .tag1 {
            background: rgba(255, 204, 0, 0.2);
          }

          .tag2 {
            background: #c7dfff;
          }
        }
      }
      .colors3 {
        margin-top: 2.222vw;
        width: 62.444vw;
        height: 25.704vw;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
          'a a b b c c'
          'd d f f g g'
          'h h h i i i';
        gap: 0.074vw;

        .color-div {
          padding-top: 0.815vw;
          padding-left: 0.815vw;
          display: flex;
          flex-direction: column;
          gap: 4.222vw;

          > h3 {
            color: #fff;
            font-family: 'SuisseIntl-Regular';
            font-size: 1.037vw;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
          }

          > h2 {
            color: #fff;
            font-family: 'SuisseIntl-Regular';
            font-size: 1.259vw;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
          }
        }

        #color1-3 {
          grid-area: a;
          background: #000;
        }
        #color2-3 {
          grid-area: b;
          background: #202020;
        }
        #color3-3 {
          grid-area: c;
          background: #1e1e1e;
        }
        #color4-3 {
          grid-area: d;
          background: #636366;
        }
        #color5-3 {
          grid-area: f;
          background: #7f7f7f;
        }
        #color6-3 {
          grid-area: g;
          background: #9a9a9a;
        }
        #color7-3 {
          grid-area: h;
          background: #f5f5f5;
          > h2 {
            color: #000;
          }
          > h3 {
            color: #000;
          }
        }
        #color8-3 {
          grid-area: i;
          background: #fff;
          > h2 {
            color: #000;
          }
          > h3 {
            color: #000;
          }
        }
      }
      .balls-marker {
        margin-top: 3.704vw;
        margin-bottom: 3.704vw;
        display: flex;
        flex-direction: column;
        gap: 0.37vw;

        .balls-set {
          display: flex;
          gap: 3.704vw;

          .wrapper1 {
            display: flex;
            gap: 3.704vw;
          }

          .ball-column {
            display: flex;
            flex-direction: column;
            gap: 2.37vw;

            > svg {
              width: 8.489vw;
              height: 8.489vw;
            }

            .circle1 {
              fill: radial-gradient(
                58.48% 58.48% at 50% 50%,
                #f900fe 16.97%,
                #f4017e 51.59%,
                #df024d 83.1%
              );

              filter: blur(0.365vw);
            }

            .circle2 {
              fill: radial-gradient(
                58.48% 58.48% at 50% 50%,
                #60e5ff 16.97%,
                #42beff 51.59%,
                #006eff 83.1%
              );
              filter: blur(0.365vw);
            }

            .circle3 {
              fill: radial-gradient(
                58.48% 58.48% at 50% 50%,
                #da02fe 16.97%,
                #a616ea 53.13%,
                #7f28cb 83.1%
              );
              filter: blur(0.365vw);
            }

            .circle4 {
              fill: radial-gradient(
                58.48% 58.48% at 50% 50%,
                #fc0 16.97%,
                #ffa200 51.59%,
                #ff4b00 83.1%
              );
              filter: blur(0.365vw);
            }

            .circle5 {
              fill: radial-gradient(
                58.48% 58.48% at 50% 50%,
                #00fe0d 16.97%,
                #01ee8f 44.27%,
                #03ceac 79.69%
              );
              filter: blur(0.365vw);
            }

            .color-column {
              display: flex;
              flex-direction: column;
              gap: 0.37vw;

              .color-block {
                width: 8.519vw;
                height: 2.444vw;
              }

              #block1 {
                background: #f900fe;
              }
              #block2 {
                background: #f4017e;
              }
              #block3 {
                background: #df024d;
              }
              #block4 {
                background: #60e5ff;
              }
              #block5 {
                background: #42beff;
              }
              #block6 {
                background: #006eff;
              }
              #block7 {
                background: #da02fe;
              }
              #block8 {
                background: #a616ea;
              }
              #block9 {
                background: #7f28cb;
              }
              #block10 {
                background: #fc0;
              }
              #block11 {
                background: #ffa200;
              }
              #block12 {
                background: #ff4b00;
              }
              #block13 {
                background: #00fe0d;
              }
              #block14 {
                background: #01ee8f;
              }
              #block15 {
                background: #03ceac;
              }
            }
          }
        }

        .marker-text {
          display: flex;
          flex-direction: column;
          gap: 1.185vw;
          margin-left: 4.148vw;
          > img {
            width: 49.407vw;
            height: 2.741vw;
          }
          > h3 {
            color: #000;
            font-family: 'SuisseIntl-Regular';
            font-size: 1.259vw;
            font-style: normal;
            line-height: 130%;
            margin-left: 15.778vw;
          }
        }
      }

      .example-tags-wrapper {
        margin-top: 2.222vw;
        display: flex;
        height: 19.852vw;
        padding: 0 3.189vw 0 3.185vw;
        justify-content: center;
        align-items: center;
        border-radius: 0.667vw;
        border: 0.074vw solid rgba(0, 0, 0, 0.5);

        .example-tags {
          display: flex;
          gap: 5.049vw;

          .example-tag {
            display: flex;
            align-items: center;
            gap: 1.616vw;

            > svg {
              width: 3.636vw;
              height: 3.636vw;
            }

            .example-svg1 {
              fill: radial-gradient(
                58.48% 58.48% at 50% 50%,
                #60e5ff 9.38%,
                #42beff 35.94%,
                #006eff 74.48%
              );
              filter: blur(0.202vw);
            }

            .example-svg2 {
              fill: radial-gradient(
                58.48% 58.48% at 50% 50%,
                #f900fe 9.38%,
                #f4017e 35.94%,
                #df024d 74.48%
              );
              filter: blur(0.202vw);
            }

            > h2 {
              font-family: 'SuisseIntl-Semibold';
              font-size: 2.828vw;
              font-style: normal;
              line-height: 130%;
              text-transform: uppercase;
            }

            #h2-1 {
              color: #006eff;
            }

            #h2-2 {
              color: #df024d;
            }
          }
        }
      }

      .web {
        margin-top: 3.704vw;
        display: flex;
        padding: 5.556vw 3.778vw 5.63vw 3.778vw;
        justify-content: center;
        gap: 3.704vw;
        border-radius: 0.667vw;
        background: #efefef;

        .web-tags {
          display: flex;
          flex-direction: column;
          gap: 2.222vw;

          .web-tag {
            display: flex;
            align-items: center;
            gap: 0.593vw;

            > svg {
              filter: blur(0.074vw);
            }

            > h2 {
              font-family: 'SuisseIntl-Semibold';
              font-size: 1.037vw;
              font-style: normal;
              line-height: 130%;
              text-transform: uppercase;
            }

            .web-v1 {
              color: #006eff;
            }

            .web-v2 {
              color: #03ceac;
            }

            .web-v3 {
              color: #7f28cb;
            }

            .web-v4 {
              color: #df024d;
            }

            .web-v5 {
              color: #ff4b00;
            }
          }
        }

        #mobile-tags {
          display: none;
        }
      }

      .balls {
        margin-top: 3.704vw;
        margin-bottom: 0.741vw;
        display: flex;
        width: 58.222vw;
        align-items: flex-start;
        align-content: flex-start;
        gap: 8.444vw 11.11vw;
        flex-wrap: wrap;

        .content {
          display: flex;
          gap: 1.852vw;
          width: 23.556vw;
          height: 18.933vw;

          .ball-column {
            display: flex;
            flex-direction: column;
            gap: 2.37vw;

            > svg {
              width: 8.489vw;
              height: 8.489vw;
            }

            .circle1 {
              fill: radial-gradient(
                58.48% 58.48% at 50% 50%,
                #f900fe 16.97%,
                #f4017e 51.59%,
                #df024d 83.1%
              );

              filter: blur(0.365vw);
            }

            .circle2 {
              fill: radial-gradient(
                58.48% 58.48% at 50% 50%,
                #60e5ff 16.97%,
                #42beff 51.59%,
                #006eff 83.1%
              );
              filter: blur(0.365vw);
            }

            .circle3 {
              fill: radial-gradient(
                58.48% 58.48% at 50% 50%,
                #da02fe 16.97%,
                #a616ea 53.13%,
                #7f28cb 83.1%
              );
              filter: blur(0.365vw);
            }

            .circle4 {
              fill: radial-gradient(
                58.48% 58.48% at 50% 50%,
                #fc0 16.97%,
                #ffa200 51.59%,
                #ff4b00 83.1%
              );
              filter: blur(0.365vw);
            }

            .circle5 {
              fill: radial-gradient(
                58.48% 58.48% at 50% 50%,
                #00fe0d 16.97%,
                #01ee8f 44.27%,
                #03ceac 79.69%
              );
              filter: blur(0.365vw);
            }

            .color-column {
              display: flex;
              flex-direction: column;
              gap: 0.37vw;

              .color-block {
                width: 8.519vw;
                height: 2.444vw;
              }

              #block1 {
                background: #f900fe;
              }
              #block2 {
                background: #f4017e;
              }
              #block3 {
                background: #df024d;
              }
              #block4 {
                background: #60e5ff;
              }
              #block5 {
                background: #42beff;
              }
              #block6 {
                background: #006eff;
              }
              #block7 {
                background: #da02fe;
              }
              #block8 {
                background: #a616ea;
              }
              #block9 {
                background: #7f28cb;
              }
              #block10 {
                background: #fc0;
              }
              #block11 {
                background: #ffa200;
              }
              #block12 {
                background: #ff4b00;
              }
              #block13 {
                background: #00fe0d;
              }
              #block14 {
                background: #01ee8f;
              }
              #block15 {
                background: #03ceac;
              }
            }
          }

          > p {
            margin-top: 1.185vw;
            color: #000;
            font-family: 'SuisseIntl-Regular';
            font-size: 4vw;
            font-style: normal;
            line-height: 130%;
          }
        }
      }

      .set {
        margin-top: 2.222vw;
        display: flex;
        width: 62.444vw;
        gap: 0.37vw;

        .wrapper2 {
          display: flex;
          gap: 0.37vw;
        }

        .set-item {
          display: flex;
          width: 10.815vw;
          height: 10.815vw;
          padding: 0.667vw;
          justify-content: center;
          align-items: center;
          background: #000;

          > svg {
            filter: blur(0.466vw);
          }
        }
      }
      .images2 {
        margin-top: 2.222vw;
        display: flex;
        flex-wrap: wrap;
        gap: 0.741vw;
        > img {
          width: 30.741vw;
          height: 17.926vw;
          border-radius: 0.667vw;
        }
      }

      #img10 {
        margin-top: 2.222vw;
      }

      #img11 {
        margin-top: 3.704vw;
      }

      .way {
        margin-top: 5.203vw;
        display: flex;
        gap: 37.407vw;
        .next {
          > a {
            display: flex;
            gap: 0.741vw;
            align-items: center;
            transition: all 0.3s ease;

            &:hover {
              opacity: 0.5;
            }

            > h2 {
              color: #000;
              font-family: 'SuisseIntl-Regular';
              font-size: 2.222vw;
              font-style: normal;
              line-height: 115%;
            }

            > img {
              width: 1.778vw;
              height: 1.778vw;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 912px) {
  body.colors {
    .header-left {
      display: none;
    }
    .right-content {
      margin-left: 0;
      width: 100%;
      .header {
        height: auto;
        padding-bottom: 66.512vw;
        .header-right {
          margin-top: 15.581vw;
          margin-left: 4.651vw;
          .top-mobile-menu {
            display: flex;
            align-items: center;
            gap: 58.837vw;
            > a {
              > svg {
                width: 23.488vw;
                height: 6.174vw;
              }
            }
            .menu-mobile {
              width: 8.372vw;
              height: 6.047vw;
              display: flex;
              flex-wrap: wrap;
              align-content: space-around;

              > div {
                background-color: #fff;
                height: 0.465vw;
                width: 100%;
              }
            }
          }

          > h1 {
            margin-top: 25.453vw;
            font-size: 13.953vw;
          }

          > h3 {
            margin-top: 2.326vw;
            font-size: 3.953vw;
          }

          .paragraphMenu {
            margin-top: 16.279vw;
            margin-left: 0;

            > h3 {
              font-size: 3.953vw;
              width: 90.698vw;
            }

            > a {
              > h2 {
                font-size: 4.884vw;
                margin-top: 3.488vw;
              }

              #about {
                margin-top: 9.302vw;
              }
            }
          }
        }
      }

      .main-content {
        width: calc(100% - 9.302vw);
        padding: 9.767vw 4.651vw 6.977vw 4.651vw;

        > h1 {
          font-size: 8.14vw;
          line-height: 115%;
        }

        > p {
          margin-top: 5.814vw;
          width: 90.698vw;
          font-size: 3.953vw;
        }

        #second,
        #third,
        #fourth,
        #fifth,
        #sixth,
        #seventh {
          margin-top: 21.395vw;
        }

        .p1 {
          margin-top: 4.651vw;
          line-height: 150%;
        }

        .p2 {
          width: 90.698vw;
          margin-top: 4.651vw;
        }

        .p3 {
          margin-top: 11.628vw;
        }

        .colors-div {
          margin-top: 6.977vw;
          margin-bottom: 2.326vw;
          width: 90.698vw;
          height: 404.419vw;
          gap: 0.233vw;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(15, 1fr);

          .color-div {
            padding-top: 2.558vw;
            padding-left: 2.558vw;
            gap: 13.256vw;

            > h3 {
              font-size: 3.256vw;
            }

            > h2 {
              font-size: 3.953vw;
            }
          }

          #color1-2 {
            grid-area: 1 / 1 / 2 / 2;
          }
          #color2-2 {
            grid-area: 4 / 1 / 5 / 2;
          }
          #color3-2 {
            grid-area: 7 / 1 / 8 / 2;
          }
          #color4-2 {
            grid-area: 10 / 1 / 11 / 2;
          }
          #color5-2 {
            grid-area: 13 / 1 / 14 / 2;
          }
          #color6-2 {
            grid-area: 2 / 1 / 3 / 2;
          }
          #color7-2 {
            grid-area: 5 / 1 / 6 / 2;
          }
          #color8-2 {
            grid-area: 8 / 1 / 9 / 2;
          }
          #color9-2 {
            grid-area: 11 / 1 / 12 / 2;
          }
          #color10-2 {
            grid-area: 14 / 1 / 15 / 2;
          }
          #color11-2 {
            grid-area: 3 / 1 / 4 / 2;
          }
          #color12-2 {
            grid-area: 6 / 1 / 7 / 2;
          }
          #color13-2 {
            grid-area: 9 / 1 / 10 / 2;
          }
          #color14-2 {
            grid-area: 12 / 1 / 13 / 2;
          }
          #color15-2 {
            grid-area: 15 / 1 / 16 / 2;
          }

          #color1 {
            grid-area: 1 / 1 / 2 / 2;
          }
          #color2 {
            grid-area: 4 / 1 / 5 / 2;
          }
          #color3 {
            grid-area: 7 / 1 / 8 / 2;
          }
          #color4 {
            grid-area: 10 / 1 / 11 / 2;
          }
          #color5 {
            grid-area: 13 / 1 / 14 / 2;
          }
          #color6 {
            grid-area: 2 / 1 / 3 / 2;
          }
          #color7 {
            grid-area: 5 / 1 / 6 / 2;
          }
          #color8 {
            grid-area: 8 / 1 / 9 / 2;
          }
          #color9 {
            grid-area: 11 / 1 / 12 / 2;
          }
          #color10 {
            grid-area: 14 / 1 / 15 / 2;
          }
          #color11 {
            grid-area: 3 / 1 / 4 / 2;
          }
          #color12 {
            grid-area: 6 / 1 / 7 / 2;
          }
          #color13 {
            grid-area: 9 / 1 / 10 / 2;
          }
          #color14 {
            grid-area: 12 / 1 / 13 / 2;
          }
          #color15 {
            grid-area: 15 / 1 / 16 / 2;
          }
        }

        > picture {
          > img {
            margin-top: 9.302vw;
            width: 90.698vw;
            height: 95.116vw;
            border-radius: 2.093vw;
          }
        }

        > h3 {
          margin-top: 2.326vw;
          margin-left: 0;
          width: 90.698vw;
          font-size: 3.953vw;
          line-height: 150%;
        }

        .underline {
          width: 90.698vw;
          height: 1px;
          border-bottom: 1px #000 solid;
          margin-top: 9.767vw;
        }

        .tags {
          margin-top: 11.628vw;
          padding: 2.093vw;
          border-radius: 2.093vw;
          align-items: flex-start;
          border: 1px solid #000;

          .author {
            width: 77.209vw;
            padding: 3.721vw 4.651vw;
            gap: 2.326vw;
            border-radius: 1.163vw;

            > h2 {
              font-size: 3.953vw;
            }

            > p {
              font-size: 3.256vw;
            }
          }

          #author2 {
            display: none;
          }

          .little-tags {
            margin-top: 3.488vw;
            flex-direction: column;
            gap: 2.326vw;

            .little-tag {
              padding: 1.163vw 2.326vw;
              gap: 2.326vw;
              border-radius: 0.698vw;

              > img {
                width: 4.884vw;
                height: 4.884vw;
              }

              > h2 {
                font-size: 3.953vw;
              }
            }
            #none-mobile {
              display: none;
            }
          }
        }
        .colors3 {
          margin-top: 6.977vw;
          width: 90.698vw;
          height: 215.581vw;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(8, 1fr);
          grid-template-areas:
            'a'
            'b'
            'c'
            'd'
            'e'
            'f'
            'g'
            'h';
          gap: 0.233vw;

          .color-div {
            padding-top: 2.558vw;
            padding-left: 2.558vw;
            gap: 13.256vw;

            > h3 {
              font-size: 3.256vw;
            }

            > h2 {
              font-size: 3.953vw;
            }
          }

          #color1-3 {
            grid-area: a;
          }
          #color2-3 {
            grid-area: b;
          }
          #color3-3 {
            grid-area: c;
          }
          #color4-3 {
            grid-area: d;
          }
          #color5-3 {
            grid-area: e;
          }
          #color6-3 {
            grid-area: f;
          }
          #color7-3 {
            grid-area: g;
          }
          #color8-3 {
            grid-area: h;
          }
        }
        .balls-marker {
          margin-top: 0;
          margin-bottom: 11.628vw;

          .balls-set {
            display: block;

            .wrapper1 {
              margin-top: 11.628vw;
              display: flex;
              width: 90.698vw;
              justify-content: center;
              align-items: flex-start;
              gap: 11.628vw;
            }

            .ball-column {
              gap: 7.442vw;

              > svg {
                width: 26.651vw;
                height: 26.651vw;
              }

              .circle1,
              .circle2,
              .circle3,
              .circle4,
              .circle5 {
                filter: blur(1.147vw);
              }

              .color-column {
                gap: 1.163vw;

                .color-block {
                  width: 26.744vw;
                  height: 7.674vw;
                }
              }
            }
          }

          .marker-text {
            display: none;
          }
        }

        .example-tags-wrapper {
          margin-top: 6.977vw;
          height: 23.023vw;
          padding: 19.581vw 9.535vw 19.721vw 9.535vw;
          border-radius: 2.093vw;
          border: 1px solid rgba(0, 0, 0, 0.5);

          .example-tags {
            flex-direction: column;
            gap: 4.884vw;

            .example-tag {
              gap: 5.072vw;

              > svg {
                width: 8.4vw;
                height: 8.4vw;
              }

              .example-svg1,
              .example-svg2 {
                filter: blur(0.467vw);
              }

              > h2 {
                font-size: 6.977vw;
              }
            }
          }
        }

        .web {
          margin-top: 11.628vw;
          flex-direction: column;
          padding: 6.326vw 18.023vw 6.233vw 4.767vw;
          gap: 3.953vw;
          border-radius: 2.093vw;

          .web-tags {
            gap: 3.488vw;

            .web-tag {
              gap: 1.86vw;

              > svg {
                width: 4.186vw;
                height: 4.186vw;
                filter: blur(0.233vw);
              }

              > h2 {
                font-size: 4.884vw;
              }
            }
          }

          #desc-tags {
            display: none;
          }

          #mobile-tags {
            display: flex;
          }
        }

        .balls {
          margin-top: 11.628vw;
          margin-bottom: 0;
          width: 90.698vw;
          flex-direction: column;
          align-items: center;
          align-content: normal;
          gap: 26.512vw 34.884vw;

          .content {
            display: flex;
            gap: 5.814vw;
            width: 73.953vw;
            height: 59.442vw;

            .ball-column {
              gap: 7.442vw;

              > svg {
                width: 26.651vw;
                height: 26.651vw;
              }

              .circle1,
              .circle2,
              .circle3,
              .circle4,
              .circle5 {
                filter: blur(1.147vw);
              }

              .color-column {
                gap: 1.163vw;

                .color-block {
                  width: 26.744vw;
                  height: 7.674vw;
                }
              }
            }

            > p {
              margin-top: 3.721vw;
              font-size: 12.558vw;
            }
          }
        }

        .set {
          margin-top: 6.977vw;
          flex-direction: column;
          align-items: center;
          width: 90.698vw;
          gap: 1.163vw;

          .wrapper2 {
            gap: 1.163vw;
          }

          .set-item {
            width: 33.953vw;
            height: 33.953vw;
            padding: 2.093vw;

            > svg {
              width: 33.953vw;
              height: 33.953vw;
              filter: blur(1.461vw);
            }
          }
        }
        .images2 {
          margin-top: 6.977vw;
          gap: 2.326vw;
          flex-direction: column;
          > img {
            width: 90.698vw;
            height: 56.279vw;
            border-radius: 2.093vw;
          }
        }

        #img10 {
          height: 112.558vw;
          margin-top: 6.977vw;
        }

        #img11 {
          margin-top: 11.628vw;
        }

        .way {
          margin-top: 16.512vw;
          gap: 11.628vw;
          .next {
            > a {
              gap: 3.488vw;
              > h2 {
                font-size: 6.977vw;
              }

              > img {
                width: 5.581vw;
                height: 5.581vw;
              }
            }
          }
        }
      }
    }
  }
}
