body.logo {
  display: flex;
  overflow-x: hidden;
  .header-left {
    overflow: hidden;
    z-index: 2;
    background-color: var(--red);
    padding-left: 2.963vw;
    position: fixed;
    width: 22.963vw;
    height: 100vh;
    border-right: 0.074vw solid #000;

    > a {
      margin-top: 2.444vw;
      > img {
        margin-top: 2.444vw;
        width: 6.222vw;
        height: 1.636vw;
      }
    }

    .menu {
      margin-top: 5.55vw;
      display: flex;
      flex-direction: column;
      gap: 1.778vw;

      > a {
        > h2 {
          color: #fff;
          font-family: 'SuisseIntl-Regular';
          font-size: 1.556vw;
          font-style: normal;
          line-height: 115%;
        }

        #now {
          color: #ffa580;
        }
      }
    }

    .round {
      width: 34.519vw;
      height: 34.519vw;
      position: absolute;
      left: -11.852vw;
      bottom: -11.037vw;
      border-radius: 34.519vw;
      background: radial-gradient(
        58.48% 58.48% at 50% 50%,
        #60e5ff 16.97%,
        #42beff 51.59%,
        #006eff 83.1%
      );

      filter: blur(1.486vw);
    }
  }

  .right-content {
    margin-left: 25.926vw;
    width: 74.074vw;
    .header {
      background: var(--red);
      width: 100%;
      height: 100vh;
      display: flex;
      position: relative;
      overflow: hidden;

      .header-right {
        margin-left: 8.667vw;
        margin-top: 7.407vw;

        > h1 {
          color: #fff;
          font-family: 'SuisseIntl-Medium';
          font-size: 7.407vw;
          font-style: normal;
          line-height: 115%;
        }

        > h3 {
          margin-top: 0.741vw;
          color: rgba(255, 255, 255, 0.8);
          font-family: 'SuisseIntl-Regular';
          font-size: 1.259vw;
          font-style: normal;
          line-height: 130%;
        }

        .paragraphMenu {
          margin-top: 6vw;
          margin-left: 23.556vw;
          display: inline-flex;
          flex-direction: column;

          > h3 {
            width: 30.148vw;
            color: rgba(255, 255, 255, 0.8);
            font-family: 'SuisseIntl-Regular';
            font-size: 1.259vw;
            font-style: normal;
            line-height: 150%;
          }

          > a {
            > h2 {
              color: rgba(255, 255, 255, 0.5);
              font-family: 'SuisseIntl-Medium';
              font-size: 1.556vw;
              font-style: normal;
              line-height: 115%;
              margin-top: 1.111vw;
            }

            #about {
              margin-top: 2.963vw;
              color: #fff;
            }
          }
        }
      }
    }

    .main-content {
      width: calc(100% - 11.63vw);
      padding: 10.519vw 2.963vw 4.444vw 8.667vw;

      > h1 {
        color: #000;
        font-family: 'SuisseIntl-Medium';
        font-size: 2.593vw;
        font-style: normal;
        line-height: 115%;
      }

      > p {
        margin-top: 1.852vw;
        width: 31.556vw;
        color: #000;
        font-family: 'SuisseIntl-Regular';
        font-size: 1.259vw;
        font-style: normal;
        line-height: 150%;

        > span {
          border-bottom: 0.074vw solid #000;
        }

        .red {
          font-family: 'SuisseIntl-Semibold';
          color: #ff0000;
          border-bottom: 0;
        }
      }

      > a {
        > h3 {
          margin-top: 2.222vw;
          width: 10.148vw;
          color: #000;
          font-family: 'SuisseIntl-Semibold';
          font-size: 1.037vw;
          font-style: normal;
          line-height: normal;
          border-bottom: 0.074vw solid #000;
          text-transform: uppercase;
        }
      }
      .underline {
        margin-top: 2.222vw;
        border-bottom: 1px #000 solid;
        width: 62.444vw;
        height: 0.074vw;
      }

      .h1 {
        margin-top: 10.519vw;
      }

      > img {
        margin-top: 2.222vw;
        margin-bottom: 1.111vw;
        width: 62.444vw;
        height: 30.296vw;
        border-radius: 0.667vw;
      }

      .p1 {
        margin-top: 3.704vw;
      }

      .p2 {
        margin-top: 2.222vw;
      }

      .p3 {
        margin-top: 1.481vw;
      }

      #logo3 {
        width: 46.667vw;
        height: 17.926vw;
        border-radius: 0.667vw;
        margin-bottom: 1.481vw;
      }

      .images1 {
        margin-top: 2.593vw;
        margin-bottom: 1.111vw;
        display: flex;
        gap: 0.741vw;

        > img {
          width: 30.741vw;
          height: 33.481vw;
          border-radius: 0.667vw;
        }
      }

      .images2 {
        margin-top: 2.222vw;
        display: flex;
        gap: 0.741vw;

        > img {
          width: 22.963vw;
          height: 17.926vw;
          border-radius: 0.667vw;
        }
      }

      #img1 {
        width: 62.444vw;
        height: 30.296vw;
        border-radius: 0.667vw;
        margin-bottom: 1.111vw;
      }

      .logo4 {
        width: 46.667vw;
        height: 17.926vw;
        border-radius: 0.667vw;
      }

      > h2 {
        margin-left: 7.926vw;
        margin-bottom: 0.741vw;
        width: 46.593vw;
        color: rgba(0, 0, 0, 0.5);
        font-family: 'SuisseIntl-Medium';
        font-size: 1.037vw;
        font-style: normal;
        line-height: 130%;
      }

      #under2 {
        margin-top: 3.111vw;
      }

      .last-img {
        margin-top: 7.407vw;
        width: 62.37vw;
        height: 30.296vw;
        border-radius: 0.667vw;
        background: #f4017e;
        position: relative;
        overflow: hidden;

        .circle2 {
          top: -4.148vw;
          left: 12.963vw;
          position: absolute;
          width: 36.519vw;
          height: 36.519vw;
          border-radius: 36.519vw;
          background: radial-gradient(
            58.48% 58.48% at 50% 50%,
            #00fe0d 16.97%,
            #01ee8f 44.27%,
            #03ceac 79.69%
          );
          filter: blur(1.572vw);
        }

        > h2 {
          z-index: 2;
          position: relative;
          margin-top: 11.778vw;
          margin-left: 6.074vw;
          width: 50.222vw;
          font-family: 'SuisseIntl-Medium';
          font-size: 3.562vw;
          font-style: normal;
          line-height: 130%;
          background: linear-gradient(
            90deg,
            #000 1.7%,
            #fff 22.96%,
            #fff 80.61%,
            #000 97.57%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .way {
        margin-top: 5.203vw;
        display: flex;
        gap: 38.889vw;
        .next {
          > a {
            display: flex;
            gap: 0.741vw;
            align-items: center;
            > h2 {
              color: #000;
              font-family: 'SuisseIntl-Regular';
              font-size: 2.222vw;
              font-style: normal;
              line-height: 115%;
            }

            > img {
              width: 1.778vw;
              height: 1.778vw;
            }
          }
        }
      }
    }
  }
}
