body.logo {
  display: flex;
  overflow-x: hidden;
  .menu-mobile-above {
    display: none;
  }
  .header-left {
    overflow: hidden;
    z-index: 2;
    background-color: var(--red);
    padding-left: 2.963vw;
    position: fixed;
    width: 22.963vw;
    height: 100vh;
    border-right: 0.074vw solid #000;

    > a {
      margin-top: 2.444vw;
      > img {
        margin-top: 2.444vw;
        width: 6.222vw;
        height: 1.636vw;
      }
    }

    .menu {
      margin-top: 5.55vw;
      display: flex;
      flex-direction: column;
      gap: 1.778vw;

      > a {
        > h2 {
          color: #fff;
          font-family: 'SuisseIntl-Regular';
          font-size: 1.556vw;
          font-style: normal;
          line-height: 115%;
        }

        #now {
          color: #ffa580;
        }
      }
    }

    .round {
      width: 34.519vw;
      height: 34.519vw;
      position: absolute;
      left: -11.852vw;
      top: 30.593vw;
      border-radius: 34.519vw;
      background: radial-gradient(
        58.48% 58.48% at 50% 50%,
        #60e5ff 16.97%,
        #42beff 51.59%,
        #006eff 83.1%
      );

      filter: blur(1.486vw);
    }
  }

  .right-content {
    margin-left: 25.926vw;
    width: 74.074vw;
    .header {
      background: var(--red);
      width: 100%;
      height: 100vh;
      padding-bottom: 9.63vw;
      display: flex;
      position: relative;
      overflow: hidden;

      .header-right {
        margin-left: 8.667vw;
        margin-top: 7.407vw;

        .top-mobile-menu {
          display: none;
        }

        > h1 {
          color: #fff;
          font-family: 'SuisseIntl-Medium';
          font-size: 7.407vw;
          font-style: normal;
          line-height: 115%;
        }

        > h3 {
          margin-top: 0.741vw;
          color: rgba(255, 255, 255, 0.8);
          font-family: 'SuisseIntl-Regular';
          font-size: 1.259vw;
          font-style: normal;
          line-height: 130%;
        }

        .paragraphMenu {
          margin-top: 6vw;
          margin-left: 23.556vw;
          display: inline-flex;
          flex-direction: column;

          > h3 {
            width: 30.148vw;
            color: rgba(255, 255, 255, 0.8);
            font-family: 'SuisseIntl-Regular';
            font-size: 1.259vw;
            font-style: normal;
            line-height: 150%;
          }

          > a {
            width: fit-content;
            > h2 {
              color: rgba(255, 255, 255, 0.5);
              width: fit-content;
              font-family: 'SuisseIntl-Medium';
              font-size: 1.556vw;
              font-style: normal;
              line-height: 115%;
              margin-top: 1.111vw;
              transition: color 0.3s ease;

              &:hover {
                color: #fff;
              }
            }

            #about {
              margin-top: 2.963vw;
            }
          }
        }
      }
    }

    .main-content {
      width: calc(100% - 11.63vw);
      padding: 10.519vw 2.963vw 4.444vw 8.667vw;

      > h1 {
        color: #000;
        font-family: 'SuisseIntl-Medium';
        font-size: 2.593vw;
        font-style: normal;
        line-height: 115%;
      }

      > p {
        margin-top: 1.852vw;
        width: 31.556vw;
        color: #000;
        font-family: 'SuisseIntl-Regular';
        font-size: 1.259vw;
        font-style: normal;
        line-height: 150%;

        > a {
          color: #000;
          border-bottom: 0.074vw solid #000;
        }

        .red {
          font-family: 'SuisseIntl-Semibold';
          color: #ff0000;
          border-bottom: 0;
        }
      }

      > a {
        > h3 {
          margin-top: 2.222vw;
          width: 10.148vw;
          color: #000;
          font-family: 'SuisseIntl-Semibold';
          font-size: 1.037vw;
          font-style: normal;
          line-height: normal;
          border-bottom: 0.074vw solid #000;
          text-transform: uppercase;
        }
      }
      .underline {
        margin-top: 2.222vw;
        border-bottom: 1px #000 solid;
        width: 62.444vw;
        height: 0.074vw;
      }

      .h1 {
        margin-top: 10.519vw;
      }

      > picture {
        display: block;
        > img {
          margin-top: 2.222vw;
          margin-bottom: 1.111vw;
          width: 62.444vw;
          height: 30.296vw;
          border-radius: 0.667vw;
        }
      }

      > img {
        margin-top: 2.222vw;
        margin-bottom: 1.111vw;
        width: 62.444vw;
        height: 30.296vw;
        border-radius: 0.667vw;
      }

      .p1 {
        margin-top: 3.704vw;
      }

      .p2 {
        margin-top: 2.222vw;
      }

      .p3 {
        margin-top: 1.481vw;
      }

      #logo3 {
        width: 46.667vw;
        height: 17.926vw;
        border-radius: 0.667vw;
        margin-bottom: 1.481vw;
      }

      .images1 {
        margin-top: 2.593vw;
        margin-bottom: 1.111vw;
        display: flex;
        gap: 0.741vw;

        > picture {
          > img {
            width: 30.741vw;
            height: 33.481vw;
            border-radius: 0.667vw;
          }
        }
      }

      .images2 {
        margin-top: 2.222vw;
        display: flex;
        gap: 0.741vw;

        > picture {
          > img {
            width: 22.963vw;
            height: 17.926vw;
            border-radius: 0.667vw;
          }
        }
      }

      #img1 {
        width: 62.444vw;
        height: 30.296vw;
        border-radius: 0.667vw;
        margin-bottom: 1.111vw;
      }

      .logo4 {
        width: 46.667vw;
        height: 17.926vw;
        border-radius: 0.667vw;
      }

      > h2 {
        margin-left: 7.926vw;
        margin-bottom: 0.741vw;
        width: 46.593vw;
        color: rgba(0, 0, 0, 0.5);
        font-family: 'SuisseIntl-Medium';
        font-size: 1.037vw;
        font-style: normal;
        line-height: 130%;
      }

      #under2 {
        margin-top: 3.111vw;
      }

      .last-img {
        margin-top: 7.407vw;
        width: 62.37vw;
        height: 30.296vw;
        border-radius: 0.667vw;
        background: #f4017e;
        position: relative;
        overflow: hidden;

        .circle2 {
          top: -4.148vw;
          left: 12.963vw;
          position: absolute;
          width: 36.519vw;
          height: 36.519vw;
          border-radius: 36.519vw;
          background: radial-gradient(
            58.48% 58.48% at 50% 50%,
            #00fe0d 16.97%,
            #01ee8f 44.27%,
            #03ceac 79.69%
          );
          filter: blur(1.572vw);
        }

        > h2 {
          z-index: 2;
          position: relative;
          margin-top: 11.778vw;
          margin-left: 6.074vw;
          width: 50.222vw;
          font-family: 'SuisseIntl-Medium';
          font-size: 3.562vw;
          font-style: normal;
          line-height: 130%;
          background: linear-gradient(
            90deg,
            #000 1.7%,
            #fff 22.96%,
            #fff 80.61%,
            #000 97.57%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .way {
        margin-top: 5.203vw;
        display: flex;
        gap: 38.889vw;
        .next {
          > a {
            display: flex;
            gap: 0.741vw;
            align-items: center;
            transition: opacity 0.3s ease;

            &:hover {
              opacity: 0.5;
            }
            > h2 {
              color: #000;
              font-family: 'SuisseIntl-Regular';
              font-size: 2.222vw;
              font-style: normal;
              line-height: 115%;
            }

            > img {
              width: 1.778vw;
              height: 1.778vw;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 912px) {
  body.logo {
    .menu-mobile-above {
      overflow: hidden;
      padding: 15.581vw 0 0 4.651vw;
      background-color: #ff4b00;
      z-index: 5;
      position: fixed;
      display: none;
      height: calc(100vh - 15.581vw);
      width: calc(100vw - 4.651vw);

      .top-mobile-menu {
        display: flex;
        align-items: center;
        gap: 60.698vw;
        > a {
          > svg {
            width: 23.488vw;
            height: 6.174vw;
          }
        }
        > img {
          width: 6.053vw;
          height: 6.053vw;
        }
      }
      .content {
        margin-top: 25.686vw;
        display: flex;
        flex-direction: column;
        gap: 8.14vw;
        > a {
          display: block;
          width: fit-content;
          > h1 {
            width: fit-content;
            color: #fff;
            font-family: 'SuisseIntl-Regular';
            font-size: 8.14vw;
            font-style: normal;
            line-height: 115%;
          }

          #now {
            color: #ffa580;
          }
        }
      }
      .circle {
        position: absolute;
        top: 138.256vw;
        left: -7.674vw;
        width: 115.116vw;
        height: 115.116vw;
        border-radius: 115.116vw;
        background: radial-gradient(
          58.48% 58.48% at 50% 50%,
          #60e5ff 16.97%,
          #42beff 51.59%,
          #006eff 83.1%
        );
        filter: blur(4.955vw);
      }
    }
    .header-left {
      display: none;
    }
    .right-content {
      margin-left: 0;
      width: 100%;
      .header {
        height: auto;
        padding-bottom: 66.512vw;
        .header-right {
          margin-top: 15.581vw;
          margin-left: 4.651vw;
          .top-mobile-menu {
            display: flex;
            align-items: center;
            gap: 58.837vw;
            > a {
              > svg {
                width: 23.488vw;
                height: 6.174vw;
              }
            }
            .menu-mobile {
              width: 8.372vw;
              height: 6.047vw;
              display: flex;
              flex-wrap: wrap;
              align-content: space-around;

              > div {
                background-color: #fff;
                height: 0.465vw;
                width: 100%;
              }
            }
          }

          > h1 {
            margin-top: 25.453vw;
            font-size: 13.953vw;
          }

          > h3 {
            margin-top: 2.326vw;
            font-size: 3.953vw;
          }

          .paragraphMenu {
            margin-top: 16.279vw;
            margin-left: 0;

            > h3 {
              font-size: 3.953vw;
              width: 90.698vw;
            }

            > a {
              > h2 {
                font-size: 4.884vw;
                margin-top: 3.488vw;
              }

              #about {
                margin-top: 9.302vw;
              }
            }
          }
        }
      }

      .main-content {
        width: calc(100% - 9.302vw);
        padding: 9.767vw 4.651vw 6.977vw 4.651vw;

        > h1 {
          font-size: 8.14vw;
        }

        > p {
          margin-top: 5.814vw;
          width: 90.698vw;
          font-size: 3.953vw;
        }

        > a {
          > h3 {
            margin-top: 6.977vw;
            width: 31.86vw;
            font-size: 3.256vw;
            border-bottom: 1px solid #000;
          }
        }
        .underline {
          margin-top: 9.767vw;
          border-bottom: 1px #000 solid;
          width: 90.698vw;
          height: 0.233vw;
        }

        .h1 {
          margin-top: 33.023vw;
        }

        > picture {
          display: block;
          > img {
            margin-top: 9.302vw;
            margin-bottom: 2.326vw;
            width: 90.698vw;
            height: 95.116vw;
            border-radius: 2.093vw;
          }
        }

        .p1 {
          margin-top: 11.628vw;
        }

        .p2 {
          margin-top: 6.977vw;
        }

        .p3 {
          margin-top: 4.651vw;
        }

        #logo3 {
          margin-top: 6.977vw;
          width: 90.698vw;
          height: 56.279vw;
          border-radius: 2.093vw;
          margin-bottom: 2.326vw;
        }

        .images1 {
          margin-top: 4.651vw;
          margin-bottom: 3.488vw;
          display: flex;
          flex-direction: column;
          gap: 2.326vw;

          > picture {
            display: block;
            > img {
              width: 90.698vw;
              height: 105.116vw;
              border-radius: 2.093vw;
            }
          }
        }

        .images2 {
          margin-top: 6.977vw;
          flex-direction: column;
          gap: 2.326vw;

          > picture {
            > img {
              width: 90.698vw;
              height: 56.279vw;
              border-radius: 2.093vw;
            }
          }
        }

        #img1 {
          margin-top: 6.977vw;
          width: 90.698vw;
          height: 95.116vw;
          border-radius: 2.093vw;
          margin-bottom: 2.326vw;
        }

        .logo4 {
          margin-top: 6.977vw;
          width: 90.698vw;
          height: 56.279vw;
          border-radius: 2.093vw;
        }

        > h2 {
          margin-left: 0;
          width: 90.698vw;
          font-size: 3.953vw;
          line-height: 150%;
        }

        #under2 {
          margin-top: 9.767vw;
        }

        .way {
          margin-top: 16.279vw;
          gap: 16.744vw;
          .next {
            margin-top: 0;
            margin-left: 0;
            > a {
              gap: 3.488vw;
              > h2 {
                font-size: 6.977vw;
              }

              > img {
                width: 5.581vw;
                height: 5.581vw;
              }
            }
          }
        }

        .last-img {
          margin-top: 23.256vw;
          width: 90.698vw;
          height: 95.116vw;
          border-radius: 2.093vw;

          .circle2 {
            top: 6.519vw;
            left: 4.419vw;
            width: 82.093vw;
            height: 82.093vw;
            border-radius: 82.093vw;
            background: radial-gradient(
              58.48% 58.48% at 50% 50%,
              #00fe0d 16.97%,
              #01ee8f 44.27%,
              #03ceac 79.69%
            );

            filter: blur(3.534vw);
          }

          > h2 {
            text-align: center;
            margin-top: 32.798vw;
            margin-left: -5.814vw;
            width: 102.326vw;
            font-size: 11.182vw;
          }
        }

        .next {
          margin-left: 66.279vw;
          margin-top: 16.286vw;

          > a {
            gap: 2.326vw;
            > h2 {
              font-size: 6.977vw;
            }

            > img {
              width: 5.581vw;
              height: 5.581vw;
            }
          }
        }
      }
    }
  }
}
