body.typography {
  display: flex;
  overflow-x: hidden;
  .menu-mobile-above {
    display: none;
  }
  .header-left {
    overflow: hidden;
    z-index: 2;
    background-color: var(--dark-blue);
    padding-left: 2.963vw;
    position: fixed;
    width: 22.963vw;
    height: 100vh;
    border-right: 0.074vw solid #000;

    > a {
      margin-top: 2.444vw;
      > img {
        margin-top: 2.444vw;
        width: 6.222vw;
        height: 1.636vw;
      }
    }

    .menu {
      margin-top: 5.55vw;
      display: flex;
      flex-direction: column;
      gap: 1.778vw;

      > a {
        > h2 {
          color: #fff;
          font-family: 'SuisseIntl-Regular';
          font-size: 1.556vw;
          font-style: normal;
          line-height: 115%;
        }

        #now {
          color: #80b7ff;
        }
      }
    }

    .round {
      width: 34.519vw;
      height: 34.519vw;
      position: absolute;
      left: -11.852vw;
      top: 30.593vw;
      border-radius: 34.519vw;
      background: radial-gradient(
        58.48% 58.48% at 50% 50%,
        #fc0 16.97%,
        #ffa200 51.59%,
        #ff4b00 83.1%
      );

      filter: blur(1.486vw);
    }
  }

  .right-content {
    margin-left: 25.926vw;
    width: 74.074vw;
    .header {
      background: var(--dark-blue);
      width: 100%;
      height: 100vh;
      padding-bottom: 15.407vw;
      display: flex;
      position: relative;
      overflow: hidden;

      .header-right {
        margin-left: 8.667vw;
        margin-top: 7.407vw;

        .top-mobile-menu {
          display: none;
        }

        > h1 {
          color: #fff;
          font-family: 'SuisseIntl-Medium';
          font-size: 7.407vw;
          font-style: normal;
          line-height: 115%;
        }

        > h3 {
          margin-top: 0.741vw;
          color: rgba(255, 255, 255, 0.8);
          font-family: 'SuisseIntl-Regular';
          font-size: 1.259vw;
          font-style: normal;
          line-height: 130%;
        }

        .paragraphMenu {
          margin-top: 6vw;
          margin-left: 23.556vw;
          display: inline-flex;
          flex-direction: column;

          > h3 {
            width: 30.148vw;
            color: rgba(255, 255, 255, 0.8);
            font-family: 'SuisseIntl-Regular';
            font-size: 1.259vw;
            font-style: normal;
            line-height: 150%;
          }

          > a {
            width: fit-content;
            > h2 {
              color: rgba(255, 255, 255, 0.5);
              width: fit-content;
              font-family: 'SuisseIntl-Medium';
              font-size: 1.556vw;
              font-style: normal;
              line-height: 115%;
              margin-top: 1.111vw;
              transition: color 0.3s ease;

              &:hover {
                color: #fff;
              }
            }

            #about {
              margin-top: 2.963vw;
            }
          }
        }
      }
    }

    .main-content {
      width: calc(100% - 11.63vw);
      padding: 7.407vw 2.963vw 4.444vw 8.667vw;

      > h1 {
        color: #000;
        font-family: 'SuisseIntl-Medium';
        font-size: 2.593vw;
        font-style: normal;
        line-height: 115%;
      }

      > p {
        margin-top: 1.852vw;
        width: 31.556vw;
        color: #000;
        font-family: 'SuisseIntl-Regular';
        font-size: 1.259vw;
        font-style: normal;
        line-height: 150%;
      }

      .wrapper {
        display: flex;
        gap: 3.926vw;
        .letters {
          margin-top: 3.704vw;
          display: flex;
          flex-direction: column;
          gap: 0.741vw;
          .line {
            display: flex;
            gap: 1.481vw;
            > p {
              display: inline-block;
              color: #000;
              font-family: 'SuisseIntl-Regular';
              font-size: 1.556vw;
              font-style: normal;
              line-height: normal;
            }
          }

          #second-variant {
            > p {
              font-family: 'SuisseIntl-Book';
            }

            #regular {
              font-family: 'SuisseIntl-Regular';
              font-weight: 400;
            }
          }
        }
      }
      .value {
        margin-top: 3.704vw;
        display: flex;
        flex-direction: column;
        gap: 0.815vw;

        > p {
          color: #000;
          font-family: 'SuisseIntl-Regular';
          font-size: 2vw;
          font-style: normal;
          line-height: 130%;
        }

        #light {
          font-family: 'SuisseIntl-Light';
        }

        #bold {
          font-family: 'SuisseIntl-Book';
        }

        #medium {
          font-family: 'SuisseIntl-Medium';
        }

        #semibold {
          font-family: 'SuisseIntl-Semibold';
        }
      }

      > p {
        margin-top: 3.704vw;
        width: 38.741vw;
        color: #000;
        font-family: 'SuisseIntl-Regular';
        font-size: 1.259vw;
        font-style: normal;
        line-height: 150%;
      }
      > picture {
        display: block;
        > img {
          width: 62.37vw;
          height: 30.296vw;
          border-radius: 0.667vw;
          margin-top: 2.222vw;
        }
      }

      #img2 {
        margin-top: 2.963vw;
      }
      > h3 {
        margin-top: 1.111vw;
        margin-left: 7.889vw;
        width: 46.593vw;
        color: rgba(0, 0, 0, 0.5);
        font-family: 'SuisseIntl-Medium';
        font-size: 1.037vw;
        font-style: normal;
        line-height: 130%;
      }
      .images1 {
        display: flex;
        gap: 0.741vw;
        margin-top: 2.963vw;
        > picture {
          display: block;
          > img {
            width: 30.741vw;
            height: 33.481vw;
            border-radius: 0.667vw;
          }
        }
      }

      #second {
        margin-top: 7.407vw;
      }

      .type-system {
        margin-top: 7.407vw;

        > h2 {
          color: #000;
          font-family: 'SuisseIntl-Medium';
          font-size: 2.593vw;
          font-style: normal;
          line-height: 115%;
        }

        > h3 {
          margin-top: 5.333vw;
          color: rgba(0, 0, 0, 0.5);
          font-family: 'SuisseIntl-Regular';
          font-size: 1.556vw;
          font-style: normal;
          line-height: 115%;
          text-transform: uppercase;
        }

        > h1 {
          margin-top: 1.852vw;
          width: 46.074vw;
          color: #000;
          font-family: 'SuisseIntl-Regular';
          font-size: 4vw;
          font-style: normal;
          line-height: 115%;
        }

        > p {
          margin-top: 2.222vw;
          color: #000;
          font-family: 'SuisseIntl-Regular';
          font-size: 1.259vw;
          font-style: normal;
          line-height: 115%;
        }

        .underline {
          width: 842;
          height: 0.074vw;
          border-bottom: 1px #000 solid;
          margin-top: 3.259vw;
        }

        #h3-2 {
          margin-top: 3.111vw;
        }

        #h1-mobile {
          display: none;
        }

        #h1-2 {
          font-family: 'SuisseIntl-Medium';
          font-size: 2.593vw;
        }

        #h1-3 {
          font-size: 2.222vw;
          line-height: normal;
        }

        #h1-4 {
          font-size: 2vw;
          font-family: 'SuisseIntl-Medium';
        }

        #h1-5 {
          font-size: 1.556vw;
          font-family: 'SuisseIntl-Medium';
          line-height: normal;
        }

        #h1-6 {
          width: 40.741vw;
          color: rgba(30, 30, 30, 0.8);
          font-size: 1.259vw;
          line-height: 130%;
        }

        #h1-7 {
          width: 40.741vw;
          color: rgba(30, 30, 30, 0.8);
          font-size: 1.259vw;
          line-height: 150%;
        }

        #h1-8 {
          font-family: 'SuisseIntl-Medium';
          font-size: 1.259vw;
          line-height: 150%;
        }

        #h1-9 {
          font-family: 'SuisseIntl-Semibold';
          font-size: 1.259vw;
          line-height: 130%;
        }

        #h1-10 {
          font-family: 'SuisseIntl-Medium';
          font-size: 1.037vw;
          line-height: normal;
          text-transform: uppercase;
        }

        #h1-11 {
          font-size: 0.889vw;
          line-height: 130%;
        }
      }

      .way {
        margin-top: 5.203vw;
        display: flex;
        gap: 45.037vw;
        .next {
          > a {
            display: flex;
            gap: 0.741vw;
            align-items: center;
            transition: opacity 0.3s ease;

            &:hover {
              opacity: 0.5;
            }
            > h2 {
              color: #000;
              font-family: 'SuisseIntl-Regular';
              font-size: 2.222vw;
              font-style: normal;
              line-height: 115%;
            }

            > img {
              width: 1.778vw;
              height: 1.778vw;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 912px) {
  body.typography {
    .menu-mobile-above {
      overflow: hidden;
      padding: 15.581vw 0 0 4.651vw;
      background-color: #006eff;
      z-index: 5;
      position: absolute;
      display: none;
      height: calc(100vh - 15.581vw);
      width: calc(100vw - 4.651vw);

      .top-mobile-menu {
        display: flex;
        align-items: center;
        gap: 60.698vw;
        > a {
          > svg {
            width: 23.488vw;
            height: 6.174vw;
          }
        }
        > img {
          width: 6.053vw;
          height: 6.053vw;
        }
      }
      .content {
        margin-top: 25.686vw;
        display: flex;
        flex-direction: column;
        gap: 8.14vw;
        > a {
          display: block;
          width: fit-content;
          > h1 {
            width: fit-content;
            color: #fff;
            font-family: 'SuisseIntl-Regular';
            font-size: 8.14vw;
            font-style: normal;
            line-height: 115%;
          }

          #now {
            color: #80b7ff;
          }
        }
      }
      .circle {
        position: absolute;
        top: 138.256vw;
        left: -7.674vw;
        width: 115.116vw;
        height: 115.116vw;
        border-radius: 115.116vw;
        background: radial-gradient(
          58.48% 58.48% at 50% 50%,
          #fc0 16.97%,
          #ffa200 51.59%,
          #ff4b00 83.1%
        );
        filter: blur(4.955vw);
      }
    }
    .header-left {
      display: none;
    }
    .right-content {
      margin-left: 0;
      width: 100%;
      .header {
        .header-right {
          margin-top: 15.581vw;
          margin-left: 4.651vw;
          .top-mobile-menu {
            display: flex;
            align-items: center;
            gap: 58.837vw;
            > a {
              > svg {
                width: 23.488vw;
                height: 6.174vw;
              }
            }
            .menu-mobile {
              width: 8.372vw;
              height: 6.047vw;
              display: flex;
              flex-wrap: wrap;
              align-content: space-around;

              > div {
                background-color: #fff;
                height: 0.465vw;
                width: 100%;
              }
            }
          }

          > h1 {
            margin-top: 25.453vw;
            font-size: 13.953vw;
          }

          > h3 {
            margin-top: 2.326vw;
            font-size: 3.953vw;
          }

          .paragraphMenu {
            margin-top: 16.279vw;
            margin-left: 0;

            > h3 {
              font-size: 3.953vw;
              width: 90.698vw;
            }

            > a {
              > h2 {
                font-size: 4.884vw;
                margin-top: 3.488vw;
              }

              #about {
                margin-top: 9.302vw;
              }
            }
          }
        }
      }

      .main-content {
        width: calc(100% - 9.302vw);
        padding: 9.767vw 4.651vw 6.977vw 4.651vw;

        > h1 {
          font-size: 10.465vw;
          line-height: normal;
        }

        > p {
          margin-top: 11.628vw;
          width: 90.698vw;
          font-size: 3.953vw;
        }

        .wrapper {
          gap: 3.023vw;
          flex-direction: column;
          .letters {
            margin-top: 9.302vw;
            gap: 2.326vw;
            .line {
              gap: 3.488vw;
              > p {
                font-size: 3.953vw;
              }
            }

            #second-variant {
              > p {
                font-family: 'SuisseIntl-Book';
              }

              #regular {
                font-family: 'SuisseIntl-Regular';
                font-weight: 400;
              }
            }
          }
        }
        .value {
          margin-top: 11.628vw;
          gap: 2.558vw;

          > p {
            font-size: 4.884vw;
          }
        }

        > picture {
          display: block;
          > img {
            width: 90.465vw;
            height: 95.116vw;
            border-radius: 2.093vw;
            margin-top: 6.977vw;
          }
        }
        #img2 {
          margin-top: 9.302vw;
        }
        > h3 {
          margin-top: 2.326vw;
          margin-left: 0;
          width: 90.698vw;
          font-size: 3.953vw;
          line-height: 150%;
        }
        .images1 {
          flex-direction: column;
          gap: 2.326vw;
          margin-top: 9.302vw;
          > picture {
            > img {
              width: 90.698vw;
              height: 105.116vw;
              border-radius: 2.093vw;
            }
          }
        }

        #second {
          margin-top: 23.256vw;
        }

        .type-system {
          margin-top: 23.256vw;

          > h2 {
            font-size: 8.14vw;
          }

          > h3 {
            margin-top: 16.744vw;
            font-size: 4.884vw;
          }

          > h1 {
            margin-top: 5.814vw;
            width: 90.698vw;
            font-size: 12.558vw;
          }

          #h1-desc {
            display: none;
          }

          #h1-mobile {
            display: block;
          }

          > p {
            margin-top: 6.977vw;
            font-size: 3.953vw;
          }

          .underline {
            width: 90.698vw;
            height: 1px;
            border-bottom: 1px #000 solid;
            margin-top: 10.465vw;
          }

          #h3-2 {
            margin-top: 9.767vw;
          }

          #h1-2 {
            font-size: 8.14vw;
          }

          #h1-3 {
            font-size: 6.977vw;
          }

          #h1-4 {
            font-size: 6.279vw;
          }

          #h1-5 {
            font-size: 4.884vw;
          }

          #h1-6 {
            width: 90.698vw;
            font-size: 3.953vw;
          }

          #h1-7 {
            width: 90.698vw;
            font-size: 3.953vw;
          }

          #h1-8 {
            font-size: 3.953vw;
          }

          #h1-9 {
            font-size: 3.953vw;
          }

          #h1-10 {
            font-size: 3.256vw;
          }

          #h1-11 {
            font-size: 2.791vw;
          }
        }

        .way {
          margin-top: 16.279vw;
          gap: 34.884vw;
          .next {
            > a {
              gap: 3.488vw;
              > h2 {
                font-size: 6.977vw;
              }

              > img {
                width: 5.581vw;
                height: 5.581vw;
              }
            }
          }
        }
      }
    }
  }
}
