$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$border-sm: 10px;
$border-md: 20px;
$border-lg: 40px;

@mixin breakpoint($point) {
    @if $point == xl {        
        @media (min-width: $xl) {
            @content;
        }
    }
    @if $point == lg {        
        @media (min-width: $lg) {
            @content;
        }
    }
    @if $point == md {
        @media (min-width: $md) {
            @content;
        }
    }
    @if $point == sm {        
        @media (min-width: $sm) {
            @content;
        }
    }
}

.Footer {
    flex-direction: column; 
    justify-content: space-between; 
    align-items: flex-start; 
    display: flex;
    width: 100%;
    padding: 45px 40px 26px 40px;

    & .Content {
        flex-direction: column; 
        justify-content: flex-start;
        align-items: flex-start; 
        display: flex;
        width: 100%;

        @include breakpoint(sm) { 
            flex-direction: row; 
            justify-content: space-between;         
        }

        & .Logo {
            flex-direction: column; 
            justify-content: flex-start; 
            align-items: flex-start; 
            display: flex;
            margin-bottom: 52px;

            & .Moto {
                font-family: Suisse;
                font-size: 17px;
                line-height: 20px;
                font-weight: 500;
        
                margin-top: 21px;
            }
        }

        & .FooterContent {            
            flex-direction: column; 
            justify-content: flex-end; 
            align-items: flex-start; 
            display: flex;
            gap: 50px;            

            @include breakpoint(sm) { 
                flex-direction: row; 
                gap: 118px;        
            }
        }

        & .Column {
            flex-direction: column; 
            justify-content: flex-start; 
            align-items: flex-start; 
            display: flex;
            margin-bottom: 50px;

            & .Header {
                font-family: Suisse;
                font-size: 17px;
                line-height: 20px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            & .Link {
                font-family: Suisse;
                font-size: 17px;
                line-height: 20px;
                font-weight: 400;
                text-decoration: none;
        
                color: #9A9A9A;
                margin-bottom: 9px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
    & .Rights {
        font-family: Suisse;
        font-size: 17px;
        line-height: 23.5px;
        font-weight: 400;

        color: #9A9A9A;
    }
}