.A {
  &_content {
    margin-top: 2.222vw;
    display: flex;
    justify-content: space-between;
  }
  &_agreement {
    margin-top: 2.593vw;
    display: flex;
    align-items: flex-start;
  }
  &_second-round {
    margin-top: 64.704vw;
    width: 32.667vw;
    height: 32.667vw;
    border-radius: 32.667vw;
    background: radial-gradient(
                    58.48% 58.48% at 50% 50%,
                    var(--yellow) 16.97%,
                    var(--orange) 51.59%,
                    var(--red) 83.1%
    );
    filter: blur(2.407vw);
  }
  &_creators {
    margin-top: 5.556vw;
  }
  &_card-title {
    padding: 2.593vw 2.222vw 2.593vw 1.926vw;
    width: 50.074vw;
    height: 4.889vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.481vw;
    background: #efefef;

    > h1 {
      color: #010101;
      font-family: 'Suisse_Medium', sans-serif;
      font-size: 2.593vw;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    > p {
      width: 27.037vw;
      color: rgba(30, 30, 30, 0.8);
      font-family: 'Suisse_Regular', sans-serif;
      font-size: 1.259vw;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
  }
  &_second-round {
    position: absolute;
    top: 135.333vw;
    z-index: 3;
    width: 143.556vw;
    height: 143.556vw;
    border-radius: 143.556vw;
    background: radial-gradient(
                    58.48% 58.48% at 50% 50%,
                    var(--green-blue) 16.97%,
                    var(--lite-blue) 51.59%,
                    var(--dark-blue) 83.1%
    );
    filter: blur(6.527vw);
  }
  &_brand {
    margin-top: 3.704vw;
    display: flex;
    flex-direction: column;
    gap: 0.519vw;
    > a {
      > h2 {
        color: #9a9a9a;
        font-family: 'Suisse_Regular', sans-serif;
        font-size: 1.259vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: color 0.3s ease-out;

        &:hover {
          color: #000;
        }
      }
    }

    > h2 {
      color: #9a9a9a;
      font-family: 'Suisse_Regular', sans-serif;
      font-size: 1.259vw;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &_theme-parts {
    margin-top: 0.889vw;
    display: flex;
    align-items: flex-start;
    gap: 0.296vw;
  }
  &_source {
    display: flex;
    padding: 0.37vw 0.741vw;
    justify-content: center;
    align-items: center;
    gap: 0.741vw;
    border-radius: 0.222vw;
    background: rgba(255, 204, 0, 0.2);

    > h3 {
      color: #000;
      font-family: Suisse_Regular;
      font-size: 1.259vw;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
  }
  &_text {
    margin-top: 1.778vw !important;
  }
  &_social-network {
    margin-top: 1.481vw;
    display: flex;
    gap: 0.741vw;

    > a {
      > img {
        width: 4.074vw;
        height: 4.074vw;
      }
    }
  }
  &_now {
    font-family: Suisse_Semibold;
    background: linear-gradient(91deg, #ffa200 18.34%, #ff4b00 65.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}