.M {
  &_card {
    position: absolute;
    padding: 2.889vw 1.926vw 2.815vw 1.926vw;
    width: 27.111vw;
    height: 9.259vw;
    border-radius: 1.481vw;
    background: #efefef;
  }
  &_top-content {
    position: fixed;
    z-index: 4;
    margin-top: 2.963vw;
    width: 94.074vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: difference;
  }
  &_tag {
    margin-top: 1.481vw;
    display: flex;
    gap: 0.593vw;
  }
  &_navigation {
    margin-left: 28.296vw;
  }
  &_articles {
    margin-left: 9.63vw;
  }
  &_creator {
    margin-top: 1.778vw;
    display: flex;
    width: 43.704vw;
    padding: 1.185vw 1.481vw;
    flex-direction: column;
    border-radius: 0.37vw;
    background: #ffe9e0;

    > h2 {
      color: #000;
      font-family: Suisse_Semibold;
      font-size: 1.259vw;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
    }

    > p {
      margin-top: 0.741vw;
      width: 38.741vw;
      color: rgba(0, 0, 0, 0.7);
      font-family: Suisse_Regular;
      font-size: 1.037vw;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
  }
  &_sources {
    margin-top: 0.963vw;
    display: flex;
    align-items: flex-start;
    gap: 0.741vw;

    > a {
      .source {
        display: flex;
        padding: 0.37vw 0.741vw;
        justify-content: center;
        align-items: center;
        gap: 0.741vw;
        border-radius: 0.222vw;
        background: rgba(255, 204, 0, 0.2);

        > h3 {
          color: #000;
          font-family: Suisse_Regular;
          font-size: 1.259vw;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
        }
      }
    }
  }
  &_text-block {
    margin-top: 3.704vw;
    margin-bottom: 3.704vw;

    > h2 {
      color: #000;
      font-family: Suisse_Medium;
      font-size: 1.556vw;
      font-style: normal;
      font-weight: 500;
      line-height: 128%;
    }

    > p {
      margin-top: 2.519vw;
      color: #000;
      font-family: Suisse_Regular;
      font-size: 1.259vw;
      font-style: normal;
      font-weight: 400;
      line-height: 153%;

      > span {
        font-family: Suisse_Semibold;
      }
    }

    > blockquote {
      margin-top: 2.222vw;
      margin-bottom: 2.222vw;
      display: flex;
      flex-wrap: wrap;
      width: 33.333vw;
      padding: 1.481vw 6.667vw;
      align-items: center;
      gap: 0.741vw;
      border-radius: 0.37vw;
      background: #ffe9e0;

      > h2 {
        width: 34vw;
        color: #000;
        font-family: Suisse_Medium;
        font-size: 1.259vw;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
      }

      > p {
        color: rgba(0, 0, 0, 0.7);
        font-family: Suisse_Regular;
        font-size: 1.037vw;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
      }
    }
  }
  &_share {

  }
  &_menu {
    margin-top: 6.889vw;
    margin-bottom: 12.741vw;
    position: sticky;
    height: 11.333vw;
    top: 5.926vw;

    > h2 {
      color: #000;
      font-family: Suisse_Semibold;
      font-size: 1.037vw;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      text-transform: uppercase;
      margin-bottom: 1.852vw;
    }

    > p {
      margin-top: 0.741vw;
      width: 13.778vw;
      color: #636366;
      font-family: Suisse_Regular;
      font-size: 0.889vw;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }

    .A_now {
      font-family: Suisse_Semibold;
      background: linear-gradient(91deg, #ffa200 18.34%, #ff4b00 65.28%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}