.Q {
  &_underline {
    height: 0.074vw;
    width: 50.222vw;
    background: linear-gradient(
                    271deg,
                    var(--dark-blue) 0.65%,
                    var(--lite-blue) 99.35%
    );
  }
  &_company {
    > img {
      width: 10.148vw;
      height: 2.667vw;
      margin-bottom: 1.556vw;
    }
    > h2 {
      width: 19.481vw;
      color: #000;
      font-family: 'Suisse_Medium', sans-serif;
      font-size: 1.259vw;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
    }
  }
  &_theme-part {
    width: 2.667vw;
    height: 0.296vw;
    border-radius: 1.481vw;
    background: #e0e0e0;
  }
}