.Case {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 20px; 
    display: none;
    width: 100%;

    & .ImageContainer {
        width: 100%; 
        aspect-ratio: 16 / 9;
        position: 'relative';
        border-radius: 9px;
    }

    & .Tags {
        justify-content: flex-start; 
        align-items: flex-start; 
        gap: 30px;
        display: flex;
    }

    & .Time {
        text-align: right; 
        color: #606060; 
        font-size: 14px;
        font-family: Suisse; 
        font-weight: 600; 
        text-transform: uppercase; 
        line-height: 18.20px; 
        word-wrap: break-word;
    }

    & .Title {
        color: black; 
        // font-size: 27px; 
        font-family: Suisse; 
        font-weight: 500; 
        word-wrap: break-word;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    & .Subtitle {
        color: #979797; 
        font-size: 14px; 
        font-family: Suisse; 
        font-weight: 400;
        line-height: 21px; 
        word-wrap: break-word;
    }
}