@import "../../../assets/scss/variables/colors-variables";

.tag {
    justify-content: flex-start;
    align-items: center; 
    gap: 8px;
    display: inline-flex;

    p {
        font-family: Suisse;
        font-size: 14px;
        font-weight: 600;
        line-height: 18.2px;
        text-transform: uppercase; 

        &.red {
            color: var(--pink);
        }

        &.blue {
            color: var(--dark-blue);
        }

        &.yellow {
            color: var(--orange);
        }

        &.green {
            color: var(--lite-green);
        }
    }
}
