body.design-thinking-world {
  padding: 0 2.963vw 1.926vw 2.963vw;
  .menu-mobile-above {
    display: none;
  }
  .tag-2 {
    margin-left: 1.259vw;
  }
  #tag2-text {
    color: var(--dark-blue);
  }
  //header
  .header {
    width: 100%;
    height: 7.111vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > a {
      > img {
        width: 6.222vw;
        height: 1.636vw;
      }
    }

    .menu-mobile {
      display: none;
    }

    .links {
      display: flex;
      gap: 2.222vw;

      > a {
        color: #000;
        font-family: 'SuisseIntl-Medium';
        font-size: 1.037vw;
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
      }
    }

    > img {
      width: 6.222vw;
      height: 1.636vw;
    }

    #subscribe {
      opacity: 0;
      cursor: default;
      color: #000;
      text-align: right;
      font-family: 'SuisseIntl-Semibold';
      font-size: 1.037vw;
      font-style: normal;
      line-height: normal;
      text-transform: uppercase;
      border-bottom: 0.074vw solid #000;
      height: 1.333vw;
      margin-top: 0.148vw;
    }
  }

  //main content
  .main-content {
    position: relative;
    width: 94.074vw;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    > img {
      margin-top: 3.704vw;
      width: 94.074vw;
      height: 32.593vw;
      border-radius: 0.667vw;
      background: linear-gradient(
        0deg,
        rgba(255, 75, 0, 0.05) 0%,
        rgba(255, 75, 0, 0.05) 100%
      );
    }

    #mobile-img2 {
      display: none;
    }
    #mobile-img1 {
      display: none;
    }

    .wrapper2 {
      display: flex;
      gap: 8.667vw;
      margin-left: 23.704vw;
      .content {
        margin-top: 5.704vw;
        width: 46.667vw;

        > h1 {
          color: #000;
          font-family: 'SuisseIntl-Medium';
          font-size: 2.593vw;
          font-style: normal;
          line-height: 130%;
        }

        .tag {
          margin-top: 1.63vw;
          display: flex;
          gap: 0.593vw;

          > img {
            width: 1.333vw;
            height: 1.333vw;
          }
          h2 {
            color: #ff4b00;
            font-family: 'SuisseIntl-Semibold';
            font-size: 1.037vw;
            font-style: normal;
            line-height: 130%;
            text-transform: uppercase;
          }
        }

        > h3 {
          margin-top: 1.407vw;
          color: #000;
          font-family: 'SuisseIntl-Regular';
          font-size: 1.259vw;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
        }

        .theme-parts {
          margin-top: 0.889vw;
          display: flex;
          align-items: flex-start;
          gap: 0.296vw;

          .theme-part {
            width: 2.667vw;
            height: 0.296vw;
            border-radius: 1.481vw;
            background: #e0e0e0;
          }

          #done {
            background: linear-gradient(91deg, #ffc902 9.31%, #ff4b00 94.51%);
          }
        }

        .creator {
          margin-top: 1.778vw;
          display: flex;
          width: 43.704vw;
          padding: 1.185vw 1.481vw;
          flex-direction: column;
          border-radius: 0.37vw;
          background: #ffe9e0;

          > h2 {
            color: #000;
            font-family: 'SuisseIntl-Semibold';
            font-size: 1.259vw;
            font-style: normal;
            line-height: 130%;
          }

          > p {
            margin-top: 0.741vw;
            width: 38.741vw;
            color: rgba(0, 0, 0, 0.7);
            font-family: 'SuisseIntl-Regular';
            font-size: 1.037vw;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }
        }

        .sources {
          margin-top: 0.963vw;
          display: flex;
          align-items: flex-start;
          gap: 0.741vw;

          > a {
            .source {
              display: flex;
              padding: 0.407vw 0.741vw;
              justify-content: center;
              align-items: center;
              gap: 0.741vw;
              border-radius: 0.222vw;
              background: rgba(255, 204, 0, 0.2);

              > img {
                width: 1.556vw;
                height: 1.556vw;
              }

              > h3 {
                color: #000;
                font-family: 'SuisseIntl-Regular';
                font-size: 1.259vw;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
              }
            }
          }
        }

        .text-block {
          margin-top: 3.704vw;
          margin-bottom: 3.704vw;

          > h2 {
            color: #000;
            font-family: 'SuisseIntl-Medium';
            font-size: 1.556vw;
            font-style: normal;
            line-height: 150%;
          }

          .h2 {
            font-family: 'SuisseIntl-Medium';
            font-size: 1.852vw;
            margin-top: 3.704vw;
            line-height: 128%;
          }

          > h3 {
            margin-top: 2.519vw;
            color: #000;
            font-family: 'SuisseIntl-Semibold';
            font-size: 1.259vw;
            font-style: normal;
            line-height: 150%;
          }

          > p {
            margin-top: 1.778vw;
            color: #000;
            font-family: 'SuisseIntl-Regular';
            font-size: 1.259vw;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;

            > a {
              color: #ff4b00;
              border-bottom: 0.074vw solid #ff4b00;
            }

            > span {
              font-family: 'SuisseIntl-Semibold';
            }
          }

          .p-first {
            margin-top: 1.111vw;
          }

          > blockquote {
            margin-top: 2.222vw;
            margin-bottom: 2.222vw;
            display: flex;
            flex-wrap: wrap;
            width: 33.333vw;
            padding: 1.481vw 6.667vw;
            align-items: center;
            gap: 0.741vw;
            border-radius: 0.37vw;
            background: #ffe9e0;

            > h2 {
              width: 34vw;
              color: #000;
              font-family: 'SuisseIntl-Medium';
              font-size: 1.259vw;
              font-style: normal;
              line-height: 130%;
            }

            > p {
              color: rgba(0, 0, 0, 0.7);
              font-family: 'SuisseIntl-Regular';
              font-size: 1.037vw;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
            }
          }
        }

        > a {
          color: #000;
          font-family: 'SuisseIntl-Regular';
          font-size: 1.259vw;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          border-bottom: 0.074vw black solid;
        }

        .share {
          margin-top: 5.185vw;

          > h2 {
            color: #000;
            font-family: 'SuisseIntl-Medium';
            font-size: 1.556vw;
            font-style: normal;
            line-height: 130%;
          }

          .social-network {
            margin-top: 1.481vw;
            display: flex;
            gap: 0.741vw;

            > a {
              > img {
                width: 4.074vw;
                height: 4.074vw;
              }
            }
          }
        }
      }
    }

    > h2 {
      margin-top: 4.889vw;
      margin-left: 23.704vw;
      color: #000;
      font-family: 'SuisseIntl-Medium';
      font-size: 1.556vw;
      font-style: normal;
      line-height: 130%;
    }

    .top-cards {
      margin-top: 2.222vw;
      display: flex;
      gap: 0.741vw;

      > a {
        .top-card {
          > img {
            width: 30.889vw;
            height: 18.222vw;
            border-radius: 0.667vw;
          }

          .tag {
            margin-top: 1.407vw;
            display: flex;
            gap: 0.593vw;

            > img {
              width: 1.333vw;
              height: 1.333vw;
            }
            h2 {
              color: #ff4b00;
              font-family: 'SuisseIntl-Semibold';
              font-size: 1.037vw;
              font-style: normal;
              line-height: 130%;
              text-transform: uppercase;
            }
          }

          > h1 {
            margin-top: 0.963vw;
            width: 30.889vw;
            color: #000;
            font-family: 'SuisseIntl-Medium';
            font-size: 2vw;
            font-style: normal;
            line-height: 116%;
          }

          > p {
            margin-top: 1.185vw;
            width: 30.889vw;
            color: #959595;
            font-family: 'SuisseIntl-Regular';
            font-size: 1.037vw;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }
        }
      }
    }
  }

  .menu {
    margin-top: 6.889vw;
    margin-bottom: 12.741vw;
    position: sticky;
    height: 27.333vw;
    top: 5.926vw;

    > h2 {
      color: #000;
      font-family: 'SuisseIntl-Semibold';
      font-size: 1.037vw;
      font-style: normal;
      line-height: 130%;
      text-transform: uppercase;
      margin-bottom: 1.852vw;
    }

    > a {
      > p {
        margin-top: 0.741vw;
        width: 13.778vw;
        color: #636366;
        font-family: 'SuisseIntl-Regular';
        font-size: 0.889vw;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }

    .now {
      font-family: 'SuisseIntl-Semibold';
      background: linear-gradient(91deg, #ffa200 18.34%, #ff4b00 65.28%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  //footer
  .footer {
    margin-top: 2.963vw;
    width: 100%;
    height: 19.407vw;
    padding: 3.333vw 0 0 0;

    .wrapper {
      display: flex;

      .company {
        > img {
          width: 10.148vw;
          height: 2.667vw;
          margin-bottom: 1.556vw;
        }
        > h2 {
          width: 19.481vw;
          color: #000;
          font-family: 'SuisseIntl-Medium';
          font-size: 1.259vw;
          font-style: normal;
          line-height: 130%;
        }
      }

      .navigation,
      .social-network,
      .articles {
        > h2 {
          color: #000;
          font-family: 'SuisseIntl-Medium';
          font-size: 1.259vw;
          font-style: normal;
          line-height: normal;
          margin-bottom: 1.481vw;
        }
        > a {
          color: #9a9a9a;
          font-family: 'SuisseIntl-Regular';
          font-size: 1.259vw;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 0.667vw;
          transition: color 0.3s ease-out;

          &:hover {
            color: black;
          }
        }
        display: flex;
        flex-direction: column;
      }

      .navigation {
        margin-left: 28.296vw;
      }

      .social-network {
        > h2 {
          text-transform: uppercase;
        }
        margin-left: 9.111vw;
      }

      .articles {
        margin-left: 9.63vw;
      }
    }

    .brand {
      margin-top: 3.704vw;
      display: flex;
      flex-direction: column;
      gap: 0.519vw;
      > a {
        > h2 {
          color: #9a9a9a;
          font-family: 'SuisseIntl-Regular';
          font-size: 1.259vw;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          transition: color 0.3s ease-out;

          &:hover {
            color: #000;
          }
        }
      }

      > h2 {
        color: #9a9a9a;
        font-family: 'SuisseIntl-Regular';
        font-size: 1.259vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

@media all and (max-width: 561px) {
  body.design-thinking-world {
    .menu-mobile-above {
      margin-left: -4.651vw;
      overflow: hidden;
      padding: 15.581vw 0 0 4.651vw;
      background-color: #fff;
      z-index: 5;
      position: absolute;
      display: none;
      height: calc(100vh - 15.581vw);
      width: calc(100vw - 4.651vw);

      .top-mobile-menu {
        display: flex;
        align-items: center;
        gap: 60.698vw;
        > a {
          > svg {
            width: 23.488vw;
            height: 6.174vw;
          }
        }
        > img {
          width: 6.053vw;
          height: 6.053vw;
        }
      }
      .content {
        margin-top: 25.686vw;
        display: flex;
        flex-direction: column;
        gap: 8.14vw;
        > a {
          display: block;
          width: fit-content;
          > h1 {
            width: fit-content;
            color: #000;
            font-family: 'SuisseIntl-Regular';
            font-size: 8.14vw;
            font-style: normal;
            line-height: 115%;
          }
        }
      }
      .circle {
        position: absolute;
        top: 138.256vw;
        left: -7.674vw;
        width: 115.116vw;
        height: 115.116vw;
        border-radius: 115.116vw;
        background: radial-gradient(
          58.48% 58.48% at 50% 50%,
          #f900fe 16.97%,
          #f4017e 51.59%,
          #df024d 83.1%
        );
        filter: blur(4.955vw);
      }
    }
    padding: 0 4.651vw 5.814vw 4.651vw;
    .header {
      height: 26.512vw;
      align-items: normal;
      .links {
        display: none;
      }

      .menu-mobile {
        width: 8.372vw;
        height: 6.047vw;
        display: flex;
        margin-top: 15.581vw;
        flex-wrap: wrap;
        align-content: space-around;

        > div {
          background-color: #000;
          height: 0.465vw;
          width: 100%;
        }
      }

      > a {
        height: 6.174vw;
        margin-top: 15.581vw;
        > img {
          width: 23.488vw;
          height: 6.174vw;
        }
      }

      #subscribe {
        display: none;
      }
    }

    .main-content {
      > img {
        display: none;
      }

      #mobile-img2 {
        display: block;
        width: 90.698vw;
        height: 246зч;
        border-radius: 2.093vw;
      }
      #mobile-img1 {
        display: block;
        width: 90.698vw;
        height: 84.419vw;
        border-radius: 2.093vw;
      }
      #desc-img1 {
        display: none;
      }

      .wrapper2 {
        gap: 0;
        margin-left: 0;
        .content {
          margin-top: 6.977vw;
          width: 90.698vw;

          > h1 {
            width: 90.698vw;
            font-size: 8.14vw;
          }

          .tag {
            margin-top: 5.116vw;
            gap: 1.86vw;
            width: 90.698vw;

            #tag-blue {
              margin-left: 3.953vw;
            }

            > img {
              width: 4.186vw;
              height: 4.186vw;
            }
            h2 {
              font-size: 3.256vw;
            }
          }

          > h3 {
            margin-top: 1.407vw;
            color: #000;
            font-family: 'SuisseIntl-Regular';
            font-size: 1.259vw;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
          }

          .creator {
            margin-top: 5.581vw;
            width: 81.395vw;
            padding: 3.721vw 4.651vw;
            border-radius: 1.163vw;

            > h2 {
              font-size: 3.953vw;
            }

            > p {
              margin-top: 2.326vw;
              width: 82.558vw;
              font-size: 3.256vw;
            }
          }

          .sources {
            margin-top: 3.488vw;
            gap: 2.326vw;
            width: 90.698vw;

            > a {
              .source {
                padding: 1.163vw 2.326vw;
                gap: 2.326vw;
                border-radius: 0.698vw;

                > img {
                  width: 4.884vw;
                  height: 4.884vw;
                }

                > h3 {
                  font-size: 3.953vw;
                }
              }
            }
          }

          .text-block {
            margin-top: 11.628vw;
            margin-bottom: 6.977vw;

            > h2 {
              width: 90.698vw;
              font-size: 4.884vw;
            }

            .h2 {
              font-size: 5.814vw;
              margin-top: 11.628vw;
            }

            > p {
              width: 90.698vw;
              margin-top: 5.581vw;
              font-size: 3.953vw;
            }

            > h3 {
              margin-top: 7.907vw;
              font-size: 3.953vw;
            }

            .p1 {
              margin-top: 7.907vw;
            }

            .p-first {
              margin-top: 3.488vw;
            }
          }

          .mobile-img2 {
            display: block;
          }

          > img {
            width: 90.698vw;
            height: 95.116vw;
            border-radius: 2.093vw;
          }

          .desc-img2 {
            display: none;
          }

          #last-img {
            display: none;
          }

          .mobile-img3 {
            display: block;
            margin-top: 6.977vw;
            height: 113.023vw;
          }

          .desc {
            margin-top: 2.326vw;
            width: 90.698vw;
            font-size: 3.256vw;
          }

          > a {
            font-size: 1.259vw;
            border-bottom: 0.074vw black solid;
          }

          .share {
            margin-top: 11.628vw;

            > h2 {
              font-size: 4.884vw;
            }

            .social-network {
              margin-top: 4.651vw;
              gap: 2.326vw;

              > a {
                > img {
                  width: 12.791vw;
                  height: 12.791vw;
                }
              }
            }
          }
        }
      }
      > h2 {
        margin-top: 11.628vw;
        width: 90.698vw;
        margin-left: 0;
        font-size: 4.884vw;
      }

      .top-cards {
        margin-top: 6.977vw;
        display: flex;
        flex-direction: column;
        gap: 11.628vw;

        > a {
          .top-card {
            > img {
              width: 90.698vw;
              height: 57.209vw;
              border-radius: 2.093vw;
            }

            .tag {
              margin-top: 4.651vw;
              gap: 1.86vw;

              > img {
                width: 4.186vw;
                height: 4.186vw;
              }
              h2 {
                font-size: 3.256vw;
              }
            }

            > h1 {
              margin-top: 3.488vw;
              width: 90.698vw;
              font-size: 6.279vw;
            }

            > p {
              margin-top: 3.488vw;
              width: 90.698vw;
              font-size: 3.953vw;
            }
          }
        }
      }
    }
    //footer
    .footer {
      margin-top: 10.698vw;
      width: 100%;
      height: 181.395vw;
      padding: 8.605vw 0 0 0;

      .wrapper {
        flex-direction: column;

        .company {
          > img {
            width: 31.86vw;
            height: 8.372vw;
            margin-bottom: 4.884vw;
          }
          > h2 {
            width: 61.163vw;
            font-size: 3.953vw;
          }
        }

        .navigation,
        .social-network,
        .articles {
          > h2 {
            font-size: 4.884vw;
            margin-bottom: 4.651vw;
          }
          > a {
            font-size: 4.884vw;
            margin-bottom: 3.488vw;
          }
        }

        .navigation {
          margin-top: 12.093vw;
          margin-left: 0;
        }

        .social-network {
          margin-top: 5.814vw;
          margin-left: 0;
        }

        .articles {
          margin-top: 5.814vw;
          margin-left: 0;
        }
      }

      .brand {
        margin-top: 8.14vw;
        gap: 1.628vw;
        > a {
          > h2 {
            font-size: 3.953vw;
          }
        }

        > h2 {
          font-size: 3.953vw;
        }
      }
    }
  }

  .menu {
    display: none;
  }
}
