@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/Suisse Int'l Book/Web Fonts/SuisseIntl-Book.eot");
  src: url("fonts/Suisse Int'l Book/Web Fonts/SuisseIntl-Book.eot?#iefix") format("embedded-opentype"), url("fonts/Suisse Int'l Book/Web Fonts/SuisseIntl-Book.woff2") format("woff2"), url("fonts/Suisse Int'l Book/Web Fonts/SuisseIntl-Book.woff") format("woff"), url("fonts/Suisse Int'l Book/Web Fonts/SuisseIntl-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/Suisse Int'l Bold/Web Fonts/SuisseIntl-Bold.eot");
  src: url("fonts/Suisse Int'l Bold/Web Fonts/SuisseIntl-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Suisse Int'l Bold/Web Fonts/SuisseIntl-Bold.woff2") format("woff2"), url("fonts/Suisse Int'l Bold/Web Fonts/SuisseIntl-Bold.woff") format("woff"), url("fonts/Suisse Int'l Bold/Web Fonts/SuisseIntl-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/Suisse Int'l Light/Web Fonts/SuisseIntl-Light.eot");
  src: url("fonts/Suisse Int'l Light/Web Fonts/SuisseIntl-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Suisse Int'l Light/Web Fonts/SuisseIntl-Light.woff2") format("woff2"), url("fonts/Suisse Int'l Light/Web Fonts/SuisseIntl-Light.woff") format("woff"), url("fonts/Suisse Int'l Light/Web Fonts/SuisseIntl-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/Suisse Int'l Medium/Web Fonts/SuisseIntl-Medium.eot");
  src: url("fonts/Suisse Int'l Medium/Web Fonts/SuisseIntl-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Suisse Int'l Medium/Web Fonts/SuisseIntl-Medium.woff2") format("woff2"), url("fonts/Suisse Int'l Medium/Web Fonts/SuisseIntl-Medium.woff") format("woff"), url("fonts/Suisse Int'l Medium/Web Fonts/SuisseIntl-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/Suisse Int'l Regular/Web Fonts/SuisseIntl-Regular.eot");
  src: url("fonts/Suisse Int'l Regular/Web Fonts/SuisseIntl-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Suisse Int'l Regular/Web Fonts/SuisseIntl-Regular.woff2") format("woff2"), url("fonts/Suisse Int'l Regular/Web Fonts/SuisseIntl-Regular.woff") format("woff"), url("fonts/Suisse Int'l Regular/Web Fonts/SuisseIntl-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/Suisse Int'l SemiBold/Web Fonts/SuisseIntl-SemiBold.eot");
  src: url("fonts/Suisse Int'l SemiBold/Web Fonts/SuisseIntl-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Suisse Int'l SemiBold/Web Fonts/SuisseIntl-SemiBold.woff2") format("woff2"), url("fonts/Suisse Int'l SemiBold/Web Fonts/SuisseIntl-SemiBold.woff") format("woff"), url("fonts/Suisse Int'l SemiBold/Web Fonts/SuisseIntl-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "SuisseIntl", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-image {
  margin-bottom: 40px;
}
.container-image img {
  width: 100%;
  height: 100%;
}

.big-text {
  font-size: 32px;
  text-align: center;
  margin-bottom: 15px;
  max-width: 430px;
}

.button {
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 15px;
}
.button--primary {
  background: black;
  color: white;
  border: 1px solid transparent;
}

.header {
  margin-bottom: 20px;
}
.header__logo {
  font-size: 35px;
  font-weight: 700;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
}
.header__link {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}
.header__slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;
}
@media screen and (max-width: 720px) {
  .about {
    grid-template-columns: repeat(1, 1fr);
  }
}
.about__title {
  font-size: 25px;
  margin-bottom: 50px;
}
.about__text {
  margin-bottom: 20px;
}
.about__item {
  background: #ececec;
  padding: 20px;
  border-radius: 12px;
}
.about__controls {
  display: flex;
}
.about__controls .button {
  display: flex;
  padding: 5px 15px;
}
.about__controls .button:first-of-type {
  margin-right: 10px;
}

.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  min-height: 250px;
}
@media screen and (max-width: 1281px) {
  .banner img {
    border-radius: 0;
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  text-align: center;
  max-width: 90%;
  background: #ececec;
  padding: 20px;
  border-radius: 12px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .content {
    font-size: 20px;
    padding: 15px;
  }
}

.footer {
  margin-top: 25px;
  padding: 10px 20px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 760px) {
  .footer__content {
    flex-direction: column;
  }
}
.footer__logo {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
}
.footer__text {
  font-weight: 600;
  font-size: 18px;
}
.footer__left {
  flex-basis: 30%;
}
@media screen and (max-width: 760px) {
  .footer__left {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}
.footer__right {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
  gap: 118px;
}
@media screen and (max-width: 760px) {
  .footer__right {
    flex-basis: 100%;
  }
}
.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}
.footer li {
  margin-bottom: 12px;
}
.footer li a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}
.footer__copyright {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}
.footer__copyright div:first-of-type {
  margin-bottom: 16px;
}

/*# sourceMappingURL=styles.css.map */
