body.about {
  padding: 0 2.963vw 1.926vw 2.963vw;

  //header
  .header {
    width: 100%;
    height: 7.111vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > a {
      > img {
        width: 6.222vw;
        height: 1.636vw;
      }
    }

    .links {
      display: flex;
      gap: 2.222vw;

      > a {
        color: #000;
        font-family: SuisseIntl-Semibold;
        font-size: 1.037vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }
    }

    > img {
      width: 6.222vw;
      height: 1.636vw;
    }

    #subscribe {
      color: #000;
      text-align: right;
      font-family: SuisseIntl-Semibold;
      font-size: 1.037vw;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      border-bottom: 0.074vw solid #000;
      height: 1.333vw;
      margin-top: 0.148vw;
    }
  }

  //main content
  .main-content {
    width: 100%;
    height: 158.296vw;
    border-radius: 0.889vw;
    background-color: var(--pink);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;

    .first-round {
      position: absolute;
      top: -36.296vw;
      left: -8.296vw;
      width: 110.667vw;
      height: 110.667vw;
      border-radius: 110.667vw;
      background: radial-gradient(
        58.48% 58.48% at 50% 50%,
        var(--contrast-green) 16.97%,
        var(--lite-green) 44.27%,
        var(--dark-green) 79.69%
      );
      filter: blur(5.043vw);
    }

    .content {
      margin-top: 11.185vw;
      width: 54.222vw;
      padding: 4.444vw 2.667vw 0 2.667vw;
      height: 167.333vw;
      border-radius: 1.778vw;
      background: #fff;
      z-index: 2;

      .first-titles {
        width: 54.222vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.852vw;

        > h1 {
          color: #000;
          text-align: center;
          font-family: SuisseIntl-Regular;
          font-size: 4vw;
          font-style: normal;
          font-weight: 400;
          line-height: 115%;
        }
        > h3 {
          color: #000;
          width: 37.556vw;
          text-align: center;
          font-family: SuisseIntl-Regular;
          font-size: 1.259vw;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
        }
      }

      .cards {
        margin-top: 5.185vw;
        position: relative;
        height: 29.926vw;

        .card {
          position: absolute;
          width: 25.073vw;
          height: 12.741vw;
          border-radius: 1.481vw;
          background: #202020;
          padding: 1.852vw 0 0 1.667vw;

          > h2 {
            width: 22.593vw;
            color: #fff;
            margin-bottom: 1.481vw;
            font-family: SuisseIntl-Medium;
            font-size: 1.556vw;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          p {
            width: 21.556vw;
            color: rgba(255, 255, 255, 0.8);
            font-family: SuisseIntl-Regular;
            font-size: 1.259vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        #card1 {
          top: 0;
          left: 0;
        }
        #card2 {
          top: 0;
          left: 27.481vw;
        }
        #card3 {
          top: 15.333vw;
          left: 0;
        }
        #card4 {
          top: 15.333vw;
          left: 27.481vw;
        }
      }

      .creators {
        margin-top: 5.556vw;

        h2 {
          color: #000;
          font-family: SuisseIntl-Medium;
          font-size: 1.852vw;
          font-style: normal;
          font-weight: 500;
          line-height: 130%;
          margin-bottom: 1.111vw;
        }
        h3 {
          width: 54.222vw;
          color: #000;
          font-family: SuisseIntl-Regular;
          font-size: 1.259vw;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
        }
      }

      > h1 {
        margin-top: 4.444vw;
        color: #000;
        text-align: center;
        font-family: SuisseIntl-Regular;
        font-size: 4vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .cards-title {
        margin-top: 2.296vw;
        display: flex;
        flex-wrap: wrap;
        gap: 1.111vw;

        .card-title {
          padding: 2.593vw 2.222vw 2.593vw 1.926vw;
          width: 50.074vw;
          height: 4.889vw;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 1.481vw;
          background: #efefef;

          > h1 {
            color: #010101;
            font-family: SuisseIntl-Medium;
            font-size: 2.593vw;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          > p {
            width: 27.037vw;
            color: rgba(30, 30, 30, 0.8);
            font-family: SuisseIntl-Regular;
            font-size: 1.259vw;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
          }
        }
      }
    }

    .second-round {
      position: absolute;
      top: 135.333vw;
      z-index: 3;
      width: 143.556vw;
      height: 143.556vw;
      border-radius: 143.556vw;
      background: radial-gradient(
        58.48% 58.48% at 50% 50%,
        var(--green-blue) 16.97%,
        var(--lite-blue) 51.59%,
        var(--dark-blue) 83.1%
      );
      filter: blur(6.527vw);
    }
  }

  //footer
  .footer {
    margin-top: 2.963vw;
    width: 100%;
    height: 19.407vw;
    padding: 3.333vw 0 0 0;

    .wrapper {
      display: flex;

      .company {
        > img {
          width: 10.148vw;
          height: 2.667vw;
          margin-bottom: 1.556vw;
        }
        > h2 {
          width: 19.481vw;
          color: #000;
          font-family: SuisseIntl-Medium;
          font-size: 1.259vw;
          font-style: normal;
          font-weight: 500;
          line-height: 130%;
        }
      }

      .navigation,
      .social-network,
      .articles {
        > h2 {
          color: #000;
          font-family: SuisseIntl-Medium;
          font-size: 1.259vw;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 1.481vw;
        }
        > a {
          color: #9a9a9a;
          font-family: SuisseIntl-Regular;
          font-size: 1.259vw;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 0.667vw;
          transition: color 0.3s ease-out;

          &:hover {
            color: black;
          }
        }
        display: flex;
        flex-direction: column;
      }

      .navigation {
        margin-left: 28.296vw;
      }

      .social-network {
        > h2 {
          text-transform: uppercase;
        }
        margin-left: 9.111vw;
      }

      .articles {
        margin-left: 9.63vw;
      }
    }

    .brand {
      margin-top: 3.704vw;
      display: flex;
      flex-direction: column;
      gap: 0.519vw;
      > a {
        > h2 {
          color: #9a9a9a;
          font-family: SuisseIntl-Regular;
          font-size: 1.259vw;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          transition: color 0.3s ease-out;

          &:hover {
            color: #000;
          }
        }
      }

      > h2 {
        color: #9a9a9a;
        font-family: SuisseIntl-Regular;
        font-size: 1.259vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
