@media all and (max-width: 428px) {
  body.about {
    overflow-x: hidden;
    padding: 11.215vw 4.673vw 10.397vw 4.673vw;

    .header {
      display: none;
    }

    .p {
      margin-top: 9.346vw;
      margin-left: 0;
      width: 90.654vw;
      font-size: 4.673vw;

      .orange {
        font-size: 4.673vw;
      }
    }

    .folders {
      width: 290.654vw;
      height: 60.259vw;
      .first-fold {
        display: none;
      }
      .second-fold {
        display: none;
      }
      .third-fold {
        display: none;
      }

      .folder {
        width: 90.654vw;
        height: 60.28vw;
        clip-path: polygon(
          19.675186915887853vw 2.8696028037383177vw,
          19.675186915887853vw 2.8696028037383177vw,
          20.040800210280374vw 3.1615494859813085vw,
          20.39515214953271vw 3.4145407476635516vw,
          20.74482156542056vw 3.6305136915887855vw,
          21.096387289719626vw 3.8114054205607477vw,
          21.456428154205607vw 3.959153037383177vw,
          21.831522990654207vw 4.075693644859813vw,
          22.22825063084112vw 4.162964345794393vw,
          22.653189906542053vw 4.222902242990654vw,
          23.11291964953271vw 4.257444439252336vw,
          23.614018691588782vw 4.268528037383177vw,
          87.85046728971963vw 4.268528037383177vw,
          87.85046728971963vw 4.268528037383177vw,
          88.3052245327103vw 4.305224345794393vw,
          88.73662803738318vw 4.411464859813084vw,
          89.1389035046729vw 4.581476962616823vw,
          89.50627663551401vw 4.809488037383177vw,
          89.83297313084113vw 5.089725467289719vw,
          90.11321869158878vw 5.416416635514019vw,
          90.34123901869158vw 5.783788925233645vw,
          90.51125981308411vw 6.186069719626168vw,
          90.61750677570095vw 6.617486401869159vw,
          90.65420560747664vw 7.072266355140187vw,
          90.65420560747664vw 57.009345794392516vw,
          90.65420560747664vw 57.009345794392516vw,
          90.61139345794392vw 57.53992429906541vw,
          90.48744672897196vw 58.04324485981308vw,
          90.2891vw 58.51257289719626vw,
          90.02308785046729vw 58.94117383177571vw,
          89.69614485981307vw 59.322313084112146vw,
          89.31500560747662vw 59.649256074766356vw,
          88.88640467289719vw 59.91526822429907vw,
          88.41707663551402vw 60.113614953271025vw,
          87.91375607476635vw 60.23756168224299vw,
          87.38317757009347vw 60.280373831775705vw,
          3.2710280373831773vw 60.280373831775705vw,
          3.2710280373831773vw 60.280373831775705vw,
          2.7404495327102802vw 60.23756168224299vw,
          2.237128971962617vw 60.113614953271025vw,
          1.7678009345794394vw 59.91526822429907vw,
          1.3392vw 59.649256074766356vw,
          0.9580607476635515vw 59.322313084112146vw,
          0.6311177570093458vw 58.94117383177571vw,
          0.3651056074766355vw 58.51257289719626vw,
          0.1667588785046729vw 58.04324485981308vw,
          0.042812149532710286vw 57.53992429906541vw,
          5.415355016711449e-18vw 57.009345794392516vw,
          0vw 6.564205607476635vw,
          0vw 6.564205607476635vw,
          0.06753491822429906vw 5.31264881775701vw,
          0.2682816822429907vw 4.194205308411215vw,
          0.5994533060747663vw 3.2085522850467294vw,
          1.0582628037383177vw 2.355366953271028vw,
          1.6419231892523363vw 1.6343265186915887vw,
          2.3476474766355144vw 1.045108186915888vw,
          3.1726486799065414vw 0.5873891635514019vw,
          4.114139813084113vw 0.2608466542056075vw,
          5.169333890186915vw 0.0651578644859813vw,
          6.335443925233646vw 8.024695622067523e-18vw,
          13.15394859813084vw 0vw,
          13.15394859813084vw 0vw,
          13.836761612149534vw 0.012375154205607477vw,
          14.454028411214953vw 0.05165282242990655vw,
          15.01600464953271vw 0.12106131308411215vw,
          15.53294598130841vw 0.22382893457943928vw,
          16.015108060747664vw 0.3631839953271028vw,
          16.472746542056075vw 0.5423548037383178vw,
          16.916117079439253vw 0.7645696682242991vw,
          17.355475327102802vw 1.0330568971962617vw,
          17.801076939252336vw 1.3510447990654206vw,
          18.263177570093454vw 1.7217616822429906vw,
          19.675186915887853vw 2.8696028037383177vw
        );

        .content {
          padding-top: 7.921vw;
          padding-left: 3.738vw;
          gap: 17.757vw;

          .data-name {
            gap: 1.168vw;

            > p {
              font-size: 3.738vw;
            }

            .sub {
              font-size: 4.206vw;
            }
          }

          .title-subtittle {
            > p {
              width: 71.262vw;
              font-size: 3.738vw;
            }
          }
        }
      }
    }

    #last-p {
      margin-top: 4.673vw;
    }

    .mobile-header {
      display: block;
      position: relative;
      width: 91.121vw;
      margin: 0 auto;

      .desc-mobile-header {
        position: absolute;
        z-index: 2;
        top: 2.804vw;
        left: 2.804vw;

        .mobile {
          display: inline-flex;
          padding: 1.402vw 4.907vw;
          justify-content: center;
          align-items: center;
          gap: 2.336vw;
          border-radius: 2.103vw;
          background: #fff;

          > p {
            color: #29234c;
            font-family: SF-Pro-Rounded-Regular;
            font-size: 8.178vw;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
          }
        }

        .second-mobile {
          margin-top: 1.869vw;
        }
      }

      #mobile-first {
        width: 91.121vw;
        height: 142.523vw;
        clip-path: polygon(
          0vw 3.0373831775700935vw,
          0vw 3.0373831775700935vw,
          0.03975422897196261vw 2.544703948598131vw,
          0.15484785046728972vw 2.0773353271028037vw,
          0.3390272663551402vw 1.6415309112149532vw,
          0.586038878504673vw 1.2435442990654206vw,
          0.8896290887850467vw 0.8896290887850467vw,
          1.2435442990654206vw 0.586038878504673vw,
          1.6415309112149532vw 0.3390272663551402vw,
          2.0773353271028037vw 0.15484785046728972vw,
          2.544703948598131vw 0.03975422897196261vw,
          3.0373831775700935vw 5.02855628649743e-21vw,
          88.08411214953271vw 0vw,
          88.08411214953271vw 0vw,
          88.57680841121496vw 0.03975422897196261vw,
          89.04418691588786vw 0.15484785046728972vw,
          89.4799953271028vw 0.3390272663551402vw,
          89.87798130841121vw 0.586038878504673vw,
          90.2318925233645vw 0.8896290887850467vw,
          90.53547663551402vw 1.2435442990654206vw,
          90.7824813084112vw 1.6415309112149532vw,
          90.96665420560748vw 2.0773353271028037vw,
          91.0817429906542vw 2.544703948598131vw,
          91.1214953271028vw 3.0373831775700935vw,
          91.1214953271028vw 44.138551401869165vw,
          91.1214953271028vw 44.138551401869165vw,
          91.09384626168224vw 44.54865093457944vw,
          91.01304112149533vw 44.944039252336445vw,
          90.88229299065421vw 45.32057523364486vw,
          90.70481495327103vw 45.67411775700934vw,
          90.48382009345795vw 46.00052570093458vw,
          90.22252149532711vw 46.295657943925235vw,
          89.92413224299067vw 46.55537336448599vw,
          89.59186542056075vw 46.7755308411215vw,
          89.22893411214953vw 46.951989252336446vw,
          88.83855140186915vw 47.080607476635514vw,
          3.7917990654205607vw 68.8876168224299vw,
          3.7917990654205607vw 68.8876168224299vw,
          3.2187195210280377vw 68.97847429906541vw,
          2.6596201869158875vw 68.96117757009345vw,
          2.1254167873831777vw 68.84419392523364vw,
          1.6270250467289717vw 68.63599065420561vw,
          1.1753606892523365vw 68.34503504672898vw,
          0.7813394392523364vw 67.97979439252337vw,
          0.4558770210280374vw 67.54873598130841vw,
          0.20988915887850465vw 67.06032710280373vw,
          0.05429157710280374vw 66.52303504672898vw,
          6.916198023616355e-15vw 65.94532710280373vw,
          0vw 3.0373831775700935vw
        );
      }

      #mobile-second {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 91.121vw;
        height: 142.523vw;
        clip-path: polygon(
          0vw 74.66728971962617vw,
          0vw 74.66728971962617vw,
          0.027596908878504675vw 74.25758831775701vw,
          0.10825312149532709vw 73.8625476635514vw,
          0.23876686682242992vw 73.48630046728972vw,
          0.4159363738317757vw 73.13297943925234vw,
          0.6365598714953271vw 72.80671728971963vw,
          0.8974355887850467vw 72.51164672897197vw,
          1.1953617546728972vw 72.25190046728972vw,
          1.5271365981308411vw 72.03161121495327vw,
          1.8895583481308411vw 71.85491168224299vw,
          2.2794252336448597vw 71.72593457943925vw,
          87.32616822429907vw 49.80981308411215vw,
          87.32616822429907vw 49.80981308411215vw,
          87.89953107476636vw 49.71821028037383vw,
          88.45900560747663vw 49.734943925233644vw,
          88.99364742990655vw 49.85153271028038vw,
          89.49251214953271vw 50.0594953271028vw,
          89.94465537383178vw 50.350350467289715vw,
          90.33913271028037vw 50.71561682242991vw,
          90.66499976635514vw 51.14681308411214vw,
          90.9113121495327vw 51.63545794392523vw,
          91.06712546728971vw 52.17307009345794vw,
          91.1214953271028vw 52.75116822429907vw,
          91.1214953271028vw 139.4859813084112vw,
          91.1214953271028vw 139.4859813084112vw,
          91.0817429906542vw 139.97867757009345vw,
          90.96665420560748vw 140.44605607476635vw,
          90.7824813084112vw 140.8818644859813vw,
          90.53547663551402vw 141.27985046728972vw,
          90.2318925233645vw 141.633761682243vw,
          89.87798130841121vw 141.9373457943925vw,
          89.4799953271028vw 142.18435046728973vw,
          89.04418691588786vw 142.36852336448598vw,
          88.57680841121496vw 142.48361214953272vw,
          88.08411214953271vw 142.52336448598132vw,
          3.0373831775700935vw 142.52336448598132vw,
          3.0373831775700935vw 142.52336448598132vw,
          2.5447045163551403vw 142.48361214953272vw,
          2.0773362242990654vw 142.36852336448598vw,
          1.641531941588785vw 142.18435046728973vw,
          1.2435453084112151vw 141.9373457943925vw,
          0.8896299649532711vw 141.633761682243vw,
          0.5860395514018691vw 141.27985046728972vw,
          0.3390277079439252vw 140.8818644859813vw,
          0.15484807476635515vw 140.44605607476635vw,
          0.039754292056074766vw 139.97867757009345vw,
          5.0285649261831775e-19vw 139.4859813084112vw,
          0vw 74.66728971962617vw
        );
      }
    }
  }

  .cards {
    margin-top: 4.673vw !important;
    display: flex;
    flex-direction: column;
    gap: 4.673vw !important;

    .card {
      gap: 3.037vw !important;
      .photo {
        width: 44.159vw !important;
        height: 59.112vw !important;
        border-radius: 1.869vw !important;

        .ph {
          border-radius: 1.869vw !important;
        }

        .mobile {
          display: block !important;
        }

        .img-desc {
          display: none;
        }
      }

      .desc {
        width: 44.159vw !important;
        gap: 1.402vw !important;

        .name {
          font-family: SF_UI_Display_Semibold !important;
          font-size: 4.206vw !important;
          font-weight: 500 !important;
          line-height: 130% !important;
        }

        .action {
          font-size: 4.206vw !important;
        }
      }
    }
  }

  .cards-first-column {
    gap: 1.563vw;
  }

  .cards-second-column {
    gap: 1.563vw;
  }

  h1 {
    margin-top: 7.009vw !important;
    font-size: 5.374vw !important;
    font-weight: 600 !important;
    line-height: 120% !important;
  }

  .img-big {
    display: none;
  }

  .card-cards {
    margin-top: 7.009vw !important;
    width: 90.654vw !important;
    height: 181.192vw !important;

    .one {
      width: 90.654vw !important;
      height: 175vw !important;
      clip-path: polygon(
        18.78908878504673vw 3.5827336448598133vw,
        18.78908878504673vw 3.5827336448598133vw,
        19.138238808411216vw 3.9472315420560746vw,
        19.4766338317757vw 4.2630943925233655vw,
        19.810555771028035vw 4.5327404205607476vw,
        20.146286542056078vw 4.758587850467289vw,
        20.490108060747666vw 4.943054906542057vw,
        20.848302242990652vw 5.088559813084113vw,
        21.227151004672898vw 5.197520794392523vw,
        21.632936261682243vw 5.272356074766355vw,
        22.07193992990654vw 5.315483878504673vw,
        22.550443925233647vw 5.329322429906542vw,
        79.90654205607477vw 5.329322429906542vw,
        79.90654205607477vw 5.329322429906542vw,
        81.64986331775701vw 5.469991191588785vw,
        83.3036261682243vw 5.877245420560747vw,
        84.84570210280374vw 6.528957032710279vw,
        86.25396261682243vw 7.402997943925234vw,
        87.50627920560748vw 8.477240070093456vw,
        88.58052336448598vw 9.729555327102805vw,
        89.45456658878504vw 11.137815630841121vw,
        90.10628037383177vw 12.679892897196263vw,
        90.51353621495328vw 14.333659042056073vw,
        90.65420560747664vw 16.07698598130841vw,
        90.65420560747664vw 167.63855140186917vw,
        90.65420560747664vw 167.63855140186917vw,
        90.55940817757009vw 168.81341191588783vw,
        90.2849570093458vw 169.92791214953272vw,
        89.84576378504673vw 170.96714042056075vw,
        89.25674018691588vw 171.916185046729vw,
        88.53279789719626vw 172.76013434579437vw,
        87.68884859813085vw 173.48407663551401vw,
        86.73980397196262vw 174.07310023364485vw,
        85.70057570093459vw 174.5122934579439vw,
        84.58607546728972vw 174.78674462616823vw,
        83.41121495327103vw 174.88154205607478vw,
        7.242990654205607vw 174.88154205607478vw,
        7.242990654205607vw 174.88154205607478vw,
        6.068141495327103vw 174.78674462616823vw,
        4.95364785046729vw 174.5122934579439vw,
        3.914422242990654vw 174.07310023364485vw,
        2.965377196261682vw 173.48407663551401vw,
        2.1214252336448602vw 172.76013434579437vw,
        1.3974788785046728vw 171.916185046729vw,
        0.8084506542056076vw 170.96714042056075vw,
        0.3692530841121495vw 169.92791214953272vw,
        0.09479869158878504vw 168.81341191588783vw,
        1.199119262092243e-21vw 167.63855140186917vw,
        0vw 8.195490654205608vw,
        0vw 8.195490654205608vw,
        0.06449344626168224vw 6.632906425233645vw,
        0.25619943925233646vw 5.236515887850468vw,
        0.5724564602803738vw 4.005916004672897vw,
        1.0106029906542056vw 2.940703738317757vw,
        1.567977511682243vw 2.040476051401869vw,
        2.241918504672897vw 1.304829906542056vw,
        3.0297644509345796vw 0.7333622663551401vw,
        3.9288538317757005vw 0.32567009345794395vw,
        4.936525128504673vw 0.08135035046728971vw,
        6.0501168224299064vw 1.0018925162060047e-17vw,
        12.561542056074765vw 0vw,
        12.561542056074765vw 0vw,
        13.213608037383178vw 0.015450544392523363vw,
        13.80307831775701vw 0.06448921495327103vw,
        14.339746915887853vw 0.15114656775700935vw,
        14.833407850467289vw 0.27945315887850464vw,
        15.293855140186915vw 0.4534395443925233vw,
        15.730882803738316vw 0.6771362803738319vw,
        16.154284859813085vw 0.9545739228971962vw,
        16.573855327102805vw 1.289783028037383vw,
        16.999388224299068vw 1.6867941518691587vw,
        17.44067757009346vw 2.1496378504672897vw,
        18.78908878504673vw 3.5827336448598133vw
      ) !important;

      .wrapper {
        margin-top: 17.171vw !important;
        margin-left: 3.505vw !important;

        > h1 {
          margin-top: 0 !important;
          width: 75.234vw !important;
          font-size: 5.374vw !important;
          font-weight: 600 !important;
          line-height: 120% !important;
        }

        > form {
          margin-top: 9.346vw !important;

          > label {
            font-size: 2.804vw !important;
          }

          > input {
            width: 81.308vw !important;
            height: 8.879vw !important;
            font-size: 3.738vw !important;
          }

          ::-webkit-input-placeholder {
            font-size: 3.738vw !important;
          }
          ::-moz-placeholder {
            font-size: 3.738vw !important;
          }
          :-ms-input-placeholder {
            font-size: 3.738vw !important;
          }
          :-moz-placeholder {
            font-size: 3.738vw !important;
          }

          > button {
            margin-top: 7.009vw !important;
            width: 81.776vw !important;
            height: 13.551vw !important;
            padding: 1.869vw 20.327vw !important;
            gap: 2.336vw !important;
            border-radius: 2.804vw !important;
            font-size: 4.673vw !important;
          }
        }
      }

      .images {
        left: 2.57vw !important;
        top: 67.988vw !important;
        width: 83.411vw !important;
        height: 99.618vw !important;

        .text-images {
          top: 9.229vw !important;
          left: 0.935vw !important;
          width: 34.579vw !important;
          height: 10.28vw !important;
          border-radius: 2.026vw !important;

          > p {
            font-size: 4.728vw !important;
            margin-top: 2.671vw !important;
            margin-left: 2.026vw !important;
          }

          .img-many {
            margin-left: 1.402vw !important;
            margin-top: 2.103vw !important;

            #im1 {
              width: 6.776vw !important;
              height: 6.776vw !important;
            }
            #im2 {
              margin-left: -2.336vw !important;
              width: 6.776vw !important;
              height: 6.776vw !important;
            }
            #im3 {
              margin-left: -2.336vw !important;
              width: 6.776vw !important;
              height: 6.776vw !important;
            }
          }
        }

        .boy {
          display: none !important;
        }

        .boy-mobile {
          position: absolute !important;
          top: 12.734vw !important;
          left: 21.729vw !important;
          display: block !important;
          width: 48.131vw !important;
          height: 66.355vw !important;
        }

        .some-text {
          width: 25.701vw !important;
          top: 44.119vw !important;
          left: 52.727vw !important;

          #text1 {
            font-size: 3.427vw !important;
          }

          #text2 {
            margin-top: 1.402vw !important;
            font-size: 2.336vw !important;
          }
        }

        .we-base {
          top: 75.35vw !important;
          left: 26.339vw !important;
          width: 44.457vw !important;
          height: 11.351vw !important;

          > p {
            font-size: 6.432vw !important;
            margin: 0.946vw 4.958vw 1.993vw 4.918vw !important;
          }
        }

        .line {
          display: none !important;
        }

        .line-mobile {
          position: absolute !important;
          display: block !important;
          width: 80.14vw !important;
          height: 100.935vw !important;
        }

        .lines {
          display: none !important;
        }

        .lines-mobile {
          position: absolute !important;
          width: 35.981vw !important;
          height: 22.897vw !important;
          top: 40.07vw !important;
          left: 47.43vw !important;
          display: block !important;
        }
      }
    }

    .two {
      width: 85.748vw !important;
      height: 61.916vw !important;
      bottom: 115.125vw !important;
      clip-path: polygon(
        17.76948598130841vw 3.412126168224299vw,
        17.76948598130841vw 3.412126168224299vw,
        18.09968831775701vw 3.7592665654205604vw,
        18.419718691588784vw 4.060087663551402vw,
        18.735518224299067vw 4.316892593457943vw,
        19.053028037383175vw 4.531984485981308vw,
        19.378189252336448vw 4.707666471962616vw,
        19.716942990654204vw 4.84624168224299vw,
        20.075230373831776vw 4.950013247663552vw,
        20.458992523364486vw 5.021284299065421vw,
        20.87417056074766vw 5.062357967289719vw,
        21.326705607476637vw 5.075537383177569vw,
        75.11682242990653vw 5.075537383177569vw,
        75.11682242990653vw 5.075537383177569vw,
        76.82226144859814vw 5.213148224299066vw,
        78.44008224299066vw 5.611549345794393vw,
        79.94863855140187vw 6.249093644859813vw,
        81.32628411214954vw 7.104134018691588vw,
        82.5513726635514vw 8.155023364485983vw,
        83.60225794392522vw 9.380114579439251vw,
        84.45729369158879vw 10.757760560747663vw,
        85.09483364485982vw 12.266314205607475vw,
        85.49323154205607vw 13.884128411214954vw,
        85.63084112149532vw 15.589556074766353vw,
        85.63084112149532vw 55.140186915887845vw,
        85.63084112149532vw 55.140186915887845vw,
        85.5421570093458vw 56.2392261682243vw,
        85.28540560747663vw 57.281809345794386vw,
        84.874538317757vw 58.25398504672897vw,
        84.32350654205607vw 59.14180186915888vw,
        83.64626168224298vw 59.93130841121494vw,
        82.85675514018692vw 60.60855327102803vw,
        81.96893831775701vw 61.15958504672897vw,
        80.99676261682242vw 61.5704523364486vw,
        79.95417943925234vw 61.82720373831776vw,
        78.85514018691589vw 61.915887850467286vw,
        6.775700934579438vw 61.915887850467286vw,
        6.775700934579438vw 61.915887850467286vw,
        5.676644649532711vw 61.82720373831776vw,
        4.634051588785047vw 61.5704523364486vw,
        3.6618718925233646vw 61.15958504672897vw,
        2.7740557009345794vw 60.60855327102803vw,
        1.9845531542056074vw 59.93130841121494vw,
        1.3073143925233643vw 59.14180186915888vw,
        0.7562895560747662vw 58.25398504672897vw,
        0.34542878504672897vw 57.281809345794386vw,
        0.08868221962616822vw 56.2392261682243vw,
        1.1217508763636914e-21vw 55.140186915887845vw,
        0vw 7.805233644859813vw,
        0vw 7.805233644859813vw,
        0.06099357476635514vw 6.317057523364486vw,
        0.24229626168224302vw 4.987161121495327vw,
        0.5413910046728971vw 3.815160607476635vw,
        0.9557607476635515vw 2.8006721495327103vw,
        1.482888434579439vw 1.9433119158878507vw,
        2.1202570093457944vw 1.242696074766355vw,
        2.8653494158878505vw 0.6984407943925234vw,
        3.715648598130841vw 0.3101622429906542vw,
        4.6686375vw 0.07747658878504672vw,
        5.721799065420561vw 9.541841715948365e-21vw,
        11.879883177570093vw 0vw,
        11.879883177570093vw 0vw,
        12.496562920560747vw 0.014714815420560749vw,
        13.05404355140187vw 0.061418336448598135vw,
        13.561587640186914vw 0.14394917523364487vw,
        14.028457757009347vw 0.26614594392523366vw,
        14.463916471962618vw 0.43184725467289725vw,
        14.877226355140186vw 0.6448917196261682vw,
        15.277649976635512vw 0.9091179509345795vw,
        15.674449906542057vw 1.2283645607476636vw,
        16.07688871495327vw 1.6064701612149532vw,
        16.494228971962617vw 2.0472733644859815vw,
        17.76948598130841vw 3.412126168224299vw
      ) !important;
    }

    .three {
      width: 81.308vw !important;
      height: 58.411vw !important;
      bottom: 120.563vw !important;
      clip-path: polygon(
        16.866518691588784vw 3.241518691588785vw,
        16.866518691588784vw 3.241518691588785vw,
        17.179942219626167vw 3.5713015887850466vw,
        17.48371065420561vw 3.857080934579439vw,
        17.783463294392522vw 4.10104476635514vw,
        18.084839439252338vw 4.305381121495326vw,
        18.393478387850468vw 4.472278037383178vw,
        18.715019439252337vw 4.603923551401869vw,
        19.055101892523364vw 4.70250570093458vw,
        19.419365046728974vw 4.770212523364487vw,
        19.813448200934577vw 4.809232056074766vw,
        20.24299065420561vw 4.821752336448598vw,
        70.7943925233645vw 4.821752336448598vw,
        70.7943925233645vw 4.821752336448598vw,
        72.49983154205609vw 4.959363177570094vw,
        74.11765233644859vw 5.357764299065421vw,
        75.62620864485982vw 5.9953085981308405vw,
        77.00385420560748vw 6.8503489719626165vw,
        78.22894275700935vw 7.90123831775701vw,
        79.27982803738317vw 9.12632953271028vw,
        80.13486378504673vw 10.503975514018691vw,
        80.77240373831776vw 12.012529158878504vw,
        81.17080163551401vw 13.63034336448598vw,
        81.30841121495327vw 15.335771028037385vw,
        81.30841121495327vw 52.10280373831776vw,
        81.30841121495327vw 52.10280373831776vw,
        81.22584672897196vw 53.126078504672904vw,
        80.98681121495328vw 54.09677757009346vw,
        80.60429158878505vw 55.001914018691586vw,
        80.09127476635514vw 55.82850093457944vw,
        79.4607476635514vw 56.56355140186916vw,
        78.72569719626168vw 57.194078504672895vw,
        77.89911028037383vw 57.707095327102806vw,
        76.99397383177569vw 58.08961495327103vw,
        76.02327476635514vw 58.32865046728972vw,
        75vw 58.41121495327103vw,
        6.308411214953271vw 58.41121495327103vw,
        6.308411214953271vw 58.41121495327103vw,
        5.285153481308411vw 58.32865046728972vw,
        4.3144642990654205vw 58.08961495327103vw,
        3.409331845794392vw 57.707095327102806vw,
        2.582744299065421vw 57.194078504672895vw,
        1.847689836448598vw 56.56355140186916vw,
        1.2171566355140186vw 55.82850093457944vw,
        0.7041328738317757vw 55.001914018691586vw,
        0.32160672897196263vw 54.09677757009346vw,
        0.0825663785046729vw 53.126078504672904vw,
        1.044391130320888e-19vw 52.10280373831776vw,
        0vw 7.4149766355140185vw,
        0vw 7.4149766355140185vw,
        0.05789419626168224vw 6.001208621495327vw,
        0.2299840373831776vw 4.7378063551401866vw,
        0.513880401869159vw 3.624405210280374vw,
        0.907194168224299vw 2.6606405607476638vw,
        1.407536214953271vw 1.8461477803738315vw,
        2.012517420560748vw 1.1805622429906542vw,
        2.7197486635514014vw 0.6635193224299065vw,
        3.526840822429907vw 0.2946543925233645vw,
        4.431404775700934vw 0.07360282710280375vw,
        5.431051401869159vw 9.064758269836682e-22vw,
        11.276191588785046vw 0vw,
        11.276191588785046vw 0vw,
        11.861538925233646vw 0.013979023364485981vw,
        12.390694579439252vw 0.05834723364485982vw,
        12.872450514018691vw 0.1367513411214953vw,
        13.315598691588784vw 0.2528380560747664vw,
        13.728931074766354vw 0.41025408878504677vw,
        14.121239626168226vw 0.6126461495327102vw,
        14.501316308411216vw 0.8636609485981309vw,
        14.87795308411215vw 1.1669451962616824vw,
        15.25994191588785vw 1.5261456028037383vw,
        15.656074766355138vw 1.9449088785046733vw,
        16.866518691588784vw 3.241518691588785vw
      ) !important;
    }

    .four {
      width: 76.402vw !important;
      bottom: 126.218vw !important;
      height: 54.673vw !important;
      clip-path: polygon(
        15.83859813084112vw 3.0221728971962616vw,
        15.83859813084112vw 3.0221728971962616vw,
        16.132922827102803vw 3.3296407242990655vw,
        16.418179813084112vw 3.5960818691588785vw,
        16.699664929906543vw 3.8235364719626164vw,
        16.982674018691586vw 4.014044672897196vw,
        17.272502920560747vw 4.169646612149533vw,
        17.574447476635513vw 4.292382429906541vw,
        17.893803528037385vw 4.38429226635514vw,
        18.23586691588785vw 4.4474162616822435vw,
        18.605933481308412vw 4.483794556074766vw,
        19.009299065420564vw 4.495467289719627vw,
        65.88785046728972vw 4.495467289719627vw,
        65.88785046728972vw 4.495467289719627vw,
        67.59328948598132vw 4.633078130841121vw,
        69.21111028037383vw 5.031479252336449vw,
        70.71966658878506vw 5.669023551401868vw,
        72.09731214953271vw 6.524063925233644vw,
        73.3224007009346vw 7.574953271028037vw,
        74.3732859813084vw 8.80004448598131vw,
        75.22832172897196vw 10.177690467289718vw,
        75.865861682243vw 11.686244112149533vw,
        76.26425957943925vw 13.30405831775701vw,
        76.4018691588785vw 15.009485981308412vw,
        76.4018691588785vw 48.831775700934585vw,
        76.4018691588785vw 48.831775700934585vw,
        76.32541799065422vw 49.77922920560748vw,
        76.10408224299066vw 50.67801121495328vw,
        75.74988855140187vw 51.51609509345795vw,
        75.27486355140186vw 52.28145420560748vw,
        74.69103387850467vw 52.96206191588785vw,
        74.01042616822431vw 53.54589158878505vw,
        73.24506705607476vw 54.02091658878504vw,
        72.4069831775701vw 54.37511028037383vw,
        71.50820116822429vw 54.596446028037384vw,
        70.56074766355141vw 54.67289719626168vw,
        5.841121495327103vw 54.67289719626168vw,
        5.841121495327103vw 54.67289719626168vw,
        4.893662313084112vw 54.596446028037384vw,
        3.9948770093457946vw 54.37511028037383vw,
        3.1567917990654206vw 54.02091658878504vw,
        2.3914328971962617vw 53.54589158878505vw,
        1.7108265186915887vw 52.96206191588785vw,
        1.126998878504673vw 52.28145420560748vw,
        0.6519761915887851vw 51.51609509345795vw,
        0.2977846728971963vw 50.67801121495328vw,
        0.07645053738317757vw 49.77922920560748vw,
        9.670313842780608e-18vw 48.831775700934585vw,
        0vw 6.9132009345794385vw,
        0vw 6.9132009345794385vw,
        0.05436585981308411vw 5.595102820093458vw,
        0.21596781308411214vw 4.417195364485982vw,
        0.4825624205607477vw 3.3791385724299063vw,
        0.8519062429906542vw 2.4805924485981308vw,
        1.3217558411214954vw 1.7212169976635514vw,
        1.8898677757009348vw 1.1006722242990654vw,
        2.5539986074766357vw 0.6186181331775701vw,
        3.311904897196262vw 0.27471472897196264vw,
        4.161343205607476vw 0.06862201635514019vw,
        5.100070093457944vw 8.451331943190888e-24vw,
        10.588971962616823vw 0vw,
        10.588971962616823vw 0vw,
        11.138641378504673vw 0.013033123831775701vw,
        11.635545981308411vw 0.05439910280373832vw,
        12.087941518691588vw 0.12749784813084114vw,
        12.504083738317757vw 0.2357292710280374vw,
        12.892228387850466vw 0.3824932827102804vw,
        13.260631214953273vw 0.5711897943925234vw,
        13.61754796728972vw 0.8052187172897195vw,
        13.971234392523366vw 1.0879799626168225vw,
        14.329946238317756vw 1.422873441588785vw,
        14.701939252336448vw 1.8132990654205607vw,
        15.83859813084112vw 3.0221728971962616vw
      ) !important;
    }
  }

  > iframe {
    width: 90.187vw;
    height: 124.065vw;
    padding-top: 5.841vw;
  }

  .mobile-img {
    margin-top: 4.673vw;
    display: block !important;
    // background: url('pictures/mobile-back.svg');
    width: 90.187vw;
    height: 124.065vw;
    padding-top: 5.841vw;

    #mobile-base {
      margin-left: 33.879vw;
      color: #fff;
      font-family: SF-Pro-Rounded-Regular;
      font-size: 8.178vw;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
    }

    #mobile-base-desc {
      margin-top: 24.533vw;
      margin-left: 7.477vw;
      width: 75.234vw;
      color: #fff;
      text-align: center;
      font-family: SF-Pro-Rounded-Regular;
      font-size: 10.514vw;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
    }
  }
}
