html {
  overflow-x: hidden;
}

body.about {
  padding: 1.016vw 1.563vw 3.42vw 1.563vw;
  overflow-x: hidden;

  .mobile-header {
    display: none;
  }

  .header {
    position: relative;
    height: 40.234vw;
    padding: 0 0.586vw;
    .img {
      width: 95.703vw;
      height: 40.234vw;
      position: absolute;
    }
    .first-column {
      #first {
        clip-path: polygon(
          0vw 1.5625vw,
          0vw 1.5625vw,
          0.020450497656250004vw 1.3090542890625vw,
          0.079657325vw 1.0686289999999998vw,
          0.17440348359375vw 0.8444411171875001vw,
          0.301471975vw 0.639707625vw,
          0.45764580078125vw 0.4576455078125001vw,
          0.6397079625000001vw 0.30147175vw,
          0.84444146171875vw 0.1744033359375vw,
          1.0686293vw 0.07965725vw,
          1.30905447890625vw 0.0204504765625vw,
          1.5625vw 2.5868031751539845e-22vw,
          31.5625vw 0vw,
          31.5625vw 0vw,
          31.815951406249997vw 0.020450497656250004vw,
          32.056380000000004vw 0.079657325vw,
          32.28056921875vw 0.17440348359375vw,
          32.4853025vw 0.301471975vw,
          32.66736328125vw 0.45764580078125vw,
          32.82353500000001vw 0.6397079625000001vw,
          32.950601093749995vw 0.84444146171875vw,
          33.045345vw 1.0686293vw,
          33.10455015625vw 1.30905447890625vw,
          33.125vw 1.5625vw,
          33.125vw 4.310023437500001vw,
          33.125vw 4.310023437500001vw,
          33.110338359375vw 4.5242329140625vw,
          33.067519374999996vw 4.730524875vw,
          32.998291953125vw 4.9266907109375vw,
          32.904405vw 5.1105218125vw,
          32.787607421874995vw 5.2798095703125005vw,
          32.649648125000006vw 5.432345375vw,
          32.492276015625vw 5.5659206171874995vw,
          32.31724vw 5.6783266875vw,
          32.126288984375vw 5.767354976562499vw,
          31.921171875vw 5.830796875000001vw,
          1.9211796875vw 12.90625vw,
          1.9211796875vw 12.90625vw,
          1.6290017578125vw 12.947115vw,
          1.34467vw 12.93371375vw,
          1.0735804296875vw 12.8703175vw,
          0.8211290625000001vw 12.761197500000002vw,
          0.5927119140625vw 12.610625vw,
          0.393725vw 12.42287125vw,
          0.22956433593749997vw 12.2022075vw,
          0.10562593749999999vw 11.952905vw,
          0.027305820312500003vw 11.679234999999998vw,
          3.476553920511719e-26vw 11.385468750000001vw,
          0vw 1.5625vw
        );
      }

      #second {
        clip-path: polygon(
          0vw 14.986875vw,
          0vw 14.986875vw,
          0.014660817968749998vw 14.772665937500001vw,
          0.05747770000000001vw 14.566371250000001vw,
          0.12670228828125vw 14.370200625vw,
          0.22058622500000002vw 14.18636375vw,
          0.33738115234375vw 14.0170703125vw,
          0.4753387124999999vw 13.86453vw,
          0.63271054765625vw 13.730952499999999vw,
          0.8077483vw 13.6185475vw,
          0.99870361171875vw 13.5295246875vw,
          1.203828125vw 13.466093750000002vw,
          31.203828125vw 6.390609375vw,
          31.203828125vw 6.390609375vw,
          31.496007734375vw 6.3497551484375vw,
          31.780339999999995vw 6.36316525vw,
          32.051429140625vw 6.4265683828125vw,
          32.303879375vw 6.53569325vw,
          32.532294921875vw 6.6862685546875vw,
          32.73128vw 6.874023vw,
          32.895438828125vw 7.094685289062499vw,
          33.019375625vw 7.3439841249999995vw,
          33.097694609375vw 7.617648210937499vw,
          33.125vw 7.91140625vw,
          33.125vw 25.720312500000002vw,
          33.125vw 25.720312500000002vw,
          33.10761453125vw 25.953758359375vw,
          33.05705375vw 26.176988749999996vw,
          32.97571109375001vw 26.387311640625vw,
          32.86598vw 26.582034999999998vw,
          32.73025390625vw 26.758466796875002vw,
          32.57092625vw 26.913915vw,
          32.39039046875vw 27.045687578124998vw,
          32.19104vw 27.151092499999997vw,
          31.975268281250003vw 27.227437734375005vw,
          31.74546875vw 27.27203125vw,
          1.7454921875vw 30.809765625vw,
          1.7454921875vw 30.809765625vw,
          1.4708619140625vw 30.818210234374998vw,
          1.20721vw 30.780281875000004vw,
          0.9587596484374998vw 30.699735703124997vw,
          0.7297340625vw 30.580326874999997vw,
          0.5243564453125vw 30.425810546875vw,
          0.34685000000000005vw 30.239941875vw,
          0.2014379296875vw 30.026476015624997vw,
          0.0923434375vw 29.789168125vw,
          0.023789726562500002vw 29.531773359375002vw,
          3.019068521521953e-16vw 29.258046874999998vw,
          0vw 14.986875vw
        );
      }

      #third {
        clip-path: polygon(
          0vw 32.795312499999994vw,
          0vw 32.795312499999994vw,
          0.017385192187500002vw 32.561866640625006vw,
          0.0679451625vw 32.33863625vw,
          0.1492865015625vw 32.128313359375vw,
          0.2590158vw 31.933590000000002vw,
          0.3947396484375vw 31.757158203125vw,
          0.5540646375vw 31.60171vw,
          0.7345973578125vw 31.469937421875vw,
          0.9339443999999999vw 31.364532500000003vw,
          1.1497123546874999vw 31.288187265625vw,
          1.3795078125vw 31.24359375vw,
          31.379531250000003vw 27.705859374999996vw,
          31.379531250000003vw 27.705859374999996vw,
          31.654147578125002vw 27.697414765625002vw,
          31.91779vw 27.735343125vw,
          32.166234609374996vw 27.815889296875003vw,
          32.3952575vw 27.935298125000003vw,
          32.600634765624996vw 28.089814453125vw,
          32.7781425vw 28.275683125vw,
          32.923556796875005vw 28.489148984375vw,
          33.03265375vw 28.726456875vw,
          33.101209453124994vw 28.983851640624998vw,
          33.125vw 29.257578125vw,
          33.125vw 38.671875vw,
          33.125vw 38.671875vw,
          33.10455015625vw 38.92532640625vw,
          33.045345vw 39.165755000000004vw,
          32.950601093749995vw 39.38994421875vw,
          32.82353500000001vw 39.594677499999996vw,
          32.66736328125vw 39.776738281250005vw,
          32.4853025vw 39.93291vw,
          32.28056921875vw 40.05997609375vw,
          32.056380000000004vw 40.15472vw,
          31.815951406249997vw 40.21392515625vw,
          31.5625vw 40.234375vw,
          1.5625vw 40.234375vw,
          1.5625vw 40.234375vw,
          1.3090542890625vw 40.21392515625vw,
          1.0686289999999998vw 40.15472vw,
          0.8444411171875001vw 40.05997609375vw,
          0.639707625vw 39.93291vw,
          0.4576455078125001vw 39.776738281250005vw,
          0.30147175vw 39.594677499999996vw,
          0.1744033359375vw 39.38994421875vw,
          0.07965725vw 39.165755000000004vw,
          0.0204504765625vw 38.92532640625vw,
          2.5868031751539845e-21vw 38.671875vw,
          0vw 32.795312499999994vw
        );
      }
    }

    #fourth {
      clip-path: polygon(
        33.671875vw 1.5625vw,
        33.671875vw 1.5625vw,
        33.69232484375vw 1.30905409921875vw,
        33.75153vw 1.0686286999999999vw,
        33.846273906250005vw 0.8444407726562501vw,
        33.97333999999999vw 0.6397072874999999vw,
        34.12951171875vw 0.45764521484375vw,
        34.3115725vw 0.301471525vw,
        34.51630578125vw 0.17440318828124998vw,
        34.740494999999996vw 0.07965717500000001vw,
        34.98092359375vw 0.020450455468749996vw,
        35.234375vw 2.586800286259063e-19vw,
        51.524218749999996vw 0vw,
        51.524218749999996vw 0vw,
        51.74511070312499vw 0.015582004687500001vw,
        51.95732937499999vw 0.0610234125vw,
        52.158501484374995vw 0.1343673140625vw,
        52.34625375vw 0.23365679999999997vw,
        52.518212890624994vw 0.3569349609375vw,
        52.672005625000004vw 0.5022448875vw,
        52.805258671875vw 0.6676296703124999vw,
        52.91559875vw 0.8511324vw,
        53.000652578125006vw 1.0507961671875vw,
        53.058046874999995vw 1.2646640625vw,
        60.263749999999995vw 38.3740625vw,
        60.263749999999995vw 38.3740625vw,
        60.29283375000001vw 38.660494375vw,
        60.27045437500001vw 38.937855vw,
        60.200705vw 39.201179375vw,
        60.08767875000001vw 39.445502499999996vw,
        59.93546875vw 39.665859375000004vw,
        59.748168125vw 39.857285vw,
        59.52987000000001vw 40.01481437499999vw,
        59.2846675vw 40.1334825vw,
        59.01665375vw 40.208324375000004vw,
        58.729921875vw 40.234375vw,
        35.234375vw 40.234375vw,
        35.234375vw 40.234375vw,
        34.98092359375vw 40.21392515625vw,
        34.740494999999996vw 40.15472vw,
        34.51630578125vw 40.05997609375vw,
        34.3115725vw 39.93291vw,
        34.12951171875vw 39.776738281250005vw,
        33.97333999999999vw 39.594677499999996vw,
        33.846273906250005vw 39.38994421875vw,
        33.75153vw 39.165755000000004vw,
        33.69232484375vw 38.92532640625vw,
        33.671875vw 38.671875vw,
        33.671875vw 1.5625vw
      );
    }

    #fifth {
      clip-path: polygon(
        53.720625vw 1.8603359375vw,
        53.720625vw 1.8603359375vw,
        53.69154125vw 1.5738920156249998vw,
        53.713920625vw 1.2965229999999999vw,
        53.783669999999994vw 1.033193328125vw,
        53.89669625vw 0.7888674375vw,
        54.04890625000001vw 0.5685097656250001vw,
        54.23620687499999vw 0.37708474999999997vw,
        54.454505vw 0.219556828125vw,
        54.699707499999995vw 0.1008904375vw,
        54.967721250000004vw 0.026050015625000002vw,
        55.25445312499999vw 3.312898023487422e-20vw,
        70.9375vw 0vw,
        70.9375vw 0vw,
        71.19095140625001vw 0.020450497656250004vw,
        71.43138vw 0.079657325vw,
        71.65556921875vw 0.17440348359375vw,
        71.86030249999999vw 0.301471975vw,
        72.04236328125vw 0.45764580078125vw,
        72.19853499999999vw 0.6397079625000001vw,
        72.32560109375001vw 0.84444146171875vw,
        72.420345vw 1.0686293vw,
        72.47955015625vw 1.30905447890625vw,
        72.5vw 1.5625vw,
        72.5vw 38.671875vw,
        72.5vw 38.671875vw,
        72.47955015625vw 38.92532640625vw,
        72.420345vw 39.165755000000004vw,
        72.32560109375001vw 39.38994421875vw,
        72.19853499999999vw 39.594677499999996vw,
        72.04236328125vw 39.776738281250005vw,
        71.86030249999999vw 39.93291vw,
        71.65556921875vw 40.05997609375vw,
        71.43138vw 40.15472vw,
        71.19095140625001vw 40.21392515625vw,
        70.9375vw 40.234375vw,
        62.46015625vw 40.234375vw,
        62.46015625vw 40.234375vw,
        62.23926429687501vw 40.218793984375vw,
        62.027045625vw 40.173355vw,
        61.825873515625vw 40.10001414062499vw,
        61.63812125vw 40.000727499999996vw,
        61.466162109375vw 39.877451171875vw,
        61.312369374999996vw 39.732141250000005vw,
        61.17911632812499vw 39.566753828125vw,
        61.06877625vw 39.383245vw,
        60.983722421875vw 39.183570859375vw,
        60.926328125vw 38.9696875vw,
        53.720625vw 1.8603359375vw
      );
    }

    .fourth-column {
      #sixth {
        clip-path: polygon(
          73.046875vw 1.5625vw,
          73.046875vw 1.5625vw,
          73.06732484375vw 1.30905447890625vw,
          73.12653vw 1.0686293vw,
          73.22127390624999vw 0.84444146171875vw,
          73.34834000000001vw 0.6397079625000001vw,
          73.50451171875vw 0.45764580078125vw,
          73.6865725vw 0.301471975vw,
          73.89130578125001vw 0.17440348359375vw,
          74.115495vw 0.079657325vw,
          74.35592359374999vw 0.020450497656250004vw,
          74.609375vw 2.586806064048906e-16vw,
          94.140625vw 0vw,
          94.140625vw 0vw,
          94.39415234375vw 0.0204504765625vw,
          94.634625vw 0.07965725vw,
          94.85883203125vw 0.1744033359375vw,
          95.0635625vw 0.30147175vw,
          95.24560546875vw 0.4576455078125001vw,
          95.40174999999999vw 0.639707625vw,
          95.52878515625001vw 0.8444411171875001vw,
          95.6235vw 1.0686289999999998vw,
          95.68268359375vw 1.3090542890625vw,
          95.703125vw 1.5625vw,
          95.703125vw 8.61015625vw,
          95.703125vw 8.61015625vw,
          95.6926625vw 8.79099171875vw,
          95.66189375vw 8.967043125vw,
          95.611746875vw 9.13685453125vw,
          95.54315000000001vw 9.298969999999999vw,
          95.45703124999999vw 9.45193359375vw,
          95.35431875vw 9.594289375vw,
          95.235940625vw 9.724581406250001vw,
          95.102825vw 9.841353750000001vw,
          94.9559vw 9.94315046875vw,
          94.79609375000001vw 10.028515625vw,
          75.264765625vw 19.05328125vw,
          75.264765625vw 19.05328125vw,
          74.951064765625vw 19.160622265624998vw,
          74.636515vw 19.198984375vw,
          74.329093984375vw 19.173469921875vw,
          74.03677937500001vw 19.08918125vw,
          73.767548828125vw 18.951220703125vw,
          73.52938vw 18.764690625vw,
          73.33025054687499vw 18.534693359375vw,
          73.178138125vw 18.26633125vw,
          73.081020390625vw 17.964706640625vw,
          73.046875vw 17.634921875vw,
          73.046875vw 1.5625vw
        );
      }

      #seventh {
        clip-path: polygon(
          73.046875vw 21.410078125vw,
          73.046875vw 21.410078125vw,
          73.05732804687499vw 21.22935703125vw,
          73.088068125vw 21.0534125vw,
          73.138166640625vw 20.88369765625vw,
          73.206695vw 20.721665625000004vw,
          73.292724609375vw 20.568769531250002vw,
          73.395326875vw 20.426462500000003vw,
          73.513573203125vw 20.29619765625vw,
          73.646535vw 20.179428124999998vw,
          73.793283671875vw 20.077607031250004vw,
          73.952890625vw 19.9921875vw,
          93.484375vw 10.949296875vw,
          93.484375vw 10.949296875vw,
          93.79804296875vw 10.8416790625vw,
          94.112625vw 10.803095vw,
          94.42012890625vw 10.828440937499998vw,
          94.71256249999999vw 10.912613125vw,
          94.98193359375vw 11.0505078125vw,
          95.22025vw 11.237021250000002vw,
          95.41951953125vw 11.4670496875vw,
          95.57175000000001vw 11.735489375vw,
          95.66894921875002vw 12.0372365625vw,
          95.703125vw 12.367187500000002vw,
          95.703125vw 38.671875vw,
          95.703125vw 38.671875vw,
          95.68268359375vw 38.92532640625vw,
          95.6235vw 39.165755000000004vw,
          95.52878515625001vw 39.38994421875vw,
          95.40174999999999vw 39.594677499999996vw,
          95.24560546875vw 39.776738281250005vw,
          95.0635625vw 39.93291vw,
          94.85883203125vw 40.05997609375vw,
          94.634625vw 40.15472vw,
          94.39415234375vw 40.21392515625vw,
          94.140625vw 40.234375vw,
          74.609375vw 40.234375vw,
          74.609375vw 40.234375vw,
          74.35592359374999vw 40.21392515625vw,
          74.115495vw 40.15472vw,
          73.89130578125001vw 40.05997609375vw,
          73.6865725vw 39.93291vw,
          73.50451171875vw 39.776738281250005vw,
          73.34834000000001vw 39.594677499999996vw,
          73.22127390624999vw 39.38994421875vw,
          73.12653vw 39.165755000000004vw,
          73.06732484375vw 38.92532640625vw,
          73.046875vw 38.671875vw,
          73.046875vw 21.410078125vw
        );
      }
    }

    .tags {
      position: absolute;
      bottom: 1.563vw;
      left: 1.563vw;
      .first-tags {
        display: flex;

        #first-tag {
          width: 11.719vw;
          margin-right: 1.172vw;
        }

        #second-tag {
          width: 27.734vw;
        }
      }
      .tag {
        display: flex;
        height: 5.078vw;
        padding: 0.469vw 1.641vw;
        justify-content: center;
        align-items: center;
        gap: 0.781vw;
        border-radius: 0.703vw;
        background: #fff;

        > p {
          color: #29234c;
          font-family: SF-Pro-Rounded-Regular;
          font-size: 3.906vw;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          width: auto;
          margin-top: 0;
          margin-left: 0;
        }
      }
      #third-tag {
        width: 25.313vw;
        margin-top: 1.172vw;
      }
    }
  }

  .p {
    margin-top: 3.906vw;
    margin-left: 2.188vw;
    width: 41.016vw;
    color: #000;
    font-family: SF_UI_Display_Regular;
    font-size: 1.563vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;

    .orange {
      color: #ff7759;
      font-family: SF_UI_Display_Regular;
      font-size: 1.563vw;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
    }
  }

  #last-p {
    margin-top: 3.125vw;
    margin-bottom: 6.115vw;
  }

  .folders {
    width: 94.063vw;
    height: 20.149vw;
    display: flex;
    gap: 1.563vw;
    margin: 0 auto;

    .cont-wrapper {
      position: relative;
      .first-fold {
        position: absolute;
        background-color: #2a234d;
      }
      .second-fold {
        position: absolute;
        background-color: #ff7659;
      }
      .third-fold {
        position: absolute;
        background-color: #a7c5f7;
      }
    }

    .folder {
      transform: rotateX(0deg);
      transform-origin: bottom;
      width: 30.313vw;
      height: 20.156vw;
      background-color: #efeff4;
      clip-path: polygon(
        0vw 19.140625vw,
        0vw 1.875vw,
        0vw 1.875vw,
        0.02454065625vw 1.5708659062499999vw,
        0.09558900000000001vw 1.282356vw,
        0.20928459374999997vw 1.01333071875vw,
        0.361767vw 0.7676505vw,
        0.54917578125vw 0.54917578125vw,
        0.7676505vw 0.361767vw,
        1.01333071875vw 0.20928459374999997vw,
        1.282356vw 0.09558900000000001vw,
        1.5708659062499999vw 0.02454065625vw,
        1.875vw 3.104175365764453e-19vw,
        4.517234374999999vw 0vw,
        4.517234374999999vw 0vw,
        4.726187203125vw 0.0079902vw,
        4.932712vw 0.0317400375vw,
        5.135977765625001vw 0.07091836875vw,
        5.3351535000000005vw 0.12519405000000003vw,
        5.5294082031250005vw 0.19423593749999998vw,
        5.717910875vw 0.2777128875vw,
        5.899830515625vw 0.37529375625vw,
        6.074336125vw 0.4866474vw,
        6.240596703124999vw 0.611442675vw,
        6.3977812499999995vw 0.7493484375vw,
        6.7295859375000004vw 1.0636875000000001vw,
        6.7295859375000004vw 1.0636875000000001vw,
        6.801443171875vw 1.12673165625vw,
        6.877449125vw 1.1837820000000001vw,
        6.957223921875vw 1.23468721875vw,
        7.040387687500001vw 1.279296vw,
        7.126560546875001vw 1.31745703125vw,
        7.215362625000001vw 1.349019vw,
        7.306414046875001vw 1.3738305937500002vw,
        7.399334937499999vw 1.3917404999999998vw,
        7.493745421875vw 1.4025974062499997vw,
        7.5892656249999995vw 1.40625vw,
        29.296875vw 1.40625vw,
        29.296875vw 1.40625vw,
        29.461620312500003vw 1.4195428203125vw,
        29.617900000000002vw 1.45802725vw,
        29.763623437499998vw 1.5196122421875vw,
        29.8967vw 1.6022067500000001vw,
        30.015039062499998vw 1.7037197265625001vw,
        30.116550000000004vw 1.822060125vw,
        30.1991421875vw 1.9551368984375002vw,
        30.260725vw 2.1008590000000003vw,
        30.2992078125vw 2.2571353828125vw,
        30.312499999999996vw 2.421875vw,
        30.312499999999996vw 19.140625vw,
        30.312499999999996vw 19.140625vw,
        30.2992078125vw 19.3053703125vw,
        30.260725vw 19.46165vw,
        30.1991421875vw 19.6073734375vw,
        30.116550000000004vw 19.740450000000003vw,
        30.015039062499998vw 19.858789062499998vw,
        29.8967vw 19.9603vw,
        29.763623437499998vw 20.0428921875vw,
        29.617900000000002vw 20.104475vw,
        29.461620312500003vw 20.1429578125vw,
        29.296875vw 20.15625vw,
        1.015625vw 20.15625vw,
        1.015625vw 20.15625vw,
        0.8508853828124999vw 20.1429578125vw,
        0.694609vw 20.104475vw,
        0.5488868984375vw 20.0428921875vw,
        0.415810125vw 19.9603vw,
        0.2974697265625vw 19.858789062499998vw,
        0.19595674999999999vw 19.740450000000003vw,
        0.11336224218749999vw 19.6073734375vw,
        0.051777250000000004vw 19.46165vw,
        0.013292820312499998vw 19.3053703125vw,
        1.681423508297578e-18vw 19.140625vw
      );

      .content {
        padding-top: 2.648vw;
        padding-left: 1.25vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 5.938vw;

        .data-name {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.391vw;

          > p {
            color: #000;
            font-family: SF_UI_Display_Medium;
            font-size: 1.25vw;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
          }

          .sub {
            font-family: SF_UI_Display_Bold;
            font-size: 1.406vw;
            font-weight: 500;
            line-height: 123%;
          }
        }

        .title-subtittle {
          > p {
            width: 23.828vw;
            color: #000;
            font-family: SF_UI_Display_Medium;
            font-size: 1.25vw;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
          }
        }
      }

      #special {
        gap: 4.297vw;
      }
    }

    .fold {
      top: 0.078vw;
      left: 0.094vw;
      clip-path: polygon(
        0vw 18.904921875vw,
        0vw 1.875vw,
        0vw 1.875vw,
        0.02454065625vw 1.5708659062499999vw,
        0.09558900000000001vw 1.282356vw,
        0.20928459374999997vw 1.01333071875vw,
        0.361767vw 0.7676505vw,
        0.54917578125vw 0.54917578125vw,
        0.7676505vw 0.361767vw,
        1.01333071875vw 0.20928459374999997vw,
        1.282356vw 0.09558900000000001vw,
        1.5708659062499999vw 0.02454065625vw,
        1.875vw 3.104175365764453e-26vw,
        4.4336796875vw 0vw,
        4.4336796875vw 0vw,
        4.642075484375vw 0.0079476703125vw,
        4.8480629375vw 0.03157220625vw,
        5.050817140625vw 0.0705458953125vw,
        5.249513187500001vw 0.124541025vw,
        5.443326171875vw 0.19322988281250003vw,
        5.6314311875000005vw 0.27628475625vw,
        5.813003328125001vw 0.3733779328125vw,
        5.9872176875vw 0.4841817vw,
        6.153249359375vw 0.6083683453125001vw,
        6.310273437499999vw 0.74561015625vw,
        6.61940625vw 1.0373046875vw,
        6.61940625vw 1.0373046875vw,
        6.691359140625vw 1.100180703125vw,
        6.7674459375vw 1.15706vw,
        6.847286953125001vw 1.2077921093750001vw,
        6.930502499999999vw 1.2522265625000002vw,
        7.0167128906250005vw 1.2902128906249999vw,
        7.1055384375vw 1.321600625vw,
        7.196599453125vw 1.346239296875vw,
        7.28951625vw 1.3639784375vw,
        7.383909140625001vw 1.374667578125vw,
        7.4793984374999996vw 1.37815625vw,
        29.099843749999998vw 1.3416484375000002vw,
        29.099843749999998vw 1.3416484375000002vw,
        29.264789062499997vw 1.354693625vw,
        29.421287500000005vw 1.3929989999999999vw,
        29.5672390625vw 1.4544684999999997vw,
        29.70054375vw 1.5370060625000002vw,
        29.8191015625vw 1.6385156249999997vw,
        29.9208125vw 1.756901125vw,
        30.0035765625vw 1.8900665vw,
        30.06529375vw 2.0359156874999997vw,
        30.103864062499998vw 2.192352625vw,
        30.117187499999996vw 2.35728125vw,
        30.117187499999996vw 18.868515624999997vw,
        30.117187499999996vw 18.868515624999997vw,
        30.103917734375003vw 19.0331090625vw,
        30.065498125vw 19.189263125vw,
        30.004013203125vw 19.334889999999998vw,
        29.921547500000003vw 19.467901875vw,
        29.820185546875vw 19.5862109375vw,
        29.702011875vw 19.687729375vw,
        29.569111015624998vw 19.770369375vw,
        29.423567500000004vw 19.832043125000002vw,
        29.267465859374997vw 19.8706628125vw,
        29.102890625vw 19.884140625vw,
        1.0169453125vw 19.920546875vw,
        1.0169453125vw 19.920546875vw,
        0.8520430499999999vw 19.907438203125vw,
        0.6955933999999999vw 19.869086875vw,
        0.54969394375vw 19.807587734375vw,
        0.4164422625vw 19.725035625vw,
        0.29793593749999997vw 19.623525390625vw,
        0.19627255vw 19.505151875vw,
        0.11354968124999999vw 19.372009921874998vw,
        0.051864912500000006vw 19.226194375vw,
        0.013315825vw 19.069800078125002vw,
        1.6843932922717967e-18vw 18.904921875vw
      );
    }
  }

  .img-big {
    width: 96.875vw;
    height: 48.828vw;
    margin-top: 3.984vw;
  }

  .mobile-img {
    display: none;
  }

  .cards-first-column {
    display: flex;
    gap: 1.563vw;
  }

  .cards-second-column {
    display: flex;
    gap: 1.563vw;
  }

  h1 {
    margin-top: 3.125vw;
    color: #000;
    font-family: SF_UI_Display_Medium;
    font-size: 2.734vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .cards {
    margin-top: 1.563vw;
    display: flex;
    gap: 1.563vw;

    .card {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.016vw;
      .photo {
        width: 23.047vw;
        height: 27.344vw;
        border-radius: 1.016vw;
        background-size: cover;
        .ph {
          width: 100%;
          border-radius: 1.016vw;
        }

        .mobile {
          display: none;
        }
      }

      .desc {
        display: flex;
        width: 23.047vw;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.781vw;

        .name {
          color: #000;
          font-family: SF_UI_Display_Medium;
          font-size: 1.719vw;
          font-style: normal;
          font-weight: 600;
          line-height: 124%;
          margin-top: 0;
          margin-left: 0;
        }

        .action {
          color: #000;
          font-family: SF_UI_Display_Medium;
          font-size: 1.563vw;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          margin-top: 0;
          margin-left: 0;
        }
      }
    }
  }

  #h1 {
    margin-top: 7.969vw;
  }

  .card-cards {
    margin-top: 2.813vw;
    width: 96.875vw;
    height: 41.58vw;
    position: relative;
    .one {
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 0;
      background-color: #a7c5f9;
      width: 96.875vw;
      height: 37.813vw;
      clip-path: polygon(
        24.4428125vw 3.1095390625000006vw,
        48.385703125vw 3.1095390625000006vw,
        94.53125vw 3.1095390625000006vw,
        94.53125vw 3.1095390625000006vw,
        94.91144609375vw 3.1402148828125vw,
        95.27210000000001vw 3.2290253125vw,
        95.60838828125vw 3.3711448046874994vw,
        95.9154875vw 3.5617478125000006vw,
        96.18857421874999vw 3.7960087890625003vw,
        96.422825vw 4.0691021874999995vw,
        96.61341640625001vw 4.3762024609375vw,
        96.75552499999999vw 4.7124840625vw,
        96.84432734375vw 5.073121445312499vw,
        96.875vw 5.4532890625vw,
        96.875vw 35.46875vw,
        96.875vw 35.46875vw,
        96.84432734375vw 35.848927109375vw,
        96.75552499999999vw 36.20957vw,
        96.61341640625001vw 36.545853828125vw,
        96.422825vw 36.85295375vw,
        96.18857421874999vw 37.126044921875vw,
        95.9154875vw 37.3603025vw,
        95.60838828125vw 37.550901640625vw,
        95.27210000000001vw 37.693017499999996vw,
        94.91144609375vw 37.781825234375vw,
        94.53125vw 37.8125vw,
        55.86656249999999vw 37.8125vw,
        2.34375vw 37.8125vw,
        2.34375vw 37.8125vw,
        1.9635823828125003vw 37.781825234375vw,
        1.602945vw 37.693017499999996vw,
        1.2666633984375vw 37.550901640625vw,
        0.9595631250000001vw 37.3603025vw,
        0.6864697265624999vw 37.126044921875vw,
        0.45220875vw 36.85295375vw,
        0.2616057421875vw 36.545853828125vw,
        0.11948624999999999vw 36.20957vw,
        0.0306758203125vw 35.848927109375vw,
        3.8802192072055465e-22vw 35.46875vw,
        0vw 4.781890625vw,
        0vw 4.781890625vw,
        0.0699055390625vw 3.8701565859374996vw,
        0.27769900000000003vw 3.055393vw,
        0.6204956484375vw 2.3373646953125vw,
        1.09541075vw 1.7158365000000002vw,
        1.6995595703124997vw 1.1905732421875vw,
        2.430057375vw 0.7613397500000001vw,
        3.2840194296875vw 0.4279008515625vw,
        4.258561vw 0.190021375vw,
        5.350797351562499vw 0.0474661484375vw,
        6.55784375vw 5.845823308447189e-22vw,
        13.615703125vw 0vw,
        13.615703125vw 0vw,
        14.32247703125vw 0.009015057031249999vw,
        14.961406875vw 0.03762805vw,
        15.54310796875vw 0.08819071171875vw,
        16.078195625vw 0.16305477499999999vw,
        16.57728515625vw 0.26457197265625vw,
        17.050991874999998vw 0.3950940375vw,
        17.50993109375vw 0.5569727023437501vw,
        17.964718125vw 0.7525597vw,
        18.42596828125vw 0.98420676328125vw,
        18.904296875vw 1.2542656250000002vw,
        20.365859375vw 2.0904453125vw,
        20.365859375vw 2.0904453125vw,
        20.744314531249998vw 2.3031226796875vw,
        21.111110000000004vw 2.4874220625vw,
        21.47305484375vw 2.6447545390625002vw,
        21.836958125vw 2.7765311875vw,
        22.20962890625vw 2.8841630859375003vw,
        22.59787625vw 2.9690613124999996vw,
        23.00850921875vw 3.0326369453125004vw,
        23.448336875vw 3.0763010625vw,
        23.92416828125vw 3.1014647421875003vw,
        24.4428125vw 3.1095390625000006vw
      );

      > img {
        margin-top: 7.109vw;
        margin-left: 43.086vw;
      }

      .wrapper {
        width: 38.75vw;
        height: 21.719vw;
        margin-top: 7.656vw;
        margin-left: 3.125vw;

        > h1 {
          width: 38.75vw;
          color: #fff;
          font-family: SF_UI_Display_Medium;
          font-size: 2.891vw;
          font-style: normal;
          font-weight: 500;
          line-height: 130%;
        }

        > form {
          display: flex;
          flex-direction: column;
          margin-top: 2.734vw;

          label {
            color: #fff;
            font-family: SF_UI_Display_Semibold;
            font-size: 0.938vw;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
          }

          input {
            background-color: #a7c5f9;
            width: 37.891vw;
            height: 2.891vw;
            border: none;
            border-bottom: 0.078vw solid #fff;
            padding: 0;
            outline: none;
            color: #fff;
            font-family: SF_UI_Display_Semibold;
            font-size: 1.25vw;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
          }

          > button {
            border: none;
            cursor: pointer;
            margin-top: 2.734vw;
            display: flex;
            width: 38.141vw;
            height: 4.781vw;
            padding: 0.625vw 6.797vw;
            justify-content: center;
            align-items: center;
            gap: 0.781vw;
            border-radius: 0.938vw;
            background: #29234c;
            color: #fff;
            font-family: SF_UI_Display_Medium;
            font-size: 1.563vw;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }

      .images {
        position: absolute;
        left: 43.086vw;
        top: 7.109vw;
        width: 51.523vw;
        height: 28.984vw;

        .boy {
          position: absolute;
          width: 19.609vw;
          top: 0.234vw;
          left: 20.977vw;
        }

        .boy-mobile {
          display: none;
        }

        .line {
          position: absolute;
          top: -0.156vw;
          width: 51.484vw;
        }

        .line-mobile {
          display: none;
        }

        .lines-mobile {
          display: none;
        }

        .lines {
          position: absolute;
          top: 9.844vw;
          left: 33.477vw;
          width: 18.047vw;
        }

        .text-images {
          display: flex;
          position: absolute;
          top: 1.875vw;
          left: 2.695vw;
          width: 20vw;
          height: 6.016vw;
          border-radius: 1.172vw;
          background: #fff;

          > p {
            color: #29234c;
            font-family: SF-Pro-Rounded-Medium;
            margin-left: 1.172vw;
            margin-top: 1.563vw;
            font-size: 2.734vw;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          .img-many {
            margin-top: 1.094vw;
            margin-left: 0.938vw;

            #im1 {
              z-index: 2;
              position: relative;
              width: 4.141vw;
              height: 4.141vw;
            }
            #im2 {
              z-index: 1;
              position: relative;
              margin-left: -1.563vw;
              width: 4.141vw;
              height: 4.141vw;
            }
            #im3 {
              position: relative;
              margin-left: -1.563vw;
              width: 4.141vw;
              height: 4.141vw;
            }
          }
        }

        .some-text {
          top: 11.875vw;
          left: 36.133vw;
          position: absolute;
          width: 12.891vw;

          #text1 {
            color: #29234c;
            font-family: SF-Pro-Rounded-Medium;
            font-size: 1.719vw;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          #text2 {
            margin-top: 0.781vw;
            color: #29234c;
            font-family: SF-Pro-Rounded-Regular;
            font-size: 1.172vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        .we-base {
          position: absolute;
          bottom: 0;
          right: 8.633vw;
          width: 18.359vw;
          height: 4.688vw;
          border-radius: 39.063vw;
          background: #fff;

          > p {
            color: #83cc20;
            font-family: SF-Pro-Rounded-Regular;
            font-size: 2.656vw;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            margin: 0.391vw 2.031vw 0.859vw 2.031vw;
          }
        }
      }
    }

    .two {
      position: absolute;
      right: 0;
      bottom: 3.125vw;
      background-color: #d3ffb4;
      width: 91.563vw;
      height: 36.094vw;
      clip-path: polygon(
        18.988828124999998vw 1.9908984375vw,
        18.988828124999998vw 1.9908984375vw,
        19.341697265624997vw 2.1934501640625vw,
        19.68369375vw 2.36897475vw,
        20.021166796875vw 2.5188161484375vw,
        20.360465625000003vw 2.6443183125000003vw,
        20.707939453125vw 2.7468251953125002vw,
        21.069937499999998vw 2.82768075vw,
        21.452808984375vw 2.8882289296875vw,
        21.862903125000003vw 2.9298136875000003vw,
        22.306569140625vw 2.9537789765625vw,
        22.79015625vw 2.96146875vw,
        87.96875vw 2.96146875vw,
        87.96875vw 2.96146875vw,
        88.55176796875vw 3.0085048671874994vw,
        89.1048vw 3.1446805vw,
        89.62045390625vw 3.3625965703125vw,
        90.09133750000001vw 3.6548540000000003vw,
        90.51005859375vw 4.0140537109375vw,
        90.869225vw 4.432796625vw,
        91.16144453125001vw 4.9036836640625vw,
        91.379325vw 5.41931575vw,
        91.51547421874999vw 5.972293804687499vw,
        91.5625vw 6.55521875vw,
        91.5625vw 33.828125vw,
        91.5625vw 33.828125vw,
        91.53285468749999vw 34.19561625vw,
        91.447025vw 34.54423vw,
        91.3096703125vw 34.86930125vw,
        91.12545vw 35.166165vw,
        90.89902343749999vw 35.43015625vw,
        90.63504999999999vw 35.65661vw,
        90.33818906249999vw 35.84086125vw,
        90.01310000000001vw 35.978245vw,
        89.6644421875vw 36.06409625vw,
        89.296875vw 36.09375vw,
        2.265625vw 36.09375vw,
        2.265625vw 36.09375vw,
        1.8981299531250002vw 36.06409625vw,
        1.5495139999999998vw 35.978245vw,
        1.2244418593750002vw 35.84086125vw,
        0.9275782499999999vw 35.65661vw,
        0.6635878906250001vw 35.43015625vw,
        0.43713549999999995vw 35.166165vw,
        0.252885796875vw 34.86930125vw,
        0.1155035vw 34.54423vw,
        0.029653328125000003vw 34.19561625vw,
        3.7508833817902344e-22vw 33.828125vw,
        0vw 4.554187499999999vw,
        0vw 4.554187499999999vw,
        0.0651790546875vw 3.6858676640624997vw,
        0.2589230625vw 2.9099009999999996vw,
        0.5785422890625vw 2.2260634921875vw,
        1.0213469999999998vw 1.6341311250000001vw,
        1.5846474609375vw 1.1338798828125vw,
        2.2657539375vw 0.7250857500000001vw,
        3.0619766953125vw 0.40752471093750003vw,
        3.970626vw 0.18097275vw,
        4.9890121171875vw 0.045205851562499996vw,
        6.1144453125vw 5.567449394285469e-20vw,
        12.695078125vw 0vw,
        12.695078125vw 0vw,
        13.354084140625vw 0.00858576796875vw,
        13.94982625vw 0.0358362375vw,
        14.492203046875002vw 0.08399115703125vw,
        14.991113125vw 0.155290275vw,
        15.456455078125vw 0.25197333984375003vw,
        15.898127500000001vw 0.37628010000000006vw,
        16.326028984375vw 0.53045030390625vw,
        16.750058125vw 0.7167237vw,
        17.180113515625vw 0.93734003671875vw,
        17.62609375vw 1.1945390625vw,
        18.988828124999998vw 1.9908984375vw
      );
    }

    .three {
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 6.563vw;
      background-color: #ff7759;
      width: 86.875vw;
      height: 33.984vw;
      clip-path: polygon(
        18.02390625vw 1.8913515625vw,
        18.02390625vw 1.8913515625vw,
        18.358833984375vw 2.08377553125vw,
        18.683446875vw 2.2505236249999996vw,
        19.003770703125vw 2.392872625vw,
        19.32583125vw 2.5120993125vw,
        19.655654296875vw 2.60948046875vw,
        19.999265625vw 2.686292875vw,
        20.362691015625vw 2.7438133125000004vw,
        20.75195625vw 2.7833185625vw,
        21.173087109375vw 2.8060854062500002vw,
        21.632109375000002vw 2.813390625vw,
        83.359375vw 2.813390625vw,
        83.359375vw 2.813390625vw,
        83.92957421875vw 2.85940425vw,
        84.4705vw 2.9926196249999997vw,
        84.97491015625vw 3.2057984999999998vw,
        85.43556249999999vw 3.491702625vw,
        85.84521484375vw 3.84309375vw,
        86.19662500000001vw 4.252733625vw,
        86.48255078125vw 4.713384vw,
        86.69575vw 5.217806625000001vw,
        86.82898046874999vw 5.75876325vw,
        86.875vw 6.329015624999999vw,
        86.875vw 31.953125vw,
        86.875vw 31.953125vw,
        86.848415625vw 32.282596640625vw,
        86.77144999999999vw 32.595144999999995vw,
        86.648284375vw 32.886587421875vw,
        86.48310000000001vw 33.15274125vw,
        86.280078125vw 33.389423828125004vw,
        86.0434vw 33.5924525vw,
        85.777246875vw 33.757644609375vw,
        85.48579999999998vw 33.8808175vw,
        85.173240625vw 33.957788515625vw,
        84.84375vw 33.984375vw,
        2.03125vw 33.984375vw,
        2.03125vw 33.984375vw,
        1.7017707656249998vw 33.957788515625vw,
        1.389218vw 33.8808175vw,
        1.097773796875vw 33.757644609375vw,
        0.83162025vw 33.5924525vw,
        0.594939453125vw 33.389423828125004vw,
        0.39191349999999997vw 33.15274125vw,
        0.22672448437499998vw 32.886587421875vw,
        0.10355450000000001vw 32.595144999999995vw,
        0.026585640624999997vw 32.282596640625vw,
        3.362847016595078e-21vw 31.953125vw,
        0vw 4.3264765625vw,
        0vw 4.3264765625vw,
        0.061866921874999994vw 3.501573046875vw,
        0.2457656875vw 2.7644049999999996vw,
        0.549143296875vw 2.114759609375vw,
        0.96944675vw 1.5524240624999999vw,
        1.504123046875vw 1.077185546875vw,
        2.1506191875000003vw 0.68883125vw,
        2.9063821718750003vw 0.387148359375vw,
        3.768859vw 0.1719240625vw,
        4.7354966718750005vw 0.042945546875000004vw,
        5.803742187499999vw 5.28907548012375e-17vw,
        12.05vw 0vw,
        12.05vw 0vw,
        12.67550953125vw 0.00815647890625vw,
        13.240973125vw 0.034044425vw,
        13.755785468749998vw 0.07979160234374999vw,
        14.22934125vw 0.147525775vw,
        14.671035156250001vw 0.23937470703125vw,
        15.090261875vw 0.3574661625vw,
        15.496416093750002vw 0.50392790546875vw,
        15.8988925vw 0.6808877000000001vw,
        16.30708578125vw 0.89047331015625vw,
        16.730390625vw 1.1348125vw,
        18.02390625vw 1.8913515625vw
      );
    }

    .four {
      position: absolute;
      z-index: -2;
      right: 0;
      bottom: 9.688vw;
      background-color: #29234c;
      width: 81.563vw;
      height: 31.953vw;
      clip-path: polygon(
        16.92546875vw 1.7633671874999999vw,
        16.92546875vw 1.7633671874999999vw,
        17.2399940625vw 1.9427693984375vw,
        17.5448275vw 2.098233625vw,
        17.84562875vw 2.2309501640625vw,
        18.1480575vw 2.3421093125vw,
        18.4577734375vw 2.4329013671875vw,
        18.78043625vw 2.504516625vw,
        19.121705625vw 2.5581453828125vw,
        19.48724125vw 2.5949779375vw,
        19.8827028125vw 2.6162045859375vw,
        20.313750000000002vw 2.623015625vw,
        78.046875vw 2.623015625vw,
        78.046875vw 2.623015625vw,
        78.61707421874999vw 2.6690290390625vw,
        79.158vw 2.802243875vw,
        79.66241015624999vw 3.0154220234375vw,
        80.1230625vw 3.301325375vw,
        80.53271484375vw 3.6527158203125vw,
        80.88412500000001vw 4.06235525vw,
        81.17005078125vw 4.5230055546875vw,
        81.38324999999999vw 5.027428625vw,
        81.51648046874999vw 5.5683863515625vw,
        81.5625vw 6.138640625000001vw,
        81.5625vw 29.921874999999996vw,
        81.5625vw 29.921874999999996vw,
        81.53591562500002vw 30.251346640625vw,
        81.45895vw 30.563894999999995vw,
        81.335784375vw 30.855337421875vw,
        81.17060000000001vw 31.12149125vw,
        80.96757812499999vw 31.358173828125004vw,
        80.7309vw 31.561202499999997vw,
        80.464746875vw 31.726394609374996vw,
        80.1733vw 31.8495675vw,
        79.860740625vw 31.926538515625vw,
        79.53125vw 31.953125vw,
        2.03125vw 31.953125vw,
        2.03125vw 31.953125vw,
        1.7017707656249998vw 31.926538515625vw,
        1.389218vw 31.8495675vw,
        1.097773796875vw 31.726394609374996vw,
        0.83162025vw 31.561202499999997vw,
        0.594939453125vw 31.358173828125004vw,
        0.39191349999999997vw 31.12149125vw,
        0.22672448437499998vw 30.855337421875vw,
        0.10355450000000001vw 30.563894999999995vw,
        0.026585640624999997vw 30.251346640625vw,
        3.362847016595078e-21vw 29.921874999999996vw,
        0vw 4.033703125000001vw,
        0vw 4.033703125000001vw,
        0.058096445312499995vw 3.26462146875vw,
        0.2307875vw 2.577338vw,
        0.5156757421875vw 1.97165434375vw,
        0.9103637500000001vw 1.4473721249999998vw,
        1.4124541015625vw 1.00429296875vw,
        2.019549375vw 0.6422184999999999vw,
        2.7292521484375vw 0.36095034375vw,
        3.5391650000000006vw 0.16029012499999998vw,
        4.446890507812499vw 0.04003946875vw,
        5.45003125vw 4.9311702889085235e-19vw,
        11.315625vw 0vw,
        11.315625vw 0vw,
        11.903007109375vw 0.00760453203125vw,
        12.43400375vw 0.0317406625vw,
        12.917437265625vw 0.07439219296874999vw,
        13.36213vw 0.13754292499999998vw,
        13.776904296875001vw 0.22317666015624998vw,
        14.1705825vw 0.3332772vw,
        14.551986953125vw 0.46982834609375vw,
        14.92994vw 0.6348139vw,
        15.313263984375vw 0.83021766328125vw,
        15.71078125vw 1.0580234375000002vw,
        16.92546875vw 1.7633671874999999vw
      );
    }
  }

  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: SF_UI_Display_Semibold;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: SF_UI_Display_Semibold;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: SF_UI_Display_Semibold;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  :-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: SF_UI_Display_Semibold;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}
