@font-face {
  font-family: 'Suisse_Light';
  src: url('fonts/SuisseIntl-Light.ttf');
}

@font-face {
  font-family: 'Suisse_Regular';
  src: url('fonts/SuisseIntl-Regular.ttf');
}

@font-face {
  font-family: 'Suisse_Medium';
  src: url('fonts/SuisseIntl-Medium.ttf');
}

@font-face {
  font-family: 'Suisse_Semibold';
  src: url('fonts/SuisseIntl-SemiBold.ttf');
}

// @font-face {
//   font-family: 'SF_UI_Display_Bold';
//   src: url('fonts/sf-pro-display-bold.otf');
// }

// @font-face {
//   font-family: 'SF-Pro-Rounded-Regular';
//   src: url('fonts/FontsFree-Net-SF-Pro-Rounded-Regular.ttf');
// }

// @font-face {
//   font-family: 'SF-Pro-Rounded-Medium';
//   src: url('fonts/FontsFree-Net-SF-Pro-Rounded-Medium.ttf');
// }

// @font-face {
//   font-family: 'SF-Pro-Rounded-Semibold';
//   src: url('fonts/SF-Pro-Rounded-Semibold.otf');
// }
