@media all and (max-width: 428px) {
  body.index {
    padding: 11.215vw 0 9.346vw 0;

    .cont {
      height: 325.507vw;
      flex-direction: column;
    }

    .images {
      margin-right: 0;
      width: 90.654vw;
      #first {
        width: 90.654vw;
        height: 124.005vw;
        clip-path: polygon(
          0vw 3.1314018691588785vw,
          0vw 3.1314018691588785vw,
          0.04098483411214953vw 2.6234734205607473vw,
          0.15964119626168224vw 2.1416385794392525vw,
          0.3495218761682243vw 1.6923445981308411vw,
          0.604179663551402vw 1.2820387289719626vw,
          0.9171673481308411vw 0.9171682242990654vw,
          1.2820377196261683vw 0.6041803364485981vw,
          1.6923435677570093vw 0.34952231775700937vw,
          2.141637682242991vw 0.15964142056074765vw,
          2.623472852803738vw 0.04098489719626168vw,
          3.1314018691588785vw 5.184226144013552e-19vw,
          87.52289719626168vw 0vw,
          87.52289719626168vw 0vw,
          88.03082757009346vw 0.04098483411214953vw,
          88.51265794392523vw 0.15964119626168224vw,
          88.96194252336448vw 0.3495218761682243vw,
          89.3722355140187vw 0.604179663551402vw,
          89.73709112149533vw 0.9171673481308411vw,
          90.05006355140186vw 1.2820377196261683vw,
          90.30470700934579vw 1.6923435677570093vw,
          90.49457570093458vw 2.141637682242991vw,
          90.61322383177568vw 2.623472852803738vw,
          90.65420560747664vw 3.1314018691588785vw,
          90.65420560747664vw 15.765443925233647vw,
          90.65420560747664vw 15.765443925233647vw,
          90.6234871495327vw 16.204455887850465vw,
          90.5338691588785vw 16.626512523364482vw,
          90.38915771028037vw 17.026948691588785vw,
          90.19315887850468vw 17.401099252336447vw,
          89.94967873831776vw 17.74429906542056vw,
          89.66252336448598vw 18.051882990654207vw,
          89.3354988317757vw 18.31918588785047vw,
          88.97241121495327vw 18.54154261682243vw,
          88.57706658878504vw 18.714288037383177vw,
          88.15327102803738vw 18.832757009345798vw,
          3.7618224299065424vw 36.177336448598126vw,
          3.7618224299065424vw 36.177336448598126vw,
          3.184521813084112vw 36.2420214953271vw,
          2.6247644112149535vw 36.20203177570093vw,
          2.09273138317757vw 36.06566915887851vw,
          1.5986038878504674vw 35.84123551401869vw,
          1.1525630841121495vw 35.53703271028038vw,
          0.7647901308411215vw 35.16136261682243vw,
          0.4454661869158878vw 34.72252710280374vw,
          0.20477241121495326vw 34.228828037383174vw,
          0.052889962616822425vw 33.68856728971963vw,
          6.728345336749066e-13vw 33.110046728971966vw,
          0vw 3.1314018691588785vw
        );
      }

      #second {
        width: 90.654vw;
        height: 124.005vw;
        clip-path: polygon(
          0vw 41.04485981308411vw,
          0vw 41.04485981308411vw,
          0.030715815420560746vw 40.60584976635514vw,
          0.1203273644859813vw 40.183798130841126vw,
          0.2650308014018692vw 39.783368925233646vw,
          0.4610222803738318vw 39.4092261682243vw,
          0.7044979556074766vw 39.066033878504676vw,
          0.9916539813084112vw 38.75845607476636vw,
          1.3186865116822428vw 38.49115677570094vw,
          1.6817917009345793vw 38.2688vw,
          2.077165703271028vw 38.096049766355144vw,
          2.501004672897196vw 37.97757009345795vw,
          86.89228971962618vw 20.632967289719627vw,
          86.89228971962618vw 20.632967289719627vw,
          87.46959976635515vw 20.568313130841123vw,
          88.02936822429906vw 20.608325607476637vw,
          88.56141331775702vw 20.74470313084112vw,
          89.05555327102803vw 20.969144112149536vw,
          89.50160630841121vw 21.273346962616824vw,
          89.8893906542056vw 21.649010093457946vw,
          90.20872453271028vw 22.08783191588785vw,
          90.44942616822429vw 22.581510841121496vw,
          90.60131378504673vw 23.121745280373833vw,
          90.65420560747664vw 23.700233644859814vw,
          90.65420560747664vw 72.31098130841121vw,
          90.65420560747664vw 72.31098130841121vw,
          90.61322383177568vw 72.81885490654206vw,
          90.49457570093458vw 73.3006523364486vw,
          90.30470700934579vw 73.74992359813083vw,
          90.05006355140186vw 74.16021869158878vw,
          89.73709112149533vw 74.52508761682243vw,
          89.3722355140187vw 74.83808037383177vw,
          88.96194252336448vw 75.09274696261681vw,
          88.51265794392523vw 75.28263738317757vw,
          88.03082757009346vw 75.40130163551403vw,
          87.52289719626168vw 75.44228971962616vw,
          3.1314018691588785vw 75.44228971962616vw,
          3.1314018691588785vw 75.44228971962616vw,
          2.62347171728972vw 75.40130163551403vw,
          2.1416358878504673vw 75.28263738317757vw,
          1.6923415070093455vw 75.09274696261681vw,
          1.2820357009345795vw 74.83808037383177vw,
          0.9171655957943925vw 74.52508761682243vw,
          0.6041783177570094vw 74.16021869158878vw,
          0.3495209929906542vw 73.74992359813083vw,
          0.1596407476635514vw 73.3006523364486vw,
          0.04098470794392523vw 72.81885490654206vw,
          5.1842002249563085e-21vw 72.31098130841121vw,
          0vw 41.04485981308411vw
        );
      }

      .container {
        #third {
          width: 90.654vw;
          height: 124.005vw;
          clip-path: polygon(
            0vw 80.2341121495327vw,
            0vw 80.2341121495327vw,
            0.04098483411214953vw 79.72618177570094vw,
            0.15964119626168224vw 79.24435140186915vw,
            0.3495218761682243vw 78.7950668224299vw,
            0.604179663551402vw 78.3847738317757vw,
            0.9171673481308411vw 78.01991822429906vw,
            1.2820377196261683vw 77.70694579439252vw,
            1.6923435677570093vw 77.4523023364486vw,
            2.141637682242991vw 77.26243364485981vw,
            2.623472852803738vw 77.14378551401869vw,
            3.1314018691588785vw 77.10280373831776vw,
            5.839509345794392vw 77.10280373831776vw,
            5.839509345794392vw 77.10280373831776vw,
            6.151199205607476vw 77.11832897196261vw,
            6.456766542056075vw 77.16420186915887vw,
            6.754245373831775vw 77.23936822429907vw,
            7.041669719626169vw 77.34277383177569vw,
            7.3170735981308415vw 77.4733644859813vw,
            7.578491028037384vw 77.63008598130841vw,
            7.823956028037384vw 77.81188411214954vw,
            8.05150261682243vw 78.0177046728972vw,
            8.259164813084112vw 78.24649345794393vw,
            8.444976635514019vw 78.49719626168225vw,
            35.5838785046729vw 119.2056074766355vw,
            35.5838785046729vw 119.2056074766355vw,
            35.91558714953271vw 119.84756214953272vw,
            36.08576261682243vw 120.51094579439253vw,
            36.105624065420564vw 121.17479485981309vw,
            35.98639065420561vw 121.81814579439252vw,
            35.73928154205607vw 122.42003504672898vw,
            35.37551588785047vw 122.95949906542056vw,
            34.906312850467295vw 123.41557429906543vw,
            34.342891588785044vw 123.76729719626167vw,
            33.69647126168224vw 123.99370420560747vw,
            32.97827102803738vw 124.07383177570092vw,
            3.1314018691588785vw 124.07383177570092vw,
            3.1314018691588785vw 124.07383177570092vw,
            2.623472852803738vw 124.03285vw,
            2.141637682242991vw 123.91420186915889vw,
            1.6923435677570093vw 123.7243331775701vw,
            1.2820377196261683vw 123.46968971962617vw,
            0.9171673481308411vw 123.15671728971964vw,
            0.604179663551402vw 122.79186168224298vw,
            0.3495218761682243vw 122.38156869158878vw,
            0.15964119626168224vw 121.93228411214953vw,
            0.04098483411214953vw 121.45045373831775vw,
            5.184217504327804e-16vw 120.942523364486vw,
            0vw 80.2341121495327vw
          );
        }

        #fourth {
          width: 90.654vw;
          height: 124.005vw;
          clip-path: polygon(
            12.357733644859813vw 81.971261682243vw,
            12.357733644859813vw 81.971261682243vw,
            12.026042546728972vw 81.32924369158879vw,
            11.855877757009345vw 80.66580934579439vw,
            11.836020257009347vw 80.00192079439253vw,
            11.955251028037384vw 79.35854018691589vw,
            12.20235105140187vw 78.75662967289719vw,
            12.566101308411215vw 78.21715140186916vw,
            13.035282780373834vw 77.76106752336447vw,
            13.598676448598132vw 77.40934018691588vw,
            14.245063294392523vw 77.18293154205607vw,
            14.96322429906542vw 77.10280373831776vw,
            87.55397196261681vw 77.10280373831776vw,
            87.55397196261681vw 77.10280373831776vw,
            88.06184556074767vw 77.14378551401869vw,
            88.5436429906542vw 77.26243364485981vw,
            88.99291425233645vw 77.4523023364486vw,
            89.4032093457944vw 77.70694579439252vw,
            89.76807827102805vw 78.01991822429906vw,
            90.08107102803739vw 78.3847738317757vw,
            90.33573761682243vw 78.7950668224299vw,
            90.52562803738317vw 79.24435140186915vw,
            90.64429228971962vw 79.72618177570094vw,
            90.68528037383177vw 80.2341121495327vw,
            90.68528037383177vw 120.942523364486vw,
            90.68528037383177vw 120.942523364486vw,
            90.64429228971962vw 121.45045373831775vw,
            90.52562803738317vw 121.93228411214953vw,
            90.33573761682243vw 122.38156869158878vw,
            90.08107102803739vw 122.79186168224298vw,
            89.76807827102805vw 123.15671728971964vw,
            89.4032093457944vw 123.46968971962617vw,
            88.99291425233645vw 123.7243331775701vw,
            88.5436429906542vw 123.91420186915889vw,
            88.06184556074767vw 124.03285vw,
            87.55397196261681vw 124.07383177570092vw,
            42.10210280373832vw 124.07383177570092vw,
            42.10210280373832vw 124.07383177570092vw,
            41.79041658878505vw 124.05831285046729vw,
            41.48484672897197vw 124.01245607476636vw,
            41.18736004672897vw 123.93731144859812vw,
            40.89992336448598vw 123.83392897196262vw,
            40.624503504672894vw 123.70335864485982vw,
            40.36306728971963vw 123.54665046728972vw,
            40.11758154205607vw 123.36485443925234vw,
            39.89001308411215vw 123.15902056074765vw,
            39.68232873831775vw 122.9301988317757vw,
            39.4964953271028vw 122.67943925233644vw,
            12.357733644859813vw 81.971261682243vw
          );
        }
      }
      .tags {
        top: 2.804vw;
        left: 2.804vw;
        .first-tags {
          #first-tag {
            width: 24.533vw;
            margin-right: 3.738vw;
          }

          #second-tag {
            width: 36.449vw;
          }
        }
        .tag {
          padding: 1.402vw 4.907vw;
          gap: 2.336vw;
          height: 10.514vw;
          border-radius: 2.103vw;
          background: #fff;

          > p {
            color: #29234c;
            font-family: SF-Pro-Rounded-Regular;
            font-size: 8.178vw;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
          }
        }
        #third-tag {
          width: 53.037vw;
          margin-top: 1.869vw;
        }
      }
    }

    .form {
      margin-top: 2.804vw;
      height: 198.638vw;
      #pc {
        display: none;
      }
      #mobile {
        position: absolute;
        bottom: 0;
        display: block;
        width: 90.654vw;
        height: 42.523vw;
        clip-path: polygon(
          0vw 17.268130841121497vw,
          0vw 17.268130841121497vw,
          0.03391684112149533vw 16.7972526635514vw,
          0.13272519626168225vw 16.345646542056073vw,
          0.29201181308411217vw 15.918513971962616vw,
          0.5073634392523364vw 15.521056448598133vw,
          0.7743668224299066vw 15.158475467289719vw,
          1.0886087102803739vw 14.835972523364486vw,
          1.4456758504672897vw 14.558749112149533vw,
          1.8411549906542055vw 14.332006728971963vw,
          2.2706328785046725vw 14.160946869158877vw,
          2.7296962616822427vw 14.050771028037385vw,
          86.86191588785047vw 0.15887570093457945vw,
          86.86191588785047vw 0.15887570093457945vw,
          87.45075023364487vw 0.11491545070093459vw,
          88.01902056074766vw 0.1742917831775701vw,
          88.55697126168225vw 0.32872838387850467vw,
          89.05484672897195vw 0.569948938317757vw,
          89.50289135514019vw 0.8896771320093458vw,
          89.89134953271028vw 1.2796366504672898vw,
          90.2104656542056vw 1.7315511792056075vw,
          90.45048411214952vw 2.2371444037383177vw,
          90.60164929906543vw 2.7881400095794393vw,
          90.65420560747664vw 3.3762616822429905vw,
          90.65420560747664vw 39.06845794392523vw,
          90.65420560747664vw 39.06845794392523vw,
          90.61152336448598vw 39.59744929906542vw,
          90.48795327102803vw 40.09924859813084vw,
          90.29021028037383vw 40.567145093457945vw,
          90.02500934579439vw 40.99442803738318vw,
          89.69906542056074vw 41.37438668224299vw,
          89.31909345794394vw 41.700310280373834vw,
          88.89180841121494vw 41.96548808411215vw,
          88.42392523364487vw 42.16320934579439vw,
          87.92215887850467vw 42.28676331775701vw,
          87.39322429906542vw 42.32943925233645vw,
          3.2609579439252334vw 42.32943925233645vw,
          3.2609579439252334vw 42.32943925233645vw,
          2.7320132313084113vw 42.28676331775701vw,
          2.2302423925233645vw 42.16320934579439vw,
          1.7623593014018692vw 41.96548808411215vw,
          1.3350778317757008vw 41.700310280373834vw,
          0.9551118574766355vw 41.37438668224299vw,
          0.6291752523364486vw 40.99442803738318vw,
          0.3639818901869159vw 40.567145093457945vw,
          0.16624564485981308vw 40.09924859813084vw,
          0.042680390186915884vw 39.59744929906542vw,
          5.398689062934814e-15vw 39.06845794392523vw,
          0vw 17.268130841121497vw
        );
      }

      .form-main {
        width: 90.654vw;
        height: 166.822vw;
        padding-left: 4.673vw;
        clip-path: polygon(
          0vw 3.2609345794392524vw,
          0vw 3.2609345794392524vw,
          0.0426802406542056vw 2.731995630841121vw,
          0.16624500934579442vw 2.2302295327102803vw,
          0.3639803761682243vw 1.7623502570093459vw,
          0.6291724112149533vw 1.3350717757009345vw,
          0.9551071845794392vw 0.9551080607476635vw,
          1.3350707663551402vw 0.6291730841121496vw,
          1.762349226635514vw 0.36398081775700936vw,
          2.2302286355140186vw 0.16624523364485982vw,
          2.7319950630841126vw 0.04268030373831776vw,
          3.2609345794392524vw 5.398680423249065e-16vw,
          87.39322429906542vw 0vw,
          87.39322429906542vw 0vw,
          87.92215887850467vw 0.0426802406542056vw,
          88.42392523364487vw 0.16624500934579442vw,
          88.89180841121494vw 0.3639803761682243vw,
          89.31909345794394vw 0.6291724112149533vw,
          89.69906542056074vw 0.9551071845794392vw,
          90.02500934579439vw 1.3350707663551402vw,
          90.29021028037383vw 1.762349226635514vw,
          90.48795327102803vw 2.2302286355140186vw,
          90.61152336448598vw 2.7319950630841126vw,
          90.65420560747664vw 3.2609345794392524vw,
          90.65420560747664vw 149.7408878504673vw,
          90.65420560747664vw 149.7408878504673vw,
          90.62018574766356vw 150.21251845794393vw,
          90.52108411214954vw 150.6647738317757vw,
          90.36133761682244vw 151.09243761682242vw,
          90.1453831775701vw 151.49029345794395vw,
          89.87765771028037vw 151.853125vw,
          89.56259813084112vw 152.17571588785046vw,
          89.20464135514018vw 152.45284976635514vw,
          88.80822429906542vw 152.6793102803738vw,
          88.37778387850467vw 152.84988107476636vw,
          87.91775700934579vw 152.95934579439253vw,
          3.7855607476635513vw 166.67266355140185vw,
          3.7855607476635513vw 166.67266355140185vw,
          3.1974104649532715vw 166.71540186915888vw,
          2.6299391401869157vw 166.65510280373832vw,
          2.092858348130841vw 166.50002336448597vw,
          1.5958796635514017vw 166.25842056074765vw,
          1.1487146612149532vw 165.93855140186915vw,
          0.7610749158878505vw 165.54867289719627vw,
          0.4426720023364486vw 165.09704205607477vw,
          0.2032174953271028vw 164.59191588785046vw,
          0.052422969626168214vw 164.04155140186916vw,
          6.661137221441355e-16vw 163.45420560747664vw,
          0vw 3.2609345794392524vw
        );

        > form {
          margin-top: 6.075vw;

          ::-webkit-input-placeholder {
            font-size: 3.738vw;
          }
          ::-moz-placeholder {
            font-size: 3.738vw;
          }
          :-ms-input-placeholder {
            font-size: 3.738vw;
          }
          :-moz-placeholder {
            font-size: 3.738vw;
          }

          > button {
            margin-top: 7.009vw;
            border-radius: 2.804vw;
            gap: 2.336vw;
            width: 81.308vw;
            height: 13.551vw;
            padding: 1.869vw 20.327vw;
            font-size: 4.673vw;
          }

          > label {
            font-size: 2.804vw;
            margin-top: 4.673vw;
          }
          > input {
            height: 9.112vw;
            width: 81.308vw;
            border-bottom: 0.234vw solid #29234c;
            font-size: 3.738vw;
          }
        }

        > h1 {
          margin-top: 2.57vw;
          width: 70.561vw;
          font-size: 8.178vw;
          font-style: normal;
          font-weight: 500;
        }

        > p {
          margin-top: 6.308vw;
          font-size: 5.841vw;
        }
      }
    }
  }
}
