@media all and (max-width: 428px) {
  body.S_index {
    // padding: 11.215vw 0 9.346vw 0;
    .mobile-folders {
      display: block;
      position: relative;

      .mobile-folder-left-1 {
        position: absolute;
        top: 67.523vw;
        left: 12.85vw;
        width: 79.439vw;
        height: 62.383vw;
        clip-path: polygon(
          19.269345794392525vw 62.01378504672896vw,
          19.269345794392525vw 62.01378504672896vw,
          17.44618621495327vw 62.26906331775701vw,
          15.773442990654205vw 62.297366355140184vw,
          14.251847897196262vw 62.099312383177576vw,
          12.882132710280375vw 61.67551962616823vw,
          11.665029205607476vw 61.02660630841121vw,
          10.601269158878505vw 60.1531906542056vw,
          9.691584345794393vw 59.05589088785046vw,
          8.936706542056076vw 57.735325233644865vw,
          8.337367523364486vw 56.19211191588786vw,
          7.89429906542056vw 54.42686915887851vw,
          0.3429485981308411vw 15.581471962616822vw,
          0.3429485981308411vw 15.581471962616822vw,
          0.09941826635514019vw 13.852809579439251vw,
          0.06710500934579439vw 12.271981308411215vw,
          0.24224435981308412vw 10.839260514018692vw,
          0.6210718504672896vw 9.554920560747664vw,
          1.1998230140186916vw 8.419234813084113vw,
          1.97473338317757vw 7.432476635514018vw,
          2.9420384906542054vw 6.594919392523364vw,
          4.097973869158879vw 5.906836448598131vw,
          5.438775051401869vw 5.368501168224299vw,
          6.960677570093457vw 4.980186915887851vw,
          15.960817757009343vw 3.230607476635514vw,
          15.960817757009343vw 3.230607476635514vw,
          16.865400373831775vw 3.072322359813084vw,
          17.690614205607478vw 2.967641495327103vw,
          18.450854485981306vw 2.9183476401869157vw,
          19.16051644859813vw 2.9262235514018693vw,
          19.833995327102805vw 2.9930519859813085vw,
          20.48568635514019vw 3.1206157009345796vw,
          21.12998476635514vw 3.3106974532710285vw,
          21.78128579439252vw 3.5650799999999996vw,
          22.4539846728972vw 3.885546098130841vw,
          23.16247663551402vw 4.273878504672898vw,
          25.331308411214952vw 5.48107476635514vw,
          25.331308411214952vw 5.48107476635514vw,
          25.891521028037385vw 5.786456845794392vw,
          26.426514018691588vw 6.041463177570093vw,
          26.945483644859813vw 6.247054462616822vw,
          27.4576261682243vw 6.404191401869159vw,
          27.972137850467288vw 6.513834696261682vw,
          28.498214953271027vw 6.576945046728971vw,
          29.045053738317762vw 6.594483154205608vw,
          29.62185046728972vw 6.567409719626167vw,
          30.237801401869156vw 6.496685443925234vw,
          30.90210280373832vw 6.383271028037384vw,
          61.4341121495327vw 0.44802336448598135vw,
          61.4341121495327vw 0.44802336448598135vw,
          63.25721869158879vw 0.19274270794392526vw,
          64.92992710280373vw 0.16445016822429906vw,
          66.45150280373832vw 0.3625245630841122vw,
          67.82121121495327vw 0.7863447102803739vw,
          69.03831775700934vw 1.4352894275700934vw,
          70.1020878504673vw 2.30873753271028vw,
          71.01178691588785vw 3.4060678434579437vw,
          71.76668037383178vw 4.7266591775700935vw,
          72.36603364485981vw 6.269890352803739vw,
          72.80911214953271vw 8.035140186915887vw,
          79.13528037383178vw 40.57803738317757vw,
          79.13528037383178vw 40.57803738317757vw,
          79.38599789719626vw 42.374426401869165vw,
          79.41459065420561vw 44.024971962616824vw,
          79.2253918224299vw 45.527606308411215vw,
          78.82273457943926vw 46.88026168224299vw,
          78.21095210280374vw 48.0808703271028vw,
          77.39437757009345vw 49.1273644859813vw,
          76.37734415887851vw 50.01767640186916vw,
          75.16418504672899vw 50.74973831775701vw,
          73.75923341121495vw 51.321482476635516vw,
          72.16682242990655vw 51.73084112149532vw,
          19.269345794392525vw 62.01378504672896vw
        );
        background-color: #29234c;
        z-index: 6;
      }

      .mobile-folder-left-2 {
        position: absolute;
        top: 50.701vw;
        left: 39.486vw;
        width: 77.57vw;
        height: 62.383vw;
        clip-path: polygon(
          21.86929906542056vw 61.77289719626168vw,
          21.86929906542056vw 61.77289719626168vw,
          20.166819299065423vw 62.14528761682243vw,
          18.58995906542056vw 62.29258130841122vw,
          17.139453785046726vw 62.215312383177576vw,
          15.816038878504674vw 61.91401495327102vw,
          14.62044976635514vw 61.38922313084112vw,
          13.55342186915888vw 60.64147102803739vw,
          12.615690607476635vw 59.67129275700934vw,
          11.807991401869158vw 58.47922242990654vw,
          11.131059672897194vw 57.065794158878504vw,
          10.585630841121494vw 55.43154205607477vw,
          0.6582967289719627vw 19.309626168224302vw,
          0.6582967289719627vw 19.309626168224302vw,
          0.30384322897196264vw 17.695497873831776vw,
          0.1594116261682243vw 16.205685794392522vw,
          0.2214683971962617vw 14.840719696261681vw,
          0.4864800186915888vw 13.601129345794394vw,
          0.9509129672897196vw 12.487444509345796vw,
          1.6112337196261681vw 11.500194953271029vw,
          2.4639087523364482vw 10.639910443925233vw,
          3.505404542056075vw 9.907120747663551vw,
          4.732187565420561vw 9.302355630841122vw,
          6.140724299065421vw 8.826144859813084vw,
          14.509836448598131vw 6.526074766355141vw,
          14.509836448598131vw 6.526074766355141vw,
          15.352263387850467vw 6.311474112149533vw,
          16.123637009345792vw 6.153191028037384vw,
          16.837673621495327vw 6.051870654205608vw,
          17.50808953271028vw 6.008158130841122vw,
          18.14860105140187vw 6.022698598130841vw,
          18.772924485981306vw 6.096137196261682vw,
          19.394776144859815vw 6.229119065420561vw,
          20.0278723364486vw 6.422289345794392vw,
          20.685929369158877vw 6.676293177570093vw,
          21.38266355140187vw 6.99177570093458vw,
          23.516822429906544vw 7.974953271028038vw,
          23.516822429906544vw 7.974953271028038vw,
          24.06759626168224vw 8.2228261682243vw,
          24.59093831775701vw 8.424967289719627vw,
          25.095599065420558vw 8.581620560747664vw,
          25.590328971962617vw 8.693029906542057vw,
          26.083878504672896vw 8.759439252336449vw,
          26.584998130841125vw 8.781092523364485vw,
          27.10243831775701vw 8.758233644859812vw,
          27.644949532710285vw 8.691106542056074vw,
          28.221282242990654vw 8.579955140186916vw,
          28.84018691588785vw 8.42502336448598vw,
          57.231308411214954vw 0.6223130841121496vw,
          57.231308411214954vw 0.6223130841121496vw,
          58.93376985981309vw 0.24995955607476633vw,
          60.51061682242991vw 0.10269981308411215vw,
          61.961113317757vw 0.18000030373831774vw,
          63.28452336448598vw 0.4813274766355141vw,
          64.48011098130841vw 1.0061477803738317vw,
          65.54714018691588vw 1.7539276635514018vw,
          66.48487500000002vw 2.7241335747663555vw,
          67.29257943925234vw 3.916231962616822vw,
          67.96951752336449vw 5.329689275700934vw,
          68.51495327102805vw 6.9639719626168235vw,
          76.83177570093457vw 37.22523364485982vw,
          76.83177570093457vw 37.22523364485982vw,
          77.19792056074766vw 38.90277476635514vw,
          77.34388785046728vw 40.45865607476636vw,
          77.27361682242991vw 41.890614953271026vw,
          76.99104672897197vw 43.19638878504672vw,
          76.5001168224299vw 44.373714953271026vw,
          75.80476635514019vw 45.42033084112149vw,
          74.90893457943925vw 46.3339738317757vw,
          73.81656074766354vw 47.112381308411216vw,
          72.53158411214955vw 47.75329065420561vw,
          71.05794392523364vw 48.25443925233645vw,
          21.86929906542056vw 61.77289719626168vw
        );
        background-color: #36335d;
        z-index: 5;
      }

      .mobile-folder-left-3 {
        position: absolute;
        top: 33.411vw;
        left: 57.243vw;
        width: 70.561vw;
        height: 57.944vw;
        clip-path: polygon(
          21.96357476635514vw 57.2091121495327vw,
          21.96357476635514vw 57.2091121495327vw,
          20.46524264018692vw 57.62966845794393vw,
          19.067178504672896vw 57.84302990654206vw,
          17.770065771028037vw 57.84963247663551vw,
          16.57458785046729vw 57.64991214953271vw,
          15.48142815420561vw 57.244304906542055vw,
          14.491270093457945vw 56.63324672897196vw,
          13.604797079439255vw 55.81717359813084vw,
          12.822692523364488vw 54.7965214953271vw,
          12.145639836448598vw 53.57172640186916vw,
          11.574322429906541vw 52.143224299065416vw,
          0.8438668224299065vw 20.458294392523364vw,
          0.8438668224299065vw 20.458294392523364vw,
          0.44384942757009344vw 19.037790841121495vw,
          0.2375332710280374vw 17.71718vw,
          0.22179575934579437vw 16.4971176635514vw,
          0.3935142990654205vw 15.378259626168225vw,
          0.749566296728972vw 14.36126168224299vw,
          1.2868291588785048vw 13.446779626168222vw,
          2.002180292056075vw 12.635469252336447vw,
          2.892497102803738vw 11.927986355140186vw,
          3.9546569976635513vw 11.324986728971963vw,
          5.18553738317757vw 10.8271261682243vw,
          12.526682242990653vw 8.340981308411214vw,
          12.526682242990653vw 8.340981308411214vw,
          13.266509205607477vw 8.105816331775701vw,
          13.94592598130841vw 7.924555887850468vw,
          14.577193878504675vw 7.79706105140187vw,
          15.172574205607479vw 7.723192897196261vw,
          15.744328271028035vw 7.7028125vw,
          16.304717383177568vw 7.735780934579441vw,
          16.86600285046729vw 7.821959275700934vw,
          17.44044598130841vw 7.961208598130841vw,
          18.040308084112148vw 8.153389976635514vw,
          18.67785046728972vw 8.398364485981308vw,
          20.631658878504673vw 9.163714953271027vw,
          20.631658878504673vw 9.163714953271027vw,
          21.13556707943925vw 9.356016612149533vw,
          21.612636635514022vw 9.508977757009346vw,
          22.070681705607477vw 9.622360210280375vw,
          22.51751644859813vw 9.695925794392522vw,
          22.960955023364484vw 9.729436331775702vw,
          23.408811588785046vw 9.722653644859813vw,
          23.868900303738318vw 9.675339556074766vw,
          24.349035327102804vw 9.587255887850468vw,
          24.85703081775701vw 9.458164462616821vw,
          25.40070093457944vw 9.287827102803737vw,
          50.30443925233645vw 0.8538621495327102vw,
          50.30443925233645vw 0.8538621495327102vw,
          51.80276191588785vw 0.4332895724299065vw,
          53.20082429906542vw 0.21992190654205607vw,
          54.49794088785046vw 0.21332186682242993vw,
          55.693426168224306vw 0.41305216822429913vw,
          56.78659462616823vw 0.8186755257009346vw,
          57.776760747663545vw 1.4297546542056074vw,
          58.66323901869159vw 2.2458522686915887vw,
          59.44534392523365vw 3.2665310841121493vw,
          60.122389953271025vw 4.491353815420561vw,
          60.69369158878505vw 5.919883177570093vw,
          69.68317757009346vw 32.464018691588784vw,
          69.68317757009346vw 32.464018691588784vw,
          70.09690911214953vw 33.94044719626169vw,
          70.30802990654206vw 35.31988598130841vw,
          70.31993387850467vw 36.60011168224299vw,
          70.13601495327103vw 37.77890093457943vw,
          69.75966705607476vw 38.854030373831776vw,
          69.19428411214955vw 39.82327663551402vw,
          68.44326004672898vw 40.684416355140186vw,
          67.50998878504673vw 41.4352261682243vw,
          66.39786425233645vw 42.07348271028037vw,
          65.11028037383178vw 42.59696261682243vw,
          21.96357476635514vw 57.2091121495327vw
        );
        background-color: #42436f;
        z-index: 4;
      }

      .mobile-folder-left-4 {
        position: absolute;
        top: 14.953vw;
        left: 71.262vw;
        width: 58.879vw;
        height: 49.533vw;
        clip-path: polygon(
          20.31317757009346vw 48.654906542056075vw,
          20.31317757009346vw 48.654906542056075vw,
          19.111133761682243vw 49.08847313084112vw,
          17.9788785046729vw 49.346392523364486vw,
          16.916997079439252vw 49.428980140186916vw,
          15.926074766355141vw 49.33655140186916vw,
          15.006696845794393vw 49.06942172897196vw,
          14.159448598130842vw 48.627906542056074vw,
          13.384915303738318vw 48.012321261682246vw,
          12.683682242990654vw 47.222981308411214vw,
          12.056334696261683vw 46.26020210280374vw,
          11.503457943925234vw 45.124299065420566vw,
          0.8305677570093458vw 19.814345794392523vw,
          0.8305677570093458vw 19.814345794392523vw,
          0.4184570747663552vw 18.674823060747663vw,
          0.17092145794392521vw 17.605582616822428vw,
          0.08544270093457944vw 16.607347406542054vw,
          0.1595025981308411vw 15.680840373831776vw,
          0.3905829439252336vw 14.826784462616823vw,
          0.7761655327102803vw 14.045902616822428vw,
          1.3137321588785047vw 13.338917780373832vw,
          2.00076461682243vw 12.706552897196262vw,
          2.8347447009345794vw 12.149530911214953vw,
          3.8131542056074768vw 11.66857476635514vw,
          9.677289719626167vw 9.195771028037383vw,
          9.677289719626167vw 9.195771028037383vw,
          10.269177546728972vw 8.959160397196262vw,
          10.81480074766355vw 8.770289719626167vw,
          11.324192359813084vw 8.628315771028037vw,
          11.807385420560749vw 8.532395327102805vw,
          12.274412967289718vw 8.481685163551402vw,
          12.735308037383177vw 8.475342056074767vw,
          13.2001036682243vw 8.51252278037383vw,
          13.67883289719626vw 8.592384112149533vw,
          14.181528761682245vw 8.714082827102803vw,
          14.718224299065422vw 8.87677570093458vw,
          16.363808411214954vw 9.38731308411215vw,
          16.363808411214954vw 9.38731308411215vw,
          16.787932242990657vw 9.514814485981308vw,
          17.187733644859815vw 9.611696261682244vw,
          17.569598130841122vw 9.677298130841121vw,
          17.939911214953273vw 9.710959813084113vw,
          18.305058411214954vw 9.712021028037384vw,
          18.67142523364486vw 9.679821495327104vw,
          19.045397196261685vw 9.61370093457944vw,
          19.43335981308411vw 9.512999065420562vw,
          19.84169859813084vw 9.377055607476635vw,
          20.276799065420562vw 9.20521028037383vw,
          40.17009345794392vw 0.8164859813084112vw,
          40.17009345794392vw 0.8164859813084112vw,
          41.37212640186916vw 0.3829112710280374vw,
          42.504375700934574vw 0.12499278504672895vw,
          43.566253971962624vw 0.04241305607476636vw,
          44.5571738317757vw 0.1348546168224299vw,
          45.47654789719626vw 0.402vw,
          46.32378878504673vw 0.8435317383177571vw,
          47.09830911214953vw 1.4591323644859813vw,
          47.7995214953271vw 2.248484411214953vw,
          48.42683855140187vw 3.211270411214953vw,
          48.97967289719627vw 4.347172897196262vw,
          57.921028037383174vw 25.55070093457944vw,
          57.921028037383174vw 25.55070093457944vw,
          58.347722196261685vw 26.73520981308411vw,
          58.60270280373832vw 27.852342056074765vw,
          58.68862079439252vw 28.9000761682243vw,
          58.60812710280374vw 29.876390654205608vw,
          58.3638726635514vw 30.779264018691592vw,
          57.95850841121496vw 31.60667476635514vw,
          57.39468528037383vw 32.35660140186916vw,
          56.67505420560748vw 33.027022429906545vw,
          55.80226612149532vw 33.61591635514019vw,
          54.77897196261683vw 34.12126168224299vw,
          20.31317757009346vw 48.654906542056075vw
        );
        background-color: #4f5480;
        z-index: 3;
      }

      .mobile-folder-left-5 {
        position: absolute;
        top: 2.57vw;
        left: 76.636vw;
        width: 48.598vw;
        height: 41.121vw;
        clip-path: polygon(
          16.740514018691588vw 40.41308411214953vw,
          16.740514018691588vw 40.41308411214953vw,
          15.746930911214955vw 40.77147359813084vw,
          14.811032336448598vw 40.98466728971963vw,
          13.933302359813085vw 41.0529273364486vw,
          13.114225046728972vw 40.97651588785047vw,
          12.354284462616821vw 40.75569509345794vw,
          11.653964672897196vw 40.39072710280374vw,
          11.013749742990655vw 39.88187406542056vw,
          10.434123738317757vw 39.22939813084112vw,
          9.915570724299066vw 38.43356144859813vw,
          9.45857476635514vw 37.4946261682243vw,
          0.6365490654205607vw 16.57392523364486vw,
          0.6365490654205607vw 16.57392523364486vw,
          0.29590547242990656vw 15.632019976635513vw,
          0.09129688224299065vw 14.748207476635514vw,
          0.020641858411214953vw 13.923085630841122vw,
          0.0818589644859813vw 13.1572523364486vw,
          0.2728667640186916vw 12.451305490654205vw,
          0.5915838205607477vw 11.805842990654206vw,
          1.0359286976635513vw 11.22146273364486vw,
          1.6038199588785047vw 10.69876261682243vw,
          2.2931761677570095vw 10.238340537383179vw,
          3.101915887850467vw 9.840794392523366vw,
          7.949065420560747vw 7.796799065420561vw,
          7.949065420560747vw 7.796799065420561vw,
          8.438314929906541vw 7.601224462616822vw,
          8.889321308411215vw 7.445110654205607vw,
          9.310377873831776vw 7.327760490654206vw,
          9.709777943925232vw 7.248476822429907vw,
          10.095814836448598vw 7.2065625vw,
          10.476781869158879vw 7.201320373831777vw,
          10.860972359813085vw 7.232053294392523vw,
          11.256679626168225vw 7.298064112149532vw,
          11.672196985981309vw 7.398655677570094vw,
          12.115817757009346vw 7.533130841121495vw,
          13.47605140186916vw 7.955140186915887vw,
          13.47605140186916vw 7.955140186915887vw,
          13.826617453271028vw 8.06052936915888vw,
          14.157081682242993vw 8.14060878504673vw,
          14.472721705607478vw 8.194832686915888vw,
          14.778815140186916vw 8.222655327102803vw,
          15.080639602803735vw 8.223530957943924vw,
          15.383472710280374vw 8.196913831775701vw,
          15.692592079439255vw 8.14225820093458vw,
          16.013275327102804vw 8.05901831775701vw,
          16.350800070093456vw 7.94664843457944vw,
          16.710443925233644vw 7.804602803738319vw,
          33.15373831775701vw 0.8706495327102803vw,
          33.15373831775701vw 0.8706495327102803vw,
          34.14736565420561vw 0.5122643341121496vw,
          35.08329906542056vw 0.29907345794392526vw,
          35.96105490654206vw 0.23081440420560745vw,
          36.780149532710276vw 0.30722467289719624vw,
          37.540099299065425vw 0.5280417640186915vw,
          38.240420560747665vw 0.8930031775700934vw,
          38.8806296728972vw 1.401846413551402vw,
          39.4602429906542vw 2.054308971962617vw,
          39.97877686915888vw 2.8501283528037384vw,
          40.4357476635514vw 3.789042056074766vw,
          47.82640186915888vw 21.31551401869159vw,
          47.82640186915888vw 21.31551401869159vw,
          48.17911962616822vw 22.294598271028036vw,
          48.38990093457944vw 23.217989906542055vw,
          48.460935514018686vw 24.08401873831776vw,
          48.394413084112145vw 24.89101457943925vw,
          48.192523364485986vw 25.637307242990655vw,
          47.85745607476636vw 26.321226542056074vw,
          47.39140093457944vw 26.941102289719627vw,
          46.7965476635514vw 27.49526429906542vw,
          46.07508598130841vw 27.982042383177568vw,
          45.22920560747663vw 28.399766355140187vw,
          16.740514018691588vw 40.41308411214953vw
        );
        background-color: #5b6491;
        z-index: 2;
      }

      .mobile-folder-left-6 {
        position: absolute;
        top: -8.411vw;
        left: 80.607vw;
        width: 40.421vw;
        height: 34.112vw;
        clip-path: polygon(
          13.891285046728974vw 33.49228971962617vw,
          13.891285046728974vw 33.49228971962617vw,
          13.066540560747663vw 33.78978177570093vw,
          12.289677757009347vw 33.96674953271028vw,
          11.561098411214953vw 34.023411682242994vw,
          10.88120429906542vw 33.95998691588785vw,
          10.250397196261682vw 33.776693925233644vw,
          9.669078878504672vw 33.47375140186916vw,
          9.137651121495328vw 33.05137803738318vw,
          8.656515700934579vw 32.50979252336448vw,
          8.226074392523365vw 31.849213551401874vw,
          7.846728971962618vw 31.069859813084115vw,
          0.5238130841121496vw 13.704135514018692vw,
          0.5238130841121496vw 13.704135514018692vw,
          0.24105369509345795vw 12.922280093457944vw,
          0.07121334579439252vw 12.188647289719627vw,
          0.012564183411214954vw 11.503733084112149vw,
          0.06337835514018691vw 10.868033457943927vw,
          0.22192800817757008vw 10.282044392523366vw,
          0.4864852897196261vw 9.746261869158879vw,
          0.8553223469626168vw 9.261181869158879vw,
          1.3267113271028037vw 8.827300373831775vw,
          1.8989243773364486vw 8.44511336448598vw,
          2.570233644859813vw 8.115116822429908vw,
          6.593761682242991vw 6.418457943925233vw,
          6.593761682242991vw 6.418457943925233vw,
          6.999871121495326vw 6.256115443925234vw,
          7.374237196261682vw 6.126529158878505vw,
          7.7237436448598125vw 6.029120257009346vw,
          8.055274205607477vw 5.963309906542056vw,
          8.37571261682243vw 5.928519275700935vw,
          8.69194261682243vw 5.92416953271028vw,
          9.010847943925233vw 5.949681845794393vw,
          9.339312336448598vw 6.004477383177571vw,
          9.68421953271028vw 6.087977313084112vw,
          10.052453271028037vw 6.199602803738318vw,
          11.181542056074765vw 6.549883177570094vw,
          11.181542056074765vw 6.549883177570094vw,
          11.472543317757008vw 6.637366308411215vw,
          11.746855887850467vw 6.703840747663552vw,
          12.0088611682243vw 6.748853411214953vw,
          12.262940560747664vw 6.771951214953272vw,
          12.51347546728972vw 6.772681074766355vw,
          12.764847289719627vw 6.750589906542056vw,
          13.021437429906543vw 6.705224626168224vw,
          13.287627289719625vw 6.63613214953271vw,
          13.567798271028039vw 6.542859392523365vw,
          13.866331775700935vw 6.424953271028038vw,
          27.515654205607476vw 0.6692453271028038vw,
          27.515654205607476vw 0.6692453271028038vw,
          28.34039789719626vw 0.3717595070093458vw,
          29.117257943925235vw 0.19479558878504674vw,
          29.845832009345795vw 0.13813570794392524vw,
          30.525717757009346vw 0.20156200000000002vw,
          31.156512850467287vw 0.38485660046728976vw,
          31.73781495327103vw 0.6878016448598131vw,
          32.269221728971964vw 1.1101792686915888vw,
          32.750330841121496vw 1.6517716074766355vw,
          33.18073995327103vw 2.312360796728972vw,
          33.56004672897196vw 3.091728971962617vw,
          39.694859813084115vw 17.64vw,
          39.694859813084115vw 17.64vw,
          39.987634813084114vw 18.452720443925234vw,
          40.16259252336448vw 19.219209345794393vw,
          40.221551168224295vw 19.93807955607477vw,
          40.16632897196261vw 20.607943925233645vw,
          39.99874415887851vw 21.22741530373832vw,
          39.720614953271024vw 21.795106542056075vw,
          39.33375957943925vw 22.309630490654207vw,
          38.839996261682245vw 22.7696vw,
          38.241143224299066vw 23.173627920560747vw,
          37.53901869158879vw 23.52032710280374vw,
          13.891285046728974vw 33.49228971962617vw
        );
        background-color: #6874a2;
        z-index: 1;
      }
    }

    .wrapper {
      margin: 0 auto;
      width: 90.654vw;

      .place {
        width: 90.654vw;
        font-size: 5.14vw !important;
      }

      .place-about {
        margin-top: 4.673vw;
        width: 90.654vw;
        font-size: 4.206vw;
      }

      .vision {
        margin-top: 14.019vw;
        flex-direction: column;
        gap: 7.009vw;
        > h1 {
          margin-top: 0 !important;
          width: 90.654vw;
          font-size: 8.645vw !important;
        }

        > div {
          margin-top: 0;
          display: flex;
          flex-direction: column;
          gap: 7.009vw;

          > p {
            width: 93.458vw;
            font-size: 4.206vw;
          }
        }
      }

      .block {
        margin-top: 14.019vw;

        > h2 {
          font-size: 5.841vw;
        }

        > div {
          margin-top: 3.505vw;
          margin-bottom: 10.047vw;
          width: 90.654vw;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, 1fr);
          grid-row-gap: 4.673vw;
          grid-column-gap: 0;

          > a {
            > div {
              width: 77.103vw;
              height: 20.794vw;
              padding: 4.673vw 8.879vw 9.112vw 4.673vw;
              gap: 2.336vw;
              border-radius: 3.037vw;

              > h2 {
                width: 68.925vw;
                font-size: 5.14vw;
              }

              > p {
                width: 77.103vw;
                font-size: 4.673vw;
              }
            }
          }
        }
      }
    }

    .cont {
      height: 325.507vw;
      flex-direction: column;
    }

    .folders {
      width: 100%;
      height: 97.43vw;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background: #a7c5f9;
      overflow: hidden;

      .folder-left-1,
      .folder-left-2,
      .folder-left-3,
      .folder-left-4 {
        display: none;
      }
    }

    .images {
      margin-right: 0;
      width: 90.654vw;
      #first {
        width: 90.654vw;
        height: 124.005vw;
        clip-path: polygon(
          0vw 3.1314018691588785vw,
          0vw 3.1314018691588785vw,
          0.04098483411214953vw 2.6234734205607473vw,
          0.15964119626168224vw 2.1416385794392525vw,
          0.3495218761682243vw 1.6923445981308411vw,
          0.604179663551402vw 1.2820387289719626vw,
          0.9171673481308411vw 0.9171682242990654vw,
          1.2820377196261683vw 0.6041803364485981vw,
          1.6923435677570093vw 0.34952231775700937vw,
          2.141637682242991vw 0.15964142056074765vw,
          2.623472852803738vw 0.04098489719626168vw,
          3.1314018691588785vw 5.184226144013552e-19vw,
          87.52289719626168vw 0vw,
          87.52289719626168vw 0vw,
          88.03082757009346vw 0.04098483411214953vw,
          88.51265794392523vw 0.15964119626168224vw,
          88.96194252336448vw 0.3495218761682243vw,
          89.3722355140187vw 0.604179663551402vw,
          89.73709112149533vw 0.9171673481308411vw,
          90.05006355140186vw 1.2820377196261683vw,
          90.30470700934579vw 1.6923435677570093vw,
          90.49457570093458vw 2.141637682242991vw,
          90.61322383177568vw 2.623472852803738vw,
          90.65420560747664vw 3.1314018691588785vw,
          90.65420560747664vw 15.765443925233647vw,
          90.65420560747664vw 15.765443925233647vw,
          90.6234871495327vw 16.204455887850465vw,
          90.5338691588785vw 16.626512523364482vw,
          90.38915771028037vw 17.026948691588785vw,
          90.19315887850468vw 17.401099252336447vw,
          89.94967873831776vw 17.74429906542056vw,
          89.66252336448598vw 18.051882990654207vw,
          89.3354988317757vw 18.31918588785047vw,
          88.97241121495327vw 18.54154261682243vw,
          88.57706658878504vw 18.714288037383177vw,
          88.15327102803738vw 18.832757009345798vw,
          3.7618224299065424vw 36.177336448598126vw,
          3.7618224299065424vw 36.177336448598126vw,
          3.184521813084112vw 36.2420214953271vw,
          2.6247644112149535vw 36.20203177570093vw,
          2.09273138317757vw 36.06566915887851vw,
          1.5986038878504674vw 35.84123551401869vw,
          1.1525630841121495vw 35.53703271028038vw,
          0.7647901308411215vw 35.16136261682243vw,
          0.4454661869158878vw 34.72252710280374vw,
          0.20477241121495326vw 34.228828037383174vw,
          0.052889962616822425vw 33.68856728971963vw,
          6.728345336749066e-13vw 33.110046728971966vw,
          0vw 3.1314018691588785vw
        );
      }

      #second {
        width: 90.654vw;
        height: 124.005vw;
        clip-path: polygon(
          0vw 41.04485981308411vw,
          0vw 41.04485981308411vw,
          0.030715815420560746vw 40.60584976635514vw,
          0.1203273644859813vw 40.183798130841126vw,
          0.2650308014018692vw 39.783368925233646vw,
          0.4610222803738318vw 39.4092261682243vw,
          0.7044979556074766vw 39.066033878504676vw,
          0.9916539813084112vw 38.75845607476636vw,
          1.3186865116822428vw 38.49115677570094vw,
          1.6817917009345793vw 38.2688vw,
          2.077165703271028vw 38.096049766355144vw,
          2.501004672897196vw 37.97757009345795vw,
          86.89228971962618vw 20.632967289719627vw,
          86.89228971962618vw 20.632967289719627vw,
          87.46959976635515vw 20.568313130841123vw,
          88.02936822429906vw 20.608325607476637vw,
          88.56141331775702vw 20.74470313084112vw,
          89.05555327102803vw 20.969144112149536vw,
          89.50160630841121vw 21.273346962616824vw,
          89.8893906542056vw 21.649010093457946vw,
          90.20872453271028vw 22.08783191588785vw,
          90.44942616822429vw 22.581510841121496vw,
          90.60131378504673vw 23.121745280373833vw,
          90.65420560747664vw 23.700233644859814vw,
          90.65420560747664vw 72.31098130841121vw,
          90.65420560747664vw 72.31098130841121vw,
          90.61322383177568vw 72.81885490654206vw,
          90.49457570093458vw 73.3006523364486vw,
          90.30470700934579vw 73.74992359813083vw,
          90.05006355140186vw 74.16021869158878vw,
          89.73709112149533vw 74.52508761682243vw,
          89.3722355140187vw 74.83808037383177vw,
          88.96194252336448vw 75.09274696261681vw,
          88.51265794392523vw 75.28263738317757vw,
          88.03082757009346vw 75.40130163551403vw,
          87.52289719626168vw 75.44228971962616vw,
          3.1314018691588785vw 75.44228971962616vw,
          3.1314018691588785vw 75.44228971962616vw,
          2.62347171728972vw 75.40130163551403vw,
          2.1416358878504673vw 75.28263738317757vw,
          1.6923415070093455vw 75.09274696261681vw,
          1.2820357009345795vw 74.83808037383177vw,
          0.9171655957943925vw 74.52508761682243vw,
          0.6041783177570094vw 74.16021869158878vw,
          0.3495209929906542vw 73.74992359813083vw,
          0.1596407476635514vw 73.3006523364486vw,
          0.04098470794392523vw 72.81885490654206vw,
          5.1842002249563085e-21vw 72.31098130841121vw,
          0vw 41.04485981308411vw
        );
      }

      .S_container {
        #third {
          width: 90.654vw;
          height: 124.005vw;
          clip-path: polygon(
            0vw 80.2341121495327vw,
            0vw 80.2341121495327vw,
            0.04098483411214953vw 79.72618177570094vw,
            0.15964119626168224vw 79.24435140186915vw,
            0.3495218761682243vw 78.7950668224299vw,
            0.604179663551402vw 78.3847738317757vw,
            0.9171673481308411vw 78.01991822429906vw,
            1.2820377196261683vw 77.70694579439252vw,
            1.6923435677570093vw 77.4523023364486vw,
            2.141637682242991vw 77.26243364485981vw,
            2.623472852803738vw 77.14378551401869vw,
            3.1314018691588785vw 77.10280373831776vw,
            5.839509345794392vw 77.10280373831776vw,
            5.839509345794392vw 77.10280373831776vw,
            6.151199205607476vw 77.11832897196261vw,
            6.456766542056075vw 77.16420186915887vw,
            6.754245373831775vw 77.23936822429907vw,
            7.041669719626169vw 77.34277383177569vw,
            7.3170735981308415vw 77.4733644859813vw,
            7.578491028037384vw 77.63008598130841vw,
            7.823956028037384vw 77.81188411214954vw,
            8.05150261682243vw 78.0177046728972vw,
            8.259164813084112vw 78.24649345794393vw,
            8.444976635514019vw 78.49719626168225vw,
            35.5838785046729vw 119.2056074766355vw,
            35.5838785046729vw 119.2056074766355vw,
            35.91558714953271vw 119.84756214953272vw,
            36.08576261682243vw 120.51094579439253vw,
            36.105624065420564vw 121.17479485981309vw,
            35.98639065420561vw 121.81814579439252vw,
            35.73928154205607vw 122.42003504672898vw,
            35.37551588785047vw 122.95949906542056vw,
            34.906312850467295vw 123.41557429906543vw,
            34.342891588785044vw 123.76729719626167vw,
            33.69647126168224vw 123.99370420560747vw,
            32.97827102803738vw 124.07383177570092vw,
            3.1314018691588785vw 124.07383177570092vw,
            3.1314018691588785vw 124.07383177570092vw,
            2.623472852803738vw 124.03285vw,
            2.141637682242991vw 123.91420186915889vw,
            1.6923435677570093vw 123.7243331775701vw,
            1.2820377196261683vw 123.46968971962617vw,
            0.9171673481308411vw 123.15671728971964vw,
            0.604179663551402vw 122.79186168224298vw,
            0.3495218761682243vw 122.38156869158878vw,
            0.15964119626168224vw 121.93228411214953vw,
            0.04098483411214953vw 121.45045373831775vw,
            5.184217504327804e-16vw 120.942523364486vw,
            0vw 80.2341121495327vw
          );
        }

        #fourth {
          width: 90.654vw;
          height: 124.005vw;
          clip-path: polygon(
            12.357733644859813vw 81.971261682243vw,
            12.357733644859813vw 81.971261682243vw,
            12.026042546728972vw 81.32924369158879vw,
            11.855877757009345vw 80.66580934579439vw,
            11.836020257009347vw 80.00192079439253vw,
            11.955251028037384vw 79.35854018691589vw,
            12.20235105140187vw 78.75662967289719vw,
            12.566101308411215vw 78.21715140186916vw,
            13.035282780373834vw 77.76106752336447vw,
            13.598676448598132vw 77.40934018691588vw,
            14.245063294392523vw 77.18293154205607vw,
            14.96322429906542vw 77.10280373831776vw,
            87.55397196261681vw 77.10280373831776vw,
            87.55397196261681vw 77.10280373831776vw,
            88.06184556074767vw 77.14378551401869vw,
            88.5436429906542vw 77.26243364485981vw,
            88.99291425233645vw 77.4523023364486vw,
            89.4032093457944vw 77.70694579439252vw,
            89.76807827102805vw 78.01991822429906vw,
            90.08107102803739vw 78.3847738317757vw,
            90.33573761682243vw 78.7950668224299vw,
            90.52562803738317vw 79.24435140186915vw,
            90.64429228971962vw 79.72618177570094vw,
            90.68528037383177vw 80.2341121495327vw,
            90.68528037383177vw 120.942523364486vw,
            90.68528037383177vw 120.942523364486vw,
            90.64429228971962vw 121.45045373831775vw,
            90.52562803738317vw 121.93228411214953vw,
            90.33573761682243vw 122.38156869158878vw,
            90.08107102803739vw 122.79186168224298vw,
            89.76807827102805vw 123.15671728971964vw,
            89.4032093457944vw 123.46968971962617vw,
            88.99291425233645vw 123.7243331775701vw,
            88.5436429906542vw 123.91420186915889vw,
            88.06184556074767vw 124.03285vw,
            87.55397196261681vw 124.07383177570092vw,
            42.10210280373832vw 124.07383177570092vw,
            42.10210280373832vw 124.07383177570092vw,
            41.79041658878505vw 124.05831285046729vw,
            41.48484672897197vw 124.01245607476636vw,
            41.18736004672897vw 123.93731144859812vw,
            40.89992336448598vw 123.83392897196262vw,
            40.624503504672894vw 123.70335864485982vw,
            40.36306728971963vw 123.54665046728972vw,
            40.11758154205607vw 123.36485443925234vw,
            39.89001308411215vw 123.15902056074765vw,
            39.68232873831775vw 122.9301988317757vw,
            39.4964953271028vw 122.67943925233644vw,
            12.357733644859813vw 81.971261682243vw
          );
        }
      }
      .tags {
        top: 2.804vw;
        left: 2.804vw;
        .first-tags {
          #first-tag {
            width: 24.533vw;
            margin-right: 3.738vw;
          }

          #second-tag {
            width: 36.449vw;
          }
        }
        .tag {
          padding: 1.402vw 4.907vw;
          gap: 2.336vw;
          height: 10.514vw;
          border-radius: 2.103vw;
          background: #fff;

          > p {
            color: #29234c;
            font-family: 'SF-Pro-Rounded-Regular', sans-serif;
            font-size: 8.178vw;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
          }
        }
        #third-tag {
          width: 53.037vw;
          margin-top: 1.869vw;
        }
      }
    }

    .form {
      margin-top: 2.804vw;
      height: 198.638vw;
      #pc {
        display: none;
      }
      #mobile {
        position: absolute;
        bottom: 0;
        display: block;
        width: 90.654vw;
        height: 42.523vw;
        clip-path: polygon(
          0vw 17.268130841121497vw,
          0vw 17.268130841121497vw,
          0.03391684112149533vw 16.7972526635514vw,
          0.13272519626168225vw 16.345646542056073vw,
          0.29201181308411217vw 15.918513971962616vw,
          0.5073634392523364vw 15.521056448598133vw,
          0.7743668224299066vw 15.158475467289719vw,
          1.0886087102803739vw 14.835972523364486vw,
          1.4456758504672897vw 14.558749112149533vw,
          1.8411549906542055vw 14.332006728971963vw,
          2.2706328785046725vw 14.160946869158877vw,
          2.7296962616822427vw 14.050771028037385vw,
          86.86191588785047vw 0.15887570093457945vw,
          86.86191588785047vw 0.15887570093457945vw,
          87.45075023364487vw 0.11491545070093459vw,
          88.01902056074766vw 0.1742917831775701vw,
          88.55697126168225vw 0.32872838387850467vw,
          89.05484672897195vw 0.569948938317757vw,
          89.50289135514019vw 0.8896771320093458vw,
          89.89134953271028vw 1.2796366504672898vw,
          90.2104656542056vw 1.7315511792056075vw,
          90.45048411214952vw 2.2371444037383177vw,
          90.60164929906543vw 2.7881400095794393vw,
          90.65420560747664vw 3.3762616822429905vw,
          90.65420560747664vw 39.06845794392523vw,
          90.65420560747664vw 39.06845794392523vw,
          90.61152336448598vw 39.59744929906542vw,
          90.48795327102803vw 40.09924859813084vw,
          90.29021028037383vw 40.567145093457945vw,
          90.02500934579439vw 40.99442803738318vw,
          89.69906542056074vw 41.37438668224299vw,
          89.31909345794394vw 41.700310280373834vw,
          88.89180841121494vw 41.96548808411215vw,
          88.42392523364487vw 42.16320934579439vw,
          87.92215887850467vw 42.28676331775701vw,
          87.39322429906542vw 42.32943925233645vw,
          3.2609579439252334vw 42.32943925233645vw,
          3.2609579439252334vw 42.32943925233645vw,
          2.7320132313084113vw 42.28676331775701vw,
          2.2302423925233645vw 42.16320934579439vw,
          1.7623593014018692vw 41.96548808411215vw,
          1.3350778317757008vw 41.700310280373834vw,
          0.9551118574766355vw 41.37438668224299vw,
          0.6291752523364486vw 40.99442803738318vw,
          0.3639818901869159vw 40.567145093457945vw,
          0.16624564485981308vw 40.09924859813084vw,
          0.042680390186915884vw 39.59744929906542vw,
          5.398689062934814e-15vw 39.06845794392523vw,
          0vw 17.268130841121497vw
        );
      }

      .form-main {
        width: 90.654vw;
        height: 166.822vw;
        padding-left: 4.673vw;
        clip-path: polygon(
          0vw 3.2609345794392524vw,
          0vw 3.2609345794392524vw,
          0.0426802406542056vw 2.731995630841121vw,
          0.16624500934579442vw 2.2302295327102803vw,
          0.3639803761682243vw 1.7623502570093459vw,
          0.6291724112149533vw 1.3350717757009345vw,
          0.9551071845794392vw 0.9551080607476635vw,
          1.3350707663551402vw 0.6291730841121496vw,
          1.762349226635514vw 0.36398081775700936vw,
          2.2302286355140186vw 0.16624523364485982vw,
          2.7319950630841126vw 0.04268030373831776vw,
          3.2609345794392524vw 5.398680423249065e-16vw,
          87.39322429906542vw 0vw,
          87.39322429906542vw 0vw,
          87.92215887850467vw 0.0426802406542056vw,
          88.42392523364487vw 0.16624500934579442vw,
          88.89180841121494vw 0.3639803761682243vw,
          89.31909345794394vw 0.6291724112149533vw,
          89.69906542056074vw 0.9551071845794392vw,
          90.02500934579439vw 1.3350707663551402vw,
          90.29021028037383vw 1.762349226635514vw,
          90.48795327102803vw 2.2302286355140186vw,
          90.61152336448598vw 2.7319950630841126vw,
          90.65420560747664vw 3.2609345794392524vw,
          90.65420560747664vw 149.7408878504673vw,
          90.65420560747664vw 149.7408878504673vw,
          90.62018574766356vw 150.21251845794393vw,
          90.52108411214954vw 150.6647738317757vw,
          90.36133761682244vw 151.09243761682242vw,
          90.1453831775701vw 151.49029345794395vw,
          89.87765771028037vw 151.853125vw,
          89.56259813084112vw 152.17571588785046vw,
          89.20464135514018vw 152.45284976635514vw,
          88.80822429906542vw 152.6793102803738vw,
          88.37778387850467vw 152.84988107476636vw,
          87.91775700934579vw 152.95934579439253vw,
          3.7855607476635513vw 166.67266355140185vw,
          3.7855607476635513vw 166.67266355140185vw,
          3.1974104649532715vw 166.71540186915888vw,
          2.6299391401869157vw 166.65510280373832vw,
          2.092858348130841vw 166.50002336448597vw,
          1.5958796635514017vw 166.25842056074765vw,
          1.1487146612149532vw 165.93855140186915vw,
          0.7610749158878505vw 165.54867289719627vw,
          0.4426720023364486vw 165.09704205607477vw,
          0.2032174953271028vw 164.59191588785046vw,
          0.052422969626168214vw 164.04155140186916vw,
          6.661137221441355e-16vw 163.45420560747664vw,
          0vw 3.2609345794392524vw
        );

        > form {
          margin-top: 6.075vw;

          ::-webkit-input-placeholder {
            font-size: 3.738vw;
          }
          ::-moz-placeholder {
            font-size: 3.738vw;
          }
          :-ms-input-placeholder {
            font-size: 3.738vw;
          }
          :-moz-placeholder {
            font-size: 3.738vw;
          }

          > button {
            margin-top: 7.009vw;
            border-radius: 2.804vw;
            gap: 2.336vw;
            width: 81.308vw;
            height: 13.551vw;
            padding: 1.869vw 20.327vw;
            font-size: 4.673vw;
          }

          > label {
            font-size: 2.804vw;
            margin-top: 4.673vw;
          }
          > input {
            height: 9.112vw;
            width: 81.308vw;
            border-bottom: 0.234vw solid #29234c;
            font-size: 3.738vw;
          }
        }

        > h1 {
          margin-top: 2.57vw;
          width: 70.561vw;
          font-size: 8.178vw !important;
          font-style: normal;
          font-weight: 500;
        }

        > p {
          margin-top: 6.308vw;
          font-size: 5.841vw;
        }
      }
    }
  }
}
