@media all and (max-width: 428px) {
  body.news {
    .wrapper {
      margin-top: 4.673vw;
      padding-left: 4.673vw;
      gap: 3.972vw;

      .author {
        gap: 2.336vw;

        > img {
          width: 9.813vw;
          height: 9.813vw;
          border-radius: 140.187vw;
        }

        > p {
          font-size: 3.738vw;
        }
      }

      .tags {
        height: 10.981vw;
        width: 73.598vw;

        .first-tag {
          width: 43.692vw;
          height: 9.346vw;
          margin-right: 3.738vw;
          clip-path: polygon(
            6.895560747663552vw 1.0726658878504671vw,
            6.895560747663552vw 1.0726658878504671vw,
            7.02535023364486vw 1.1817973878504673vw,
            7.151140186915889vw 1.2763671401869159vw,
            7.275266121495328vw 1.357099238317757vw,
            7.4000635514018684vw 1.4247177757009346vw,
            7.527867990654206vw 1.4799468457943925vw,
            7.661014953271028vw 1.5235105420560748vw,
            7.801839953271028vw 1.5561329579439251vw,
            7.952678504672897vw 1.5785381869158879vw,
            8.115866121495326vw 1.5914503224299066vw,
            8.29373831775701vw 1.595593457943925vw,
            41.35514018691589vw 1.595593457943925vw,
            41.35514018691589vw 1.595593457943925vw,
            41.73413294392523vw 1.626173663551402vw,
            42.0936523364486vw 1.7147072523364486vw,
            42.42888855140187vw 1.8563836822429907vw,
            42.73503177570093vw 2.0463924112149536vw,
            43.00727219626168vw 2.2799228971962617vw,
            43.2408vw 2.552164598130841vw,
            43.430805373831774vw 2.858306971962617vw,
            43.572478504672894vw 3.1935394766355136vw,
            43.66100957943925vw 3.553051570093458vw,
            43.69158878504673vw 3.932032710280374vw,
            43.69158878504673vw 7.009345794392523vw,
            43.69158878504673vw 7.009345794392523vw,
            43.66100957943925vw 7.388327196261682vw,
            43.572478504672894vw 7.747839999999999vw,
            43.430805373831774vw 8.08307355140187vw,
            43.2408vw 8.389217196261683vw,
            43.00727219626168vw 8.66146028037383vw,
            42.73503177570093vw 8.89499214953271vw,
            42.42888855140187vw 9.085002149532711vw,
            42.0936523364486vw 9.226679626168224vw,
            41.73413294392523vw 9.315213925233646vw,
            41.35514018691589vw 9.345794392523365vw,
            2.336448598130841vw 9.345794392523365vw,
            2.336448598130841vw 9.345794392523365vw,
            1.9574643574766355vw 9.315213925233646vw,
            1.597949906542056vw 9.226679626168224vw,
            1.2627156892523366vw 9.085002149532711vw,
            0.9565721495327103vw 8.89499214953271vw,
            0.6843297313084112vw 8.66146028037383vw,
            0.45079887850467293vw 8.389217196261683vw,
            0.26079003504672893vw 8.08307355140187vw,
            0.11911364485981309vw 7.747839999999999vw,
            0.030580151869158877vw 7.388327196261682vw,
            3.868116897426636e-21vw 7.009345794392523vw,
            0vw 1.7813855140186914vw,
            0vw 1.7813855140186914vw,
            0.00036989485981308407vw 1.744340831775701vw,
            0.0015268971962616824vw 1.707309831775701vw,
            0.003541983644859813vw 1.6703286261682244vw,
            0.006486130841121496vw 1.6334333271028036vw,
            0.010430315420560748vw 1.5966600467289718vw,
            0.015445514018691589vw 1.5600448971962617vw,
            0.021602703271028038vw 1.5236239906542055vw,
            0.028972859813084114vw 1.4874334392523365vw,
            0.037626960280373836vw 1.4515093551401868vw,
            0.04763598130841122vw 1.4158878504672896vw,
            0.04763598130841122vw 1.4158878504672896vw,
            0.14663689672897195vw 1.1461532172897198vw,
            0.2717443700934579vw 0.9050368598130841vw,
            0.42252348271028034vw 0.6924857453271028vw,
            0.5985393158878505vw 0.5084468411214953vw,
            0.7993569509345794vw 0.3528671144859813vw,
            1.0245414691588786vw 0.2256935327102804vw,
            1.2736579518691589vw 0.12687306308411214vw,
            1.5462714803738318vw 0.05635267289719626vw,
            1.8419471359813084vw 0.014079329439252336vw,
            2.16025vw 1.7343218741219393e-19vw,
            4.580677570093458vw 0vw,
            4.580677570093458vw 0vw,
            4.823061238317758vw 0.004625879672897197vw,
            5.042176822429907vw 0.019308018691588786vw,
            5.241665116822429vw 0.04525316705607477vw,
            5.425166915887851vw 0.08366807476635513vw,
            5.596323014018691vw 0.1357594918224299vw,
            5.758774205607476vw 0.20273416822429907vw,
            5.916161285046729vw 0.2857988539719626vw,
            6.072125046728972vw 0.38616029906542054vw,
            6.230306285046729vw 0.5050252535046729vw,
            6.394345794392523vw 0.6436004672897196vw,
            6.895560747663552vw 1.0726658878504671vw
          );
          padding-top: 3.505vw;

          > p {
            font-size: 3.271vw;
          }
        }

        .second-tag {
          width: 26.168vw;
          height: 9.346vw;
          clip-path: polygon(
            6.895560747663552vw 1.0726658878504671vw,
            6.895560747663552vw 1.0726658878504671vw,
            7.02535023364486vw 1.1817973878504673vw,
            7.151140186915889vw 1.2763671401869159vw,
            7.275266121495328vw 1.357099238317757vw,
            7.4000635514018684vw 1.4247177757009346vw,
            7.527867990654206vw 1.4799468457943925vw,
            7.661014953271028vw 1.5235105420560748vw,
            7.801839953271028vw 1.5561329579439251vw,
            7.952678504672897vw 1.5785381869158879vw,
            8.115866121495326vw 1.5914503224299066vw,
            8.29373831775701vw 1.595593457943925vw,
            23.83177570093458vw 1.595593457943925vw,
            23.83177570093458vw 1.595593457943925vw,
            24.210768457943928vw 1.626173663551402vw,
            24.57028785046729vw 1.7147072523364486vw,
            24.905524065420558vw 1.8563836822429907vw,
            25.211667289719625vw 2.0463924112149536vw,
            25.483907710280373vw 2.2799228971962617vw,
            25.71743551401869vw 2.552164598130841vw,
            25.90744088785047vw 2.858306971962617vw,
            26.04911401869159vw 3.1935394766355136vw,
            26.137645093457945vw 3.553051570093458vw,
            26.168224299065418vw 3.932032710280374vw,
            26.168224299065418vw 7.009345794392523vw,
            26.168224299065418vw 7.009345794392523vw,
            26.137645093457945vw 7.388327196261682vw,
            26.04911401869159vw 7.747839999999999vw,
            25.90744088785047vw 8.08307355140187vw,
            25.71743551401869vw 8.389217196261683vw,
            25.483907710280373vw 8.66146028037383vw,
            25.211667289719625vw 8.89499214953271vw,
            24.905524065420558vw 9.085002149532711vw,
            24.57028785046729vw 9.226679626168224vw,
            24.210768457943928vw 9.315213925233646vw,
            23.83177570093458vw 9.345794392523365vw,
            2.336448598130841vw 9.345794392523365vw,
            2.336448598130841vw 9.345794392523365vw,
            1.9574643574766355vw 9.315213925233646vw,
            1.597949906542056vw 9.226679626168224vw,
            1.2627156892523366vw 9.085002149532711vw,
            0.9565721495327103vw 8.89499214953271vw,
            0.6843297313084112vw 8.66146028037383vw,
            0.45079887850467293vw 8.389217196261683vw,
            0.26079003504672893vw 8.08307355140187vw,
            0.11911364485981309vw 7.747839999999999vw,
            0.030580151869158877vw 7.388327196261682vw,
            3.8681168974266355e-22vw 7.009345794392523vw,
            0vw 1.8344719626168224vw,
            0vw 1.8344719626168224vw,
            0.0004551586214953271vw 1.7868321658878503vw,
            0.0019007446728971963vw 1.7391966728971964vw,
            0.004456923434579439vw 1.691622637850467vw,
            0.008243860186915888vw 1.6441672149532711vw,
            0.013381720210280373vw 1.5968875584112152vw,
            0.01999066878504673vw 1.5498408224299065vw,
            0.028190871191588782vw 1.5030841612149533vw,
            0.03810249271028037vw 1.4566747289719626vw,
            0.049845698621495335vw 1.4106696799065421vw,
            0.06354065420560748vw 1.365126168224299vw,
            0.06354065420560748vw 1.365126168224299vw,
            0.1651789827102804vw 1.1050742943925234vw,
            0.2919227775700935vw 0.8726094953271029vw,
            0.4433602060747664vw 0.6676815560747663vw,
            0.6190794355140187vw 0.490240261682243vw,
            0.8186686331775701vw 0.3402353971962617vw,
            1.04171596635514vw 0.21761674766355138vw,
            1.2878096023364487vw 0.12233409813084113vw,
            1.556537708411215vw 0.05433723364485981vw,
            1.847488451869159vw 0.013575939252336447vw,
            2.16025vw 1.6723321289960513e-19vw,
            4.580677570093458vw 0vw,
            4.580677570093458vw 0vw,
            4.823061238317758vw 0.004625879672897197vw,
            5.042176822429907vw 0.019308018691588786vw,
            5.241665116822429vw 0.04525316705607477vw,
            5.425166915887851vw 0.08366807476635513vw,
            5.596323014018691vw 0.1357594918224299vw,
            5.758774205607476vw 0.20273416822429907vw,
            5.916161285046729vw 0.2857988539719626vw,
            6.072125046728972vw 0.38616029906542054vw,
            6.230306285046729vw 0.5050252535046729vw,
            6.394345794392523vw 0.6436004672897196vw,
            6.895560747663552vw 1.0726658878504671vw
          );

          padding-top: 3.505vw;

          > p {
            font-size: 3.271vw;
          }
        }
      }

      .main-para {
        font-family: 'SF_UI_Display_Bold', sans-serif;
        font-size: 3.738vw;
        line-height: 130%;
        width: 90.654vw;

        .orange {
          color: #000;
        }
      }

      > p {
        width: 90.654vw;
        font-size: 4.673vw;
        line-height: 130%;

        .bold {
          font-family: 'SF_UI_Display_Semibold', sans-serif;
        }

        .under {
          text-decoration-line: none;
        }
      }

      .woman-article {
        display: none;
      }

      .mobile-woman-article {
        display: block;
        width: 90.654vw;
        height: 57.944vw;
      }

      > blockquote {
        padding: 4.673vw 4.439vw 2.336vw 4.439vw;
        gap: 4.673vw;
        border-radius: 2.804vw;

        > div {
          flex-direction: column-reverse;
          gap: 4.673vw;
          > p {
            width: 81.776vw;
            font-size: 4.673vw;
            line-height: 130%;
          }

          .quotations {
            margin-top: 0;
            width: 6.542vw;
            height: 6.308vw;
          }
        }

        .author-quote {
          font-size: 3.738vw;
        }
      }

      .youtube {
        > h2 {
          font-size: 5.374vw;
        }

        .link {
          margin-top: 3.505vw;
          gap: 0.781vw;
          width: 90.654vw;
          height: 14.019vw;
          border-radius: 2.103vw;

          > div {
            gap: 4.673vw;
            margin-top: 4.206vw;
            margin-left: 4.907vw;

            .svg-mobile {
              display: block;
            }

            .svg-desc {
              display: none;
            }

            > svg {
              width: 5.607vw;
              height: 5.61vw;
            }

            > p {
              font-size: 3.738vw;
            }
          }
        }
      }

      .help {
        gap: 3.505vw;
        h3 {
          font-size: 5.374vw;
        }

        > div {
          gap: 4.673vw;
          .avatar {
            gap: 2.336vw;

            > img {
              width: 20.794vw;
              height: 20.794vw;
            }

            > p {
              width: 21.729vw;
              font-size: 3.271vw;
            }
          }
        }
      }
    }
    .header-article {
      width: 100vw;
      height: 97.43vw;
      .mobile-article-image {
        display: block;
        width: 100%;
        height: 100%;
        margin-top: 0;
        border-radius: 0;
      }

      > h1 {
        font-family: 'SF_UI_Display_Regular', sans-serif;
        width: 84.112vw;
        font-size: 6.308vw !important;
        font-weight: 600;
        line-height: 120%;
        left: 4.673vw;
        bottom: 3.271vw;
      }

      .lap-adap {
        display: none;
      }

      > a {
        .article-mobile-line {
          position: absolute;
          top: 11.215vw;
          left: 4.673vw;
          display: block;
          width: 7.243vw;
          height: 7.243vw;
        }
      }

      .block {
        top: 11.215vw;
        left: 4.673vw;
        padding: 1.168vw 3.505vw;
        gap: 2.336vw;
        border-radius: 1.402vw;

        a {
          > p {
            font-size: 4.206vw;
          }
        }
      }

      #menu {
        left: 76.869vw;
      }

      .article-image {
        display: none;
      }
    }

    .table-content {
      display: none;
    }
  }
}
