$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$padding-sm: 20px;
$padding-md: 28px;
$padding-lg: 40px;

$border-sm: 10px;
$border-md: 20px;
$border-lg: 40px;

@mixin breakpoint($point) {
    @if $point == xl {        
        @media (min-width: $xl) {
            @content;
        }
    }
    @if $point == lg {        
        @media (min-width: $lg) {
            @content;
        }
    }
    @if $point == md {
        @media (min-width: $md) {
            @content;
        }
    }
    @if $point == sm {        
        @media (min-width: $sm) {
            @content;
        }
    }
}

.Body {
    width: 100%; 
    padding-top: 20px; 
    padding-bottom: 49px; 
    padding-left: max($padding-sm, 50vw - 675px + $padding-sm); 
    padding-right: max($padding-sm, 50vw - 675px + $padding-sm); 
    background: white; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center; 
    gap: 40px; 
    display: inline-flex;           

    @include breakpoint(md) {
        padding-left: max($padding-md, 50vw - 675px + $padding-md); 
        padding-right: max($padding-md, 50vw - 675px + $padding-md);          
    }         

    @include breakpoint(lg) {
        padding-left: max($padding-lg, 50vw - 675px + $padding-lg); 
        padding-right: max($padding-lg, 50vw - 675px + $padding-lg);          
    }
}